[2014-10-24 02:48] rgaiacs opened #1 "Preserve history from bc?"
Should we preserve the history when copying files from swcarpentry/bc?

[2014-10-24 03:23] katyhuff commented on #1
I thought it was pretty unfortunate, personally, when we didn't preserve
history from the bootcamps repo (when moving _to_ bc). So, I'd recommend
making every effort to preserve history now. It's not super difficult and
people have personal investment in their contributions. Shouldn't we walk
the provenance talk that we talk?

_http://stackoverflow.com/questions/359424/detach-subdirectory-into-sep

[2014-10-24 06:45] gvwilson commented on #1
Absolutely: we're importing history for all the lessons, and we will
import it for the template files as well.  While we're waiting for a
usable trace of the history, though I'd like to get comments and
improvements to the stuff we want that imported history to lead to.

[2014-11-10 01:14] wking opened #8 "Cherry-pick CC BY bump to 4.0 from tbekolay/swc-template#3 ?"
The other Trevor seems to have taken down his repository, but mine is still up.  I'd expect wking/swc-template@7d018ccab (LICENSE.md: Bump the CC BY 3.0 to 4.0, 2014-10-22) would apply cleanly to anyone using the stock SWC LICENSE.md.  My commit message lists the titles from the v4 release notes, for folks who are wondering “why bump?”

[2014-11-10 17:39] jiffyclub opened #10 "Creation script URL is a 404"
http://files.software-carpentry.org/create does not exist.

[2014-11-10 18:02] gvwilson commented on #10
Correct - not going to upload it until it works properly.  I'll add a
note to README.md to that effect.

[2014-11-10 18:10] fmichonneau opened #15 "Missing dependency in instructions?"
At least on my computer (with Ubuntu 14.10), to run test/check.py I needed to install the yaml python module. Should this dependency be included in the README?

[2014-11-10 18:13] gvwilson commented on #15
I think I got the yaml module with anaconda - what Python distro are you
using?  And yes, please add a note saying that yaml is needed.

[2014-11-10 21:31] rgaiacs commented on #15
@fmichonneau At least in Debian you can [install] it with

[code]

If you use PIP you can also use

[code]

[2014-11-10 22:06] DamienIrving opened #17 "Problem with ssh cloning"
Following the instructions for building by hand, both `git clone git@github.com:/ghopper/2015-07-01-esu` (which is suggested in the instructions) and `git clone git@github.com:ghopper/2015-07-01-esu.git` (which is what you'd cut and past from GitHub) produce the following error for me:

[code]

The https cloning worked fine for me (`git clone https://github.com/ghopper/2015-07-01-esu.git`), so per

[2014-11-10 22:09] DamienIrving opened #18 "The website header information is missing"
I had a go at creating a website for a workshop I'm running next year:
http://damienirving.github.io/2015-07-13-amos/

As you'll see at that link, the site looks very plain and it's missing the header information (e.g. SWC logo, location, date, time, instructors, etc).

[2014-11-10 22:20] DamienIrving opened #19 "We should stress that the local build is optional"
I think all the info on how to build the site locally (i.e. installing Ruby, Jekyll etc) is going to scare a lot of people off. I think it should be stressed up front that the ability to build locally is not critical to creating a website. In reality, most people (i.e. those that have an internet connection) are just going to push changes to their repo on GitHub and then navigate to the website (h

[2014-11-10 22:43] rgaiacs commented on #18
Hi @DamienIrving

[code]

Before you change YAML header Jekyll built the workshop fine.

[code]

After your changes I got a error.

Make the following changes

[code]

it back to work as expected.

[2014-11-10 22:46] rgaiacs commented on #19
What about split `README.md` into `README.md` and `PREVIEWING.md`?

[2014-11-10 22:50] DamienIrving commented on #18
@r-gaia-cs Thanks for picking that up - it appears I'm trying to do a million things at once this morning and none of them well... those errors are really quite embarrassing! It's all working now.

[2014-11-10 22:50] #18 closed, assigned to nobody

[2014-11-10 22:51] DamienIrving commented on #19
@r-gaia-cs I like that idea.

[2014-11-10 22:57] gvwilson commented on #17
Hm - both work for me.  Do you have SSH keys set up with GitHub?

[2014-11-10 22:59] gvwilson commented on #19
-1 on splitting (people complain about the `README.md` vs.
`CONTRIBUTING.md` split in the `bc` repo), but +1 on telling people they
can just commit and look at changes on GitHub, then moving the build
instructions down to a section of their own.

[2014-11-10 23:07] DamienIrving commented on #17
No, I haven't, which I'm guessing means a lot of GitHub novices won't either. I guess our options are:
1. Just use https in our instructions so people don't have to go to the trouble of setting up keys
2. If there is a compelling reason to go the ssh route, provide a link to instructions for how to setup the keys

[2014-11-10 23:17] gvwilson commented on #17
+1 to changing instructions to assume HTTPS, and providing a note at the
bottom for technowhizzes saying that SSH cloning is OK too.  Can you write?

[2014-11-10 23:32] DamienIrving commented on #17
@gvwilson PR submitted

[2014-11-11 12:40] #10 closed, assigned to nobody

[2014-11-11 12:45] gvwilson opened #22 "Check that repository doesn't yet exist on GitHub during shell setup"
`tools/create` should check that the repository it's about to create _doesn't_ already exist on GitHub before doing anything further.  #16 addresses this.

[2014-11-11 12:46] gvwilson opened #23 "Add GitHub collaborators to repository during shell-driven setup."
`tools/create` is supposed to give zero or more people permission to push changes to the repo it's creating, but doesn't appear to do that.

[2014-11-11 12:47] gvwilson opened #24 "Check that the repo creation script isn't being run inside a Git repo"
Trying to run `tools/create` inside a Git repo (like this one) is a common mistake. The code in the shell script to check for this runs the right test, but isn't checking the return value properly.

[2014-11-11 12:48] gvwilson opened #25 "Check that repository was successfully cloned before trying to go into it."
The `clone_and_push` function in `tools/create` doesn't check that the repository was successfully cloned before trying to `cd` into it.  It should.

[2014-11-11 18:52] andreww opened #27 "git branch issue: "fatal: You are on a branch yet to be born""
When testing out the "by hand" instructions I ran into a problem with step 6. With my setup this gives the error `fatal: You are on a branch yet to be born`. This may be due to my (quite old) git install (version 1.7.3.4). A work around is to run `git pull upstream gh-pages:gh-pages; git checkout gh-pages` instead (replacing step 6 and 7).

[2014-11-11 18:54] andreww opened #28 "Clarification for the "by hand" instructons"
For the "by hand" instructions I see a warning at step 2: `warning: You appear to have cloned an empty repository.`. I wonder if it is worth noting that this is expected and not a problem.

[2014-11-11 20:14] rgaiacs commented on #27
@andreww Thanks very much for this feedback. Could you inform what operating system are you using?

[2014-11-11 20:35] andreww commented on #27
It's a fairly old mac (running OSX 10.6.8).

[2014-11-11 20:58] rgaiacs commented on #27
I'm not a OS X expert so I will let to others leave their comments about it.

Debian is using [git 1.7.10.4](https://packages.debian.org/wheezy/git) and for the next release will use [git 2.1.1](https://packages.debian.org/jessie/git) so I'm +1 for this work around.

[2014-11-11 20:59] willingc opened #31 "Create an automated script to set up the repo used for students' work"
It would be helpful for the workshop organizer to be able to simply set up a repo for student access. An automated script could be a useful tool.

It may be possible to use the github3.py library (http://github3py.readthedocs.org/en/latest/) to simplify some of the scripting.

[2014-11-11 21:09] jiffyclub commented on #27
An alternative formulation of steps 5 and 6 that might be more universal:
- Fetch this repository using `git fetch upstream`.
- Create a new gh-pages branch based on the one in this repo: `git checkout -b gh-pages upstream/gh-pages`.

[2014-11-11 22:27] lzamparo commented on #24
PR sent.  Getting & checking the return value in bash took a bit of poking around, but the fix I committed might also work with other git commands (e.g clone)

[2014-11-11 23:05] gvwilson commented on #24
Thanks - can you please update the comment on the PR to reference the
ticket?  That way, people looking at the ticket will automagically see a
link to the PR.

[2014-11-11 23:43] gvwilson commented on #24
Closed by #32.

[2014-11-11 23:43] #24 closed, assigned to nobody

[2014-11-11 23:49] willingc opened #33 "Example in 'create' tool throws a command not found error when multiple instructors passed"
When executing the example found in `tools/create`, a _command not found_ error is generated and references line 136.

This is the test example:
`tools/create 2015-06-18-esu "Euphoric State University" aturing ghopper`

[2014-11-12 05:07] #25 closed, assigned to nobody

[2014-11-12 05:09] gvwilson commented on #28
Closed by #29.

[2014-11-12 05:09] #28 closed, assigned to nobody

[2014-11-12 05:10] gvwilson commented on #22
Closed by #16.

[2014-11-12 05:10] #22 closed, assigned to nobody

[2014-11-12 05:15] gvwilson opened #36 "Delete/overwrite support Markdown files when copying this repository"
The automated setup script `tools/create` should erase `FAQ.md`, `DESIGN.md`, and `CUSTOMIZATION.md` (since workshop websites don't need them), and overwrite `README.md` with something very simple (since workshop websites don't need setup instructions).  The manual setup instructions should tell people to do this too.

[2014-11-12 05:38] #15 closed, assigned to nobody

[2014-11-12 12:17] gvwilson commented on #17
Closed by #21.

[2014-11-12 12:17] #17 closed, assigned to nobody

[2014-11-12 12:17] gvwilson commented on #33
Closed by #34.

[2014-11-12 12:17] #33 closed, assigned to nobody

[2014-11-12 12:20] gvwilson commented on #27
@jiffyclub If the problem actually is that @andreww was using an old version of Git, I'd prefer to recommend that website creators upgrade to Version XXX so that we can stick to the workflow and commands we show in our lesson (which is a `git pull remote branch`).

[2014-11-12 12:20] gvwilson commented on #23
Closed by #34.

[2014-11-12 12:20] #23 closed, assigned to nobody

[2014-11-12 13:08] andreww commented on #27
So the issue turns out to be that `git init` does not create the initial commit, and `git checkout -b newbranch` wants a commit as the starting point of the new branch. This came up on the git developers list in 2012 (http://thread.gmane.org/gmane.comp.version-control.git/189279/) and the conclusion was that there should be special case code to cope with this (so that what most users expect to hap

[2014-11-12 13:22] agngrant opened #38 "Ruby Versioning"
It may be worthwhile to put in what versions of Ruby are required, especially if Ruby isn't used often by the person setting up the workshop. So systems may not be supported - maybe detail what version of Ruby is the minimum support (1.9.3 seems to be the minimum).

[2014-11-12 13:25] gvwilson commented on #27
OK, how about this:
1. Check the Git version and issue a warning.
2. Always use `git fetch upstream` + `git checkout -b gh-pages
   upstream/gh-pages` in the script.
3. In the manual instructions, tell people the symptom and its cure.

That way, people who are new to Git reliably get what they need (I'm
presuming step 2 above works on newer versions of Git), and more
experienced users know what to

[2014-11-12 13:27] gvwilson commented on #38
Agreed - send a pull request with the info where you think it should go?

[2014-11-12 13:33] gvwilson commented on #19
@DamienIrving given the split of the .md files, where should this go?  And can you please draft a sentence or two?

[2014-11-12 13:33] gvwilson commented on #8
My apologies, but I don't understand what you're proposing in this one...

[2014-11-12 13:34] gvwilson commented on #1
We need a volunteer to extract and merge the history of bc's `index.html` and the setup instructions - anyone?

[2014-11-12 13:43] pipitone commented on #1
I could do this. Could you be more specific about what needs doing?

[2014-11-12 15:08] willingc opened #39 "Fix (or document) installation instructions re: HTTPS issue with older versions of git"
@benwaugh has an excellent overview of the issues with HTTPS and older versions of git. It was originally presented in PR #37. It is moved here for solution.

---

When pushing to a GitHub repository using HTTPS, there are problems if using a slightly older version of Git, in that it does not prompt for a username and password when you try to push to the remote but just reports a 403 access error.

[2014-11-12 19:07] jiffyclub commented on #27
:+1: Pretty sure fetch + checkout will work across any version of Git. Even though we don't teach fetch in our boot camps, I think this is the best way to get a local copy of a remote branch.

[2014-11-12 19:08] gvwilson commented on #27
OK - can you please update the description and the shell script to do it
this way?

[2014-11-12 19:19] jiffyclub commented on #27
The script is already doing something different:

[code]

That sort of rolls the whole mkdir/init/remote/fetch/checkout process into one command. No one has complained yet that that doesn't work on older versions of Git, so we can leave it. But I'm guessing referring to that command in the manual setup instructions might lead to too funky of a workflow?

[2014-11-12 19:32] gvwilson commented on #27
I expect most people will copy/paste, so giving them an example (rather
than ${...} variables) might be good enough - send the PR and I'll get a
couple of newcomers to Git to review?

[2014-11-12 20:16] jiffyclub commented on #27
PR is up at #40.

[2014-11-12 20:29] gvwilson commented on #27
Closed by #40.

[2014-11-12 20:29] #27 closed, assigned to nobody

[2014-11-12 20:33] gvwilson commented on #39
Does @jiffyclub's #40 fix this?

[2014-11-12 20:36] jiffyclub commented on #39
This is in the push step, which is not changed by #40. I think this https error would be an issue for both the create script and a manual setup.

[2014-11-12 23:41] DamienIrving commented on #19
@gvwilson See #41 for that sentence or two

[2014-11-13 05:35] willingc commented on #19
Merged PR #41. Thanks @DamienIrving for this helpful addition :)

[2014-11-13 05:35] #19 closed, assigned to nobody

[2014-11-13 12:26] willingc opened #43 "Add welcoming message to ongoing improvement of docs at end of README.md"
Add a new section after _Getting Help_ that would highlight the last sentence regarding filing issues and improvement. Perhaps something similar to:

**Sharing your experience**
We are committed to providing our users a pleasant workshop set up experience. If you have noticed a place where we could improve the set up experience for future workshop organizers, please share your thoughts by filing a

[2014-11-13 12:34] willingc opened #44 "Add 'bite-size' as a GitHub label to encourage new contributors"
It would be nice to be able to tag issues as 'bite-size' to encourage participation by new contributors to this project or contributions by interested folks that are short on time.

Small contribution tasks are a great way to build community and participation :sunny:

If someone with the correct permissions to add a label to this repo could do so, that would be great.

[2014-11-13 12:40] willingc commented on #38
@agngrant Good suggestion. I ran into this issue the first time that I installed the workshop template. Thanks for following up and please let me know if you need any guidance on creating a pull request.

[2014-11-13 13:43] rgaiacs commented on #44
@willingc Thanks for remember us. You can create new tags (since you can add it to issues/pull request). Unfortunately GitHub UI isn't clear how to create new tags (you can do it at https://github.com/swcarpentry/workshop-template/labels or select the tab "Labels" at the issue/pull request list).

I create the labels:
-   discussion: this issue is being used as a mini-mailing list to discuss somet

[2014-11-13 13:43] #44 closed, assigned to nobody

[2014-11-13 14:34] willingc commented on #44
@r-gaia-cs Awesome! Thanks :smiley:

[2014-11-13 18:00] gvwilson opened #45 "Tell people to use all lower case with hyphens for workshop repository names"
i.e., not 2015-01-01-EuphoricStateUniversity or anything like that.

[2014-11-13 18:01] gvwilson opened #46 "Tell people to create with a README, but *not* with a license"
Need to create a README so that the repository is immediately clonable without warnings, but we'll provide the license.

[2014-11-13 18:18] jiffyclub commented on #46
I think as of #40 people aren't instructed to clone their new repos, they're only cloning the template.

[2014-11-13 22:09] willingc commented on #38
@agngrant Thanks for creating PR #47. :+1:

Marking issue as closed.

[2014-11-13 22:09] #38 closed, assigned to nobody

[2014-11-13 22:35] cboettig opened #49 "tools/create can't handle github users with top-level github.io domains defined"
In running the `create` script

[code]

I'm asked for my Github password, after which I immediately get the error:

[code]

My requested repository does not already exist

I think there's several problems going on here.
- If I intentionally provide an incorrect password I still get this same error message, instead of a "password incorrect" error.
- I believe my Github credentials are configured su

[2014-11-13 22:40] jiffyclub commented on #49
Anyone who has 2FA configured will need to generate a token to run the script. (I tried this the other day and it worked.) We should add a note about that in the instructions. The process for creating a token is described here: https://help.github.com/articles/creating-an-access-token-for-command-line-use/

[2014-11-13 22:53] cboettig opened #50 "tools/check.py has undocumented opinions"
check.py:
- doesn't think European-ordered dates such as `15 Nov 2015` are human readable. Also, the human-readable option seems like a natural candidate for just using a Jekyll Liquid filter `{{ startdate | date: %b %d %Y}}` as an easy way to enforce a particular format... (yes, ranges get more tricky if they are split over months, or if no end-date is supplied...)
- doesn't recognize the alterna

[2014-11-14 16:42] #43 closed, assigned to nobody

[2014-11-15 21:09] gdevenyi commented on #36
Working on this now, but I don't think `CUSTOMIZATION.md` should be removed, it's good reference is somsone needs to edit the index.html afterwards

[2014-11-15 21:14] gvwilson commented on #36
But it will always be available on the web - maybe leave a link
somewhere findable?

[2014-11-15 21:21] gdevenyi commented on #36
Good point, I'll generate a replacement README which points to it instead.

[2014-11-15 21:56] gvwilson commented on #36
Gracias.

[2014-11-15 22:10] gdevenyi opened #56 "tools/create doesn't add origin properly"
In tools/create

[code]

`git remote -v`

[code]

Only has upstream listed.

[2014-11-15 22:12] gvwilson commented on #56
@jiffyclub @r-gaia-cs ?

[2014-11-15 22:14] gdevenyi commented on #56
Oh, my bad, editor did something evil.

[2014-11-15 22:14] #56 closed, assigned to nobody

[2014-11-16 16:25] gvwilson opened #58 "Test idiom is inconsistent"
tools/create in workshop_template uses a mix of styles for checking the status of shell commands:

[code]

versus

[code]

We should settle on one or the other...

[2014-11-17 05:16] jcamins opened #59 "Organizing installation instructions by software versus platform"
I notice the current template organizes installation instructions by software (separate sections for Bash, git, Python, R, SQLite) rather than by platform as used to be the case. What was the reason for the change?

My knee-jerk reaction is that organizing by platform was much more useful to students, because at least some of them are not going to know what "git" is until after the workshop, and m

[2014-11-17 05:19] jcamins commented on #59
Since we use Jekyll, it should be easy to add a flag in the metadata header to toggle the git/Python/R/SQLite installation instructions so that the teachers don't have to remove three R sections, if that was the reason for the change.

[2014-11-17 09:30] rgaiacs commented on #59
Organizing by software make easy for instructors edit by hand the home page.

You aren't the first one to propose this. We tried it before but when instructors
want to edit the installation instructions they had troubles to do it because of
Jekyll/Liquid markup.

[2014-11-17 10:43] gvwilson commented on #59
Opinion seems split pretty equally on platform-then-package vs.
package-then-platform, so I grouped by package so that website creators
would only have to delete one (large) section (because they're not
teaching a particular package) rather than several scattered sections
(because they always have to cover all three platforms).

[2014-11-17 10:43] gvwilson commented on #59
@jduckles added that; people found it less easy to understand and use
than simply deleting the sections of the template.  (I think many of our
instructors are new to templating.)

[2014-11-17 13:20] jcamins commented on #59
I see. Thanks for the clarification. If there were more of a consensus that grouping by platform was preferable, we could probably use a Jekyll plugin to keep the input grouped by package but group the output by platform. As there isn't a consensus, of course, keeping it the way it is makes as much sense as not.

[2014-11-17 13:20] #59 closed, assigned to nobody

[2014-11-17 16:15] olafleur commented on #49
I've got the same error here. I do not have 2FA configured and I have the same error.

[2014-11-17 16:18] gdevenyi commented on #49
I didn't have any issues with this when I was working on it the other day.

We need more information, such as your `git --version`

[2014-11-17 16:27] olafleur commented on #49
I have git version 1.9.1
Everything works perfectly with the manual version.

[2014-11-17 16:28] willingc commented on #58
I don't know which to pick since I don't have a deep enough knowledge of bash. I would encourage choosing whichever approach: a) is safest on a user system if a command were to fail, b) most robust from a security perspective, c) most understandable to those without a deep bash knowledge.

For example, if a) and b) are satisfied by both methods; then I would opt for the first method for readabilit

[2014-11-17 16:31] gdevenyi commented on #49
Have you moved/renamed or otherwise modified your github account since you originally created it?

[2014-11-17 16:31] olafleur commented on #49
I don't think so.

[2014-11-17 16:32] gdevenyi commented on #58
The difference is purely readability, one uses an explicit storage of the return code, while the other implicit.

Personally, I prefer explicit, which is what I wrote.

[2014-11-17 16:44] olafleur commented on #49
If it can be of any help, I'm using Linux Mint 17 (which should behave like Ubuntu 14.04, I think).

[2014-11-17 18:27] gvwilson commented on #58
Whoever writes the PR first gets to choose which style we use :-)

[2014-11-17 21:27] gdevenyi commented on #49
Okay, well for some reason github is returning for some users 301, which our simple script fails on (correctly).

We're going to need to do some interactive testing as to why certain accounts return this, and how to handle it.

[2014-11-17 21:31] gdevenyi commented on #49
Ah ha! @olafleur do you have a github domain configured?

[2014-11-17 21:32] gdevenyi commented on #49
I see the problem we're having, users with top-level domains defined get a redirect to their domain

[code]

We need to manage this somehow.

[2014-11-18 01:31] rgaiacs commented on #49
What about use something like

[code]

[2014-11-18 03:56] olafleur commented on #49
Yes, I do have a top-level domain defined.

[2014-11-18 15:05] gdevenyi commented on #49
Curl will follow redirects if we add `-L`

[code]

Now we just need to adjust the grep statement to handle when curl returns both 301 (noise) and 404 (the answer we want)

[2014-11-18 16:58] willingc commented on #45
Closing thanks to @gdevenyi :cake:

[2014-11-18 16:58] #45 closed, assigned to nobody

[2014-11-18 17:01] willingc commented on #49
Great problem solving re: top level domains.

[2014-11-18 22:30] sritchie73 opened #64 "Template stylesheet not rendered due to perceived security flaw by Chrome/Firefox"
I've just gone through the process of creating a bootcamp website as described in this repo. The site passes `tools/check.py` and renders correctly when I run `tools/preview`. However, once pushed to github, none of the images render and styles are not applied to the site. Both Chrome and Firefox tell me that the page is insecure, and I have to allow the unsecure parts of the page for it to correc

[2014-11-18 22:36] jiffyclub commented on #64
FYI, these are the errors you get:

[code]

I don't know how practical it would be, but we really ought to have https for software-carpentry.org.

[2014-11-18 22:37] jiffyclub commented on #64
Or if we can't get https for software-carpentry.org, put our static assets on a CDN somewhere that does have https. (Even gh-pages would work.)

[2014-11-18 22:43] sritchie73 commented on #64
Ah: it may just be that I'm using the https-everywhere addon. The page renders correctly if I disable that and load over HTTP instead of HTTPS.

[2014-11-18 22:48] gdevenyi commented on #64
Incidentally, https://letsencrypt.org/

##

Gabriel A. Devenyi B.Eng. Ph.D.
Research Computing Associate
Computational Brain Anatomy Laboratory
Cerebral Imaging Center
Douglas Mental Health University Institute
McGill University
t: 514.761.6131x4781
e: gdevenyi@gmail.com

On Tue, Nov 18, 2014 at 5:43 PM, Scott Ritchie notifications@github.com
wrote:

[2014-11-18 23:01] gvwilson commented on #64
If you know how to set it up, we can set it up.

[2014-11-19 14:37] gdevenyi commented on #64
I have no idea how SWC is currently hosted so all I can do right now is make the suggestion :)

[2014-11-19 14:43] gvwilson commented on #64
@jpipitone can we set up a proper certificate to solve this?

[2014-11-20 17:07] #36 closed, assigned to nobody

[2014-11-20 17:20] willingc commented on #64
I agree that HTTPS would be preferable. I'm not a sysops person, but I fairly confident that OpenHatch uses CloudFlare.

More info on CloudFlare: http://blog.cloudflare.com/introducing-universal-ssl/

@gdevenyi +1 to letsencrypt

[2014-11-20 18:00] lzamparo opened #65 "standardize tests for return codes in tools/create"
in tools/create, the return codes are being tested in differnt ways:

[code]

versus

[code]

I've got a PR that standardizes them.  While I was at it, I wrote an additional script to test the simpler helper functions in tools/create that works nicely, but requires the helper functions to send SIGINT explicitly with kill, rather than using exit 2 (which cannot be trapped):

[code]

Anyone object t

[2014-11-20 19:08] gvwilson commented on #65
Hi Lee,

Thanks for doing this - can you please send one PR that only has the
exit (simpler to merge, allows us to go forward), and then we can talk
about whether we want to switch to 'kill' and whether or not to build
unit tests for this?

Thanks again,
Greg

[2014-11-20 19:29] lzamparo commented on #65
Sure.  Sent now.

[2014-11-20 21:40] willingc commented on #58
For your reading pleasure, http://mywiki.wooledge.org/BashFAQ/031 and http://wiki.bash-hackers.org/commands/classictest

I believe there is now a PR on this so I will merge it since test and `[` is more POSIX compliant versus `[[`

[2014-11-20 22:07] #58 closed, assigned to nobody

[2014-11-21 01:19] willingc commented on #65
@lzamparo I'm +1 as I mentioned on the PR to adding a comment to each function of the script. It may not be necessary for a bash developer but it does make maintaining the scripts and improves user experience for those setting up workshops.

As for the issue of kill vs exit, I think a couple of things are nice from a user standpoint for scripts: 1) have a dry run option for the scripts to simulate

[2014-11-21 01:29] gvwilson commented on #65
Are we in danger of over-engineering this script at this point?

[2014-11-21 01:29] gdevenyi commented on #65
If we stop here, we're fine.

If we start enforcing the date format....

[2014-11-21 01:30] gvwilson commented on #65
How about we wrap this and file a ticket for that? :-)

[2014-11-21 01:59] willingc commented on #65
Totally cool with wrapping this up. I will transfer the comments above to a enhancement or wish list issue.

So just to clarify @gvwilson, I will add 2 enhancement issues: 1) tests; 2) user error messages.

From my view, the two most important things are: a) the script works which it looks like it does; b) when for whatever reason it doesn't work, it doesn't do anything destructive and the user ca

[2014-11-21 01:59] #65 closed, assigned to nobody

[2014-11-21 02:08] willingc opened #68 "Edit any error messages in `tools/create` that could improve user experience"
As a result of discussion on issue #65, it is helpful to provide meaningful, detailed messages to the user when errors are displayed.

The messages should be helpful to a user with command line and bash experience (i.e. setting paths and environment variables) yet may not be proficient with bash scripting.

[2014-11-21 02:14] willingc opened #69 "Add tests to `tools/create` as needed to support user experience"
As a result of discussion in #65, adding tests to the `tools/create` are an enhancement to the script. The tests should be added as needed and based on feedback from users (especially the first few groups to use this version of the workshop-template).

[2014-11-26 11:11] gvwilson opened #74 "Validator should check country names."
The validator should check the country names in the header against a list, so that people don't try to create workshops with countries like 'US' or 'United States' (it has to be hyphenated as 'United-States' in order to match the names of flags in the final website).

[2014-11-26 11:24] willingc opened #75 "Revise for clarity Semi Automated Setup instruction in README.md"
Steps 1 to 5 in the Semi Automated Setup section of `README.md` should be more user friendly and be consistent on script name `workshop-create` or `create`.

As the workshop-create script has improved over the past couple of weeks, the Semi Automated Setup instructions should be revised to reflect actual user experience.

Below are examples of the current user experience on a Mac using OS X 10.9.

[2014-11-29 01:34] rgaiacs opened #77 "tools/check.py need improve to support issue at YAML header"
YAML header are of the form

[code]

Users can break YAML header by accident. E.g. having

[code]

`tools/check.py` don't detect this:

[code]

[2014-12-01 23:13] pipitone commented on #64
We can. i've started this process with our host. The site will appear down for a few hours as DNS propagates the new IP address (step 1 in assigning an ssl certificate).

[2014-12-01 23:48] gvwilson commented on #64
Thanks.  Should be back up tomorrow?

[2014-12-01 23:57] pipitone commented on #64
For most of the world, it's all good right now:

   https://www.whatsmydns.net/#A/software-carpentry.org/143.95.62.73

Your local DNS cache may still have the old IP address though (if you've
been to the site recently) so you can either manually flush it or wait
for that to happen in the fullness of time.

[2014-12-02 02:19] gvwilson commented on #64
Hi Jon,

Did this
https://documentation.cpanel.net/display/CKB/How%20To%20Clear%20Your%20DNS%20Cache
to try to clear my DNS cache (Mac OS X 10.8) - tells me "no matching
processes were found".  "ps aux | grep -i dns" gives me something called
"_mdnsresponder" with a PID of 49, so presumably that's what I should
try to kill, but again, killall says "no matching". Rebooted, no effect
- anything else

[2014-12-02 02:26] pipitone commented on #64
Your ISP's DNS server may not yet have the right ip address. To confirm,
try running:

[code]

It should, now, return 143.95.62.73. If not, you'll need to wait.

Sorry, should have done this later in the evening.

[2014-12-02 02:42] gvwilson commented on #64
Yup, that's what I get as an IP.  I'll wait 'til morning (and please
don't apologize, I'm grateful to you for doing this).
Cheers,
Greg

On 2014-12-01 9:26 PM, Jon Pipitone wrote:

##

Dr. Greg Wilson    | gvwilson@software-carpentry.org
Software Carpentry | http://software-carpentry.org

[2014-12-02 03:35] jiffyclub commented on #64
I'm getting the correct IP for software-carpentry.org, but when I try to go to https://software-carpentry.org I get this warning from Chrome:

![screenshot 2014-12-01 19 33 27](https://cloud.githubusercontent.com/assets/920492/5257635/2f50ae18-7991-11e4-9afa-3ce6e5a5d89a.png)

[2014-12-02 03:42] pipitone commented on #64
That's expected. The cert isn't installed yet.

[2014-12-02 10:15] gvwilson commented on #64
I'm also still getting the warning page (early Tuesday morning) :-(

[2014-12-02 11:41] rgaiacs commented on #64
When I try to visit https://software-carpentry.org/ with Firefox (and after I accept the certificate) I got

![swc](https://cloud.githubusercontent.com/assets/1506457/5262015/5279584c-7a07-11e4-8851-bcfc12123e5a.jpg)

I don't know why with Chromium (and [Epiphany](https://wiki.gnome.org/Apps/Web)) I don't get this problem.

[2014-12-02 12:22] gvwilson commented on #64
I had to erase my Firefox history (stuff was being cached locally) and
also flush the DNS cache on my machine.

[2014-12-02 12:39] pipitone commented on #64
Everyone, the SSL certificate is _not yet_ installed. Hold on.  I've
only just switched the site over to its own IP.

[2014-12-08 15:05] timtomch commented on #64
Do we have an update on this issue? As of today (Dec. 8, 2014), I still get the ERR_CERT_AUTHORITY_INVALID warning message. Thanks @pipitone for looking into this :)

[2014-12-09 19:08] zonca commented on #68
I recently tried to use the script for creating https://github.com/zonca/2014-12-16-lbl, it didn't work,

I get:

[code]

I am too lazy to debug a bash script, if it were in Python instead, I would give it a try immediately. I guess other instructors might have the same feeling.
What about implementing `workshop-create` in Python?

[2014-12-09 20:55] rgaiacs commented on #68
@zonca Thanks for the feedback.

This can happen because (1) you lost your internet connection, (2) your password is wrong or (3) the repository already exist.

GitHub API return a JSON with a description of why the request fail. @gvwilson prefers to ignore the JSON so that users have a clear message but this makes hard to debug the script.

I like Python but we need to make the script compatible

[2014-12-09 20:56] tomwright01 commented on #68
Looking at the script, reason 3 "Repository already exists" should already be covered with another error message.

[2014-12-09 21:12] zonca commented on #68
It is definitely none of those.

Here the error (got removing `-s` from `curl`):

[code]

this is solved adding `--insecure` to the `curl` call inside `create-repo`. I'm on Debian Testing.
After that the script works fine.

[2014-12-09 21:15] zonca commented on #68
Still I think that a `create-workshop` script in Python with the only requirement of having `requests` installed looks reasonable.

[2014-12-17 14:50] gvwilson opened #85 "Include link to workshop website in installation checking scripts."
The installation checking scripts in the `setup` directory currently point people at `http://software-carpentry.org/setup/` when things go wrong.  They should point at the particular workshop's website instead, but we can't (easily) inject that URL into the scripts (which will be downloaded and run on the learners' machines).

See #83 for some discussion.

[2014-12-18 14:45] gvwilson opened #91 "Use a makefile to drive commands?"
We decided to put shell scripts in the `tools` directory, and have people invoke them by name, to do common tasks so that people wouldn't need to install `make`.  This is inconsistent with both the lesson template and the main website, and since we're hoping instructors will frequently update lessons, it seems silly to have different tooling for workshops.  I therefore propose that we create a Mak

[2014-12-18 14:46] gvwilson commented on #91
@karinlag @snacktavish @dbarneche what do you think?

[2014-12-18 15:06] wking commented on #91
On Thu, Dec 18, 2014 at 06:45:42AM -0800, Greg Wilson wrote:

Why is this?  I'd expect most workshop repositories will be “create,
teach, and abandon,” while lesson repositories will see ongoing
maintenance.  I'm not against using Make for consistency, but I don't
see a _need_ for consistency here.  The instructor pool is also wider
than the lesson-maintainer pool, and folks on Windows machines mi

[2014-12-19 03:26] #1 closed, assigned to nobody

[2014-12-19 03:26] gvwilson commented on #8
Can this one be closed?

[2014-12-19 04:59] wking commented on #8
On Thu, Dec 18, 2014 at 07:26:26PM -0800, Greg Wilson wrote:

I don't think so, and sorry for missing your Nov. 12th comment.

I'm suggesting that we update our CC BY 3.0 license for instructional
material [1](https://github.com/swcarpentry/workshop-template/blob/a11a4548e97ce4ac4e57aab15694008a7ff04a01/LICENSE.md#instructional-material) to the CC BY 4.0 license.  That's what I did in
wking/swc-te

[2014-12-19 05:10] willingc opened #93 "404 error when trying to download script for workshop-create"
When attempting to test #84, I tried to download the script from the link in the instructions.
http://files.software-carpentry.org/workshop-create

Received the following 404 error:
The requested URL /workshop-create was not found on this server.
Additionally, a 404 Not Found error was encountered while trying to use an ErrorDocument to handle the request.

Perhaps this is due to PR #90.

[2014-12-19 10:35] gvwilson commented on #8
+1 to updating the license to CC BY 4.0.  Can you please also update the license in the `site` repo and the `lesson-template` repo and then give me a shout? I'll merge the license update from `lesson-template/core` into the active lesson repositories.

[2014-12-19 10:42] rgaiacs commented on #8
`lesson-template` repo is using CC BY 4.0:

[code]

[2014-12-19 10:45] gvwilson commented on #93
Closed by #93.

[2014-12-19 10:45] #93 closed, assigned to nobody

[2014-12-19 12:44] gvwilson commented on #8
Thanks - can you please merge with `site` and `workshop-template` and I'll start merging the license into the individual lesson repos?

[2014-12-19 14:05] rgaiacs commented on #8
@gvwilson

[code]

Should I replace "Software Carpentry, Ltd" with "Software Carpentry Foundation"?

[2014-12-19 16:31] wking commented on #8
On Fri, Dec 19, 2014 at 02:35:28AM -0800, Greg Wilson wrote:

Even if lesson-template/core wasn't already using CC BY 4.0, updating
the lesson repositories would happen automatically if/when their
maintainers next pulled from lesson-template/core.  I don't think we
need to actively push things like this out.

[2014-12-19 17:25] dbarneche commented on #91
@gvwilson where is the `lesson-template` directory located?

[2014-12-19 17:46] gvwilson commented on #8
My experience is that lesson maintainers will only update when we remind
them - this is part of why I created a mailing list for maintainers (to
send out the pings).  Given how early/rough things are, I'll push this time.

[2014-12-19 17:49] gvwilson commented on #91
http://github.com/swcarpentry/lesson-template

On 2014-12-19 12:25 PM, dbarneche wrote:

##

Dr. Greg Wilson    | gvwilson@software-carpentry.org
Software Carpentry | http://software-carpentry.org

[2014-12-19 17:54] wking commented on #8
On Fri, Dec 19, 2014 at 09:46:29AM -0800, Greg Wilson wrote:

I'm still in favor of spreading this information through version bumps
and release announcements.  Periodically checking your dependencies
for updates is part of being a maintainer, and there's an Atom feed
for those who want to subscribe to updates that way [1](https://github.com/swcarpentry/lesson-template/releases.atom).  For a
popul

[2014-12-19 19:01] jiffyclub opened #97 "Add CONTRIBUTING.md"
A [CONTRIBUTING.md](https://github.com/blog/1184-contributing-guidelines) file is a good place to put style and conduct recommendations for contributors. The [bc repo has one](https://github.com/swcarpentry/bc/blob/gh-pages/CONTRIBUTING.md) that might be useful as a template.

Opened per discussion in #92,

[2014-12-19 19:40] dlebauer opened #98 "Create CONTRIBUTING.md"
Following discussion in #92, can be adapted from the [CONTRIBUTING.md in swcarpentry/bc](https://github.com/swcarpentry/bc/blob/gh-pages/CONTRIBUTING.md)

[2014-12-19 19:42] jiffyclub commented on #98
Thanks @dlebauer, but I already opened this in #97.

[2014-12-19 19:42] #98 closed, assigned to gvwilson

[2014-12-19 21:06] rgaiacs commented on #8
What about use [GitHub's API to create a issue](https://developer.github.com/v3/issues/#create-an-issue) for merge important changes from `workshop-template` or `lesson-template`?

[2014-12-19 21:11] wking commented on #8
On Fri, Dec 19, 2014 at 01:06:36PM -0800, Raniere Silva wrote:

I still don't understand the need to push changes out.  If the lesson
maintainers (and workshop leads?) want to follow their upstream
packages' release streams, then great.  If they decide not to follow
them, opening issues in their repositories (how do we identify them
all?), seems overly aggressive.  Is following the releases Atom f

[2014-12-19 22:03] rgaiacs commented on #8
I agree with that for workshop repositories.

In the case of lessons repositories hosted under swcarpentry account I don't see
it overly aggressive.

And sorry to mix the conversation of `workshop-template` and `lesson-template`.

[2014-12-19 22:51] wking commented on #8
On Fri, Dec 19, 2014 at 02:03:37PM -0800, Raniere Silva wrote:

I've spun the lesson-template part of this out into
swcarpentry/lesson-template#76.

[2014-12-20 13:47] dbarneche commented on #91
+1 Use a makefile to drive commands
I personally think it is a good call. I understand @wking “create, teach, and abandon” argument, and yet I think having make installed is not a pain at all and provides an easy and standardised/consistent way of doing things.

[2014-12-20 14:43] gvwilson opened #100 "Document need to make workshop setup script executable after download"
Nothing in the docs say 'chmod +x' after downloading - say that, or tell people to run with 'bash swc-workshop-setup'.

[2014-12-20 14:44] gvwilson opened #101 "Downloaded workshop setup script seems to save as .txt on Mac"
When the workshop setup script is downloaded on a Mac, it may save as `.txt` instead of `.sh` - document so that people aren't confused.

[2014-12-20 14:51] gvwilson opened #102 "Error message for country names should say what names are acceptable"

[2014-12-20 14:51] #74 closed, assigned to nobody

[2014-12-21 01:46] rgaiacs commented on #100
Yesterday I had open a pull request for this, see #99.

[2014-12-21 01:51] #100 closed, assigned to nobody

[2014-12-21 01:51] #102 closed, assigned to nobody

[2014-12-24 08:08] andreww opened #104 "Mention that participants need a (up to date) web browser"
In the setup instructions for participants (in index.html) we do not currently say that people will need a web browser. This is probably fine as everybody will have one. However, the requirements for accessing github are not totally trivial (e.g. see this https://github.com/blog/1937-improving-github-s-ssl-setup). I wonder if it's worth including a line pointing at this: https://help.github.com/ar

[2014-12-24 10:45] aaren commented on #104
@andreww actually this did come up at the Leeds workshop :). One person had Ubuntu that they hadn't updated for nearly 2 years. Their version of firefox had difficulty using github. I'm not sure exactly why (weird layout, buttons not working) and it was fixed with an upgrade.

[2014-12-25 18:10] rgaiacs commented on #104
I'm +1 to add web browser as one of the softwares that we request students to
install.

In one of the workshops that I participate one student was using Windows XP with
native Internet Explore (from ~2005) that doesn't have support for all the HTML5
features that IPython Notebook request (the student only got a white screen when
visiting the IPython Notebook local server).

[2014-12-27 00:03] rgaiacs opened #106 "Add merge tool to software list"
In https://github.com/swcarpentry/bc/issues/527 we discuss to request students to install a merge tool.

[2015-01-07 00:50] rgaiacs commented on #8
I'm closing this since  #96 was merged.

[2015-01-07 00:50] #8 closed, assigned to nobody

[2015-01-07 21:55] raynamharris opened #113 "add brief instructions for committing changes"
The following section need instructions on how to commit in addtion to push
1. Commit your changes and push to the gh-pages branch of your repository using
   $ git push origin gh-pages

Here's a suggestions
$ git commit -a

[2015-01-07 21:58] michaellevy opened #114 "Origin add doesn't work on Windows Github shell"
When we tried to `git remote add origin ...` got error `fatal remote origin already exists`.

This worked: `git remote set-url origin ...`

[2015-01-07 22:00] SamPenrose commented on #46
Aleksandra said NOT to create a README in the Davis T3.

[2015-01-07 22:05] moorepants opened #116 "Some notes on the manual setup"
- step 6 should be listed as optional because you may not have all the software installed
- in step 7 you should have the commit command explicitly listed and not repeat the push command
- in step 6 a hyper link to the dependency installation procedure would be useful

[2015-01-07 22:05] eseiver opened #117 "Change example username to generic"
Instead of ghopper (which is easy to overlook), change the example to e.g. YOURUSERNAME, [USERNAME], etc

in readme.md

[2015-01-07 22:06] eseiver opened #118 "Change $ in example bash commands"
Make it so that people can directly copy and paste the bash commands from the text box. The '$' is still a useful placeholder, so place it to the left of the box.

[2015-01-07 22:07] eseiver opened #119 "Typo in directions"
in the customization.md file, there's a word missing

"root must the path"

[2015-01-07 22:08] eseiver opened #120 "Change directions for example address"
Make it more clear in the index.html doc that the street address should be all on one line, separated by commas

[2015-01-07 22:10] SamPenrose opened #121 "Confusing sequence in preview instructions"
The "If you have installed the software described below" bit about preview was missed by three of us. Consider moving jekyll installation instructions before preview instructions.

[2015-01-07 22:11] eseiver opened #122 "get rid of humandate"
In the index.html file, either:
1. create a more meaningful variable name/desc to make clear humandate = "human-readable" date
2. do away with humandate entirely and infer from the machine readable entry.

[2015-01-07 22:12] gpratt commented on #116
Step 6 dependency instillation instructions are below but listed as "Previewing Changes Locally" I would change title to "Dependencies"

[2015-01-07 22:15] eseiver opened #123 "UK, USA should be allowed for country names"
For index.html file. The UK can only be entered as "United-Kingdom", not even "United Kingdom"! And yet it renders as "UK"  on the github site. There's a similar issue where "USA" is not allowable for the United States and is omitted from the site. Allow for multiple entries to resolve to these countries.

[2015-01-07 22:22] wking commented on #123
This is related to the deferred [1](https://github.com/swcarpentry/amy/issues/62#issuecomment-66980148) swcarpentry/amy#62, where
we want to eventually use the third-party django-countries [2](https://github.com/swcarpentry/amy/issues/62#issuecomment-66933551) and I'd
prefer to use the ISO 3166-1 two character Country.code or
three-character Country.alpha3 for countries in the workshop metadata.

[2015-01-07 22:22] camillescott opened #124 "Add a note about whitespace at beginning"
Add a note that any whitespace before the YAML header breaks the rendering

[2015-01-07 22:24] christi3k opened #125 "url for github ribbon is hard-coded"
The url in the href of github-ribbon should use site.lesson_repo it it's updated and accurate when workshop template is forked.

[2015-01-07 22:30] christi3k commented on #125
Oh I just realized this may be intentional so that people are linked back to swcarpentry workshop template repo instead of individual workshop repos. Is that the case?

[2015-01-07 22:41] ACharbonneau opened #127 "Grammer edit"
Line 122 says:
For some links work properly
                       ^
                       to

[2015-01-07 23:00] rgaiacs commented on #114
@michaellevy Could you be a little more clear? If you follow the instructions at `README.md`

you shouldn't have get the error. Maybe you had skip the `-o upstream`?

[2015-01-07 23:15] rgaiacs commented on #118
@eseiver Thanks for the feedback. I'm -1 to remove the `$` because it make easy to read. For example, when reading

[code]

I know that I should first type `foo` follow by ENTER and after get the output of it type `bar` follow by ENTER. Instead, when reading

[code]

I didn't know if it is one command with one argument or two commands.

Could you provide one example? Maybe with it you can persuade

[2015-01-07 23:18] rgaiacs commented on #122
Thanks for the feedback. @gvwilson Could you provide some information about the design choices here?

[2015-01-07 23:24] rgaiacs commented on #125
Thanks for your feedback.

They link to https://github.com/swcarpentry/bc that was the home of Software Carpentry's lessons and the starting point to workshop pages. As you figure out this was by design so that people fork the original lessons and send pull requests to it.

I will leave this open since we need to change this behavior since we split https://github.com/swcarpentry/bc in small reposi

[2015-01-08 05:13] michaellevy commented on #114
@r-gaia-cs I just reproduced the error, again following the template exactly.

[2015-01-08 15:17] gvwilson opened #128 "tests for check.py do not correctly spot blank lines as a problem"
`test_check_with_blank_lines` in `tools/test_check.py` should fail, but doesn't (blank lines should be reported as a problem in the YAML header).

As part of fixing this, we should get rid of `get_header` (which is manually parsing YAML) and use the same trick used in the main website:

[code]

This will require refactoring elsewhere.

[2015-01-08 20:15] gvwilson commented on #114
Thanks for the bug report, Michael - what version of Windows are you
using, and what version of Git, and did you install from source, by
downloading from GitHub, or...?
Thanks,
Greg

[2015-01-08 20:41] michaellevy commented on #114
Hi Greg,

Windows 7 Enterprise. Git Bash says git version 1.8.1.msysgit.1.

Are you asking about how I installed Git? I believe it was part of a (huge and over-my-head) download and install session in advance of a SWC workshop ~2 years ago.

BTW, same error in Git Bash as in PowerShell.

[2015-01-08 20:50] jiffyclub commented on #114
I helped with this one yesterday. After running `git clone -b gh-pages -o upstream https://github.com/swcarpentry/workshop-template.git 2015-07-01-esu` there is a remote called "origin" with no associated URL. We should try this with a newer version of Git.

@michaellevy, can you try installing the latest Git and try the procedure again? http://git-scm.com/downloads

[2015-01-08 23:30] gvwilson commented on #118
I agree with this change, I just don't know how to implement it in
Markdown - if we were using an HTML table, we could put the $ for input
lines in column 1, and the command in column 2 (with the output below
it, also in column 2).  Elizabeth, can you think of a way to Markdown
our way to paradise?
Cheers,
G

[2015-01-08 23:33] gvwilson commented on #122
Sure - the problem is that if the startdate is 2015-01-01 and the
enddate is 2015-01-04, the workshop could be:
-   one day on 2015-01-01 and one day on 2015-01-04
-   half a day on each of those four days
-   a four-day workshop

and we can't infer te right answer from the calendar interval.  The
"right" solution is to allow people to insert a blob of iCal or
something like that, but that would b

[2015-01-08 23:46] wking commented on #122
On Thu, Jan 08, 2015 at 03:33:39PM -0800, Greg Wilson wrote:

Why not?  Presumably only folks who spoke the target language would be
interested in the finer details of the human-readable field.  The rest
of us could get the general idea from the machine-readable fields.

How about ‘date-notes’ or some YAML-y version thereof?

[2015-01-09 00:18] rgaiacs commented on #118
I thought to use

[code]

and CSS to add `$` before the commands. The side effect is that the `$` will be only visible when viewing the HTML page locally, from GitHub Pages or from Software Carpentry website, i.e., **not** visible at https://github.com/swcarpentry/workshop-template/blob/gh-pages/README.md.

[2015-01-09 18:47] gdevenyi commented on #118
I agree with @r-gaia-cs that the solution is to manage with the CSS layout, however. I'm not sure I agree with making it easier to copy-paste commands.

Part of the point is to follow along interactively and enabling copy and paste behavior could reduce that.

[2015-01-09 18:54] wking commented on #118
On Fri, Jan 09, 2015 at 10:47:23AM -0800, Gabriel A. Devenyi wrote:

I don't think that the presence or absence of a leading $ has much
impact on copy-paste-ability.  The think that makes that hard is the
line-continuation prompt (PS2):

  $ echo \

That's a silly example, but I often use line-continuation for pipes:

  $ echo hi there |

since that reads more easily than cramming a bunch of long

[2015-01-09 19:34] gvwilson commented on #118
Whatever is implemented should also be applied to Python lessons where
we show interactive use, and ditto R and SQL - anything with a prompt.

[2015-01-09 22:03] rgaiacs commented on #118
I think that @eseiver as talking about the `README.md` from this repository and **not** about our lessons. In many text editors if you triple click one line it will select the hole line and you can copy and paste it easily other than click-hold, select, drop, copy and past to avoid the `$`. I'm OK to replace

[code]

for

[code]

on `README.md` **only** although I prefer keep it as it is since is

[2015-01-10 00:43] rgaiacs opened #130 "Check for missing end-of-YAML marker in header"
If instructors corrupt the YAML header by removing the end mark they will get something crypt:

[code]

Will be nice to identify this error early.

[2015-01-10 00:50] rgaiacs commented on #128
I'm closing this due #129.

[2015-01-10 00:50] #128 closed, assigned to nobody

[2015-01-10 00:53] rgaiacs commented on #124
`tools/check.py` now verify this, see #129.

[2015-01-10 00:53] #124 closed, assigned to nobody

[2015-01-10 00:59] #119 closed, assigned to nobody

[2015-01-10 01:02] rgaiacs commented on #117
I'm closing this to keep the conversation in  #126.

[2015-01-10 01:02] #117 closed, assigned to nobody

[2015-01-10 01:05] rgaiacs commented on #113
I'm closing this due https://github.com/swcarpentry/workshop-template/pull/126/files#diff-04c6e90faac2675aa89e2176d2eec7d8R144.

[2015-01-10 01:05] #113 closed, assigned to nobody

[2015-01-11 03:25] michaellevy commented on #114
Updating Git solved the problem. Thanks all.

[2015-01-11 03:25] #114 closed, assigned to nobody

[2015-01-14 16:57] timtomch commented on #64
Sorry to insist, but do we have a fix?

[2015-01-14 17:52] gvwilson commented on #64
@pipitone has been away over the holidays, so I don't know what the status of this is.  I presume the error is still showing up?

[2015-01-15 15:23] aaren opened #135 "virtual machine image is out of date"
The [virtual machine that is linked](https://github.com/swcarpentry/workshop-template/blob/gh-pages/_config.yml#L17) is out of date and has Anaconda with IPython 1.1.

[code]

This link needs to point at a VM that runs an updated version of Anaconda.

[2015-01-15 15:24] aaren commented on #135
@andreww this was an issue in the Leeds workshop.

[2015-01-15 18:57] abostroem opened #136 "setup/swcarpentry-installation-test-2.py should test the tools we use most commonly"
The current version of setup/swcarpentry-installation-test-2.py tests for everything we could possibly use including tools like Mayavi that are not standardly taught. It would be good to have only the packages that we teach standardly uncommented so that students who use this script rather than a customized one for the workshop. I would comment:
- Easy Mercurial (I don't think we have lesson mater

[2015-01-15 19:26] wking commented on #136
On Thu, Jan 15, 2015 at 10:57:14AM -0800, Azalee Bostroem wrote:

I don't think “standardly taught” is well defined ;).  It's hard to
imagine a case where you'd want both Git and Mercurial, and if you're
already going in to comment those accordingly, it doesn't seem like
much additional burden to touch up the rest of the entries.

It would be pretty easy for individual instructors to setup branche

[2015-01-15 20:37] abostroem commented on #136
@wking I agree there is no single testing script that works for every workshop (R vs python, git vs mercurial, are you teaching SQL...). However I think the installation testing script should reflect our core material and what is being taught in most workshops. mayavi is not in our core material (what lesson does that belong to?). Likewise - testing is not part of our required teaching material (a

[2015-01-15 21:03] wking commented on #136
On Thu, Jan 15, 2015 at 12:37:58PM -0800, Azalee Bostroem wrote:

That's reasonable.  Going back to your initial list, I'd recommend
leaving the following uncommented:
- make, which has an official lesson now [1](https://github.com/swcarpentry/make-condensed-reproduce-paper).
- virtual-pypi-installer, since folks teaching Python-based workshops
  might want students to install something like ipyth

[2015-01-20 15:11] gvwilson opened #137 "CSS files are out of step"
Workshops currently load CSS from `bc/css/swc.css` and `bc/css/swc-bootstrap.css` (which are installed on the web at `http://software-carpentry.org/v5/css/...`).  These files are not the same as the ones the main web site uses (which installed in `http://software-carpentry.org/css/...` _without_ `v5` in the path).  If a workshop website is rendered using the CSS that the main website uses, it look

[2015-01-20 15:31] rgaiacs commented on #137
The bootstrap library that we are using is a little old. I would like that we update it when reconcile the two sets of CSS.

[2015-01-20 16:14] iglpdc opened #139 "Moving the wiki from the old bc repo"
I want to move the wiki from the bc repo to a wiki here, preserving the history. Github does not allow PR's from wikis, and I can't create the wiki either.

I need someone with permissions to move it for me. These are the commands you need to run:
1. Create empty wiki (you need to create a empty home page) in workshop-template using the Github interface.
2. Clone it the new to your machine:

   `g

[2015-01-20 16:51] wking commented on #139
On Tue, Jan 20, 2015 at 08:14:46AM -0800, Ivan Gonzalez wrote:

Do we care about the content in the new wiki (before the merge with
bc)?  I don't think we do, in which case we could just clobber the new
wiki with the bc content:

  $ git remote add bc https://github.com/swcarpentry/bc.wiki.git
  $ git fetch bc
  $ git reset --hard bc/master
  $ git push --force origin master

[2015-01-20 17:12] iglpdc commented on #139
Yes, you're right.

[2015-01-21 19:17] gvwilson commented on #139
@iglpdc you should have permission to do this...  If you don't, mail
gvwilson@software-carpentry.org and we'll figure it out.

[2015-01-21 21:46] PBarmby opened #141 "new repo won't clone?"
I followed the instructions in README.md and got a new repo set up, [here](https://github.com/PBarmby/swc-workshop-template-test), but when I try to clone this to my desktop  with `git clone https://github.com/PBarmby/swc-workshop-template-test.git` I get

[code]

A new directory gets made but the only thing in it is the `.git` subdirectory. Doubtless I am doing something silly?

[2015-01-21 21:56] gvwilson commented on #141
The only thing I can think of is that the import hadn't completed when
you tried to do the clone.  @wking?  @r-gaia-cs?  @willingc?

[2015-01-21 21:59] wking commented on #141
On Wed, Jan 21, 2015 at 01:47:00PM -0800, Pauline Barmby wrote:

I can reproduce this error, and also successfully clone with:

  $ git clone -b gh-pages https://github.com/PBarmby/swc-workshop-template-test.git

I expect import.github.com is assuming that HEAD should point to a
‘master’ branch, and we don't have one ;).  Until GitHub fixes that
(somehow.  I'm not sure how you'd pick an alternativ

[2015-01-21 22:21] PBarmby commented on #141
Cloning with `-b gh-pages` works for me as well. Thanks. I'll put in a PR with this.

[2015-01-21 22:22] willingc commented on #141
@PBarmby Good catch on finding the issue.

@gvwilson @wking and others: I'm wondering if the default branch setting in the swcarpentry/workshop-template repo is still set to master? It looks like early on there was a master branch: https://github.com/swcarpentry/workshop-template/pull/2
Some one with admin access could check this.

[2015-01-21 22:43] wking commented on #141
On Wed, Jan 21, 2015 at 02:22:10PM -0800, Carol Willing wrote:

No, it's set to gh-pages.  The issue seems to be import.github.com
ignoring the HEAD in the source repository.  I don't see source for
import.github.com available anywhere, but I imagine the GitHub folks
can fix this internally.  I've pointed support@github.com at this
issue, and will post here when I hear back.

[2015-01-21 22:50] willingc commented on #141
@wking Thanks for checking and filing a github issue. In the interim, we should use your suggested clone with branch set to gh-pages.

[2015-01-22 02:43] iglpdc commented on #139
Fixed: the old bc wiki lives now here.

[2015-01-22 02:43] #139 closed, assigned to nobody

[2015-01-22 02:59] gvwilson commented on #139
Yay!

[2015-01-22 19:31] iglpdc commented on #141
I got the same problem when cloning. The fix proposed by @wking works also for me. The rest worked fine. Very cool, this new setup.

[2015-01-22 20:01] gvwilson commented on #141
Closed by #143.

[2015-01-23 06:41] wking commented on #141
On Thu, Jan 22, 2015 at 12:01:03PM -0800, Greg Wilson wrote:

#143 is a hopefully temporary workaround ;).  Can we reopen this until
GitHub fixes the importer?

[2015-01-23 06:44] wking commented on #141
On Thu, Jan 22, 2015 at 10:41:38PM -0800, W. Trevor King wrote:

And the GitHub folks have responded to my initial report saying that
they're investigating.

[2015-01-23 10:01] gvwilson commented on #141
Makes sense - I've re-opened and assigned to you. Thanks for following up with GitHub.

[2015-01-23 18:44] shwina opened #144 "I pushed to this repo by mistake!"
@gvwilson @r-gaia-cs

Hi Greg, Raniere - I'm extremely sorry, but I've pushed to this repo instead of my own 'origin' remote. Can we undo things?

[2015-01-23 18:49] shwina commented on #144
I've addressed this by forcing a push of what the repo looked like before I messed up. I really hope I didn't break anything. Sorry for this :(

[2015-01-23 20:32] rgaiacs commented on #144
@ashwinsrnth I'm closing this since this look OK to me.

[2015-01-23 20:32] #144 closed, assigned to nobody

[2015-01-24 15:43] shwina commented on #144
I realized that there is one more (and this is the only one) of my commits lurking in the history:

https://github.com/swcarpentry/workshop-template/commit/25ea1f099c4fc42ddaca60458b7678edfb0cd66d

I've created PR #145 to undo these changes. And again, so sorry.

[2015-01-24 19:45] wking commented on #141
Maybe it's fixed now?

Fri, Jan 23, 2015 at 04:30:14AM -0800, Matt Burke (GitHub Staff) wrote:

Anyone want to give it a spin and report on whether we still need the
workaround from #143?

[2015-01-24 20:22] iglpdc commented on #141
I just did it and works fine with no workarounds. The following clones the repo, checking out the correct branch `gh-pages`:

`git clone https://github.com/iglpdc/testing-workshop-template-again.git`

In the imported repo settings, `gh-pages` also appears correctly as the default branch.

[2015-01-24 20:31] gvwilson commented on #141
Cool - but it always worked for me w/out setting the default branch.
Any word back from GitHub support about actually changing something?
(If not, I can get a couple of people who've never done this to try it
out...)

[2015-01-24 20:41] jiffyclub commented on #141
The quote from @wking is from github, looks like they fixed it (or tried).
On Sat, Jan 24, 2015 at 12:31 PM Greg Wilson notifications@github.com
wrote:

[2015-01-24 20:44] gvwilson commented on #141
Thanks (and sorry for not reading more carefully - family + dog +
testing a new website).  So we're good to delete mention of "set the
default branch"?

[2015-01-24 21:33] wking commented on #141
On Sat, Jan 24, 2015 at 12:44:48PM -0800, Greg Wilson wrote:

Well, Matt Burke said he fixed a race, so it's possible that the code
is still racy.  Since we're one-for-one on Ivan's test, I'd recommend
closing this and reverting #143.  We can always reopen this and
reapply #143 if there turn out to be more bugs.

[2015-01-24 22:06] gvwilson commented on #141
Agreed - can you please revert and push?

[2015-01-24 22:28] wking commented on #141
On Sat, Jan 24, 2015 at 02:06:50PM -0800, Greg Wilson wrote:

Done in aefe7db (Revert "Merge pull request #143 from
gvwilson/tell-people-to-change-default-branch", 2015-01-24).

[2015-01-24 23:38] gvwilson commented on #141
Thanks much.

[2015-01-26 22:51] dlebauer opened #146 "Chrome says Anaconda download is malicious"
In order to review the steps for workshop attendees, I just tried to install the Anaconda ([Windows 64-Bit Python 2.7 Graphical Installer software](http://09c8d0b2229f813c1b93-c95ac804525aac4b6dba79b00b39d1d3.r79.cf1.rackcdn.com/Anaconda-2.1.0-Windows-x86_64.exe)) on Windows 8.1, following instructions here: http://software-carpentry.org/v5/setup.html.

Chrome gave me the following warnings that t

[2015-01-26 23:21] gvwilson commented on #146
@wking can you please have a look? Is it simply because you're
downloading a .exe ?

[2015-01-26 23:24] wking commented on #146
On Mon, Jan 26, 2015 at 03:21:13PM -0800, Greg Wilson wrote:

I have no idea how Chrome categorizes downloads, and I don't think
I've ever downloaded an .exe with Chrome ;).  (I do all my Windows
installer work on Linux, and just assume that dropping a binary in the
right place will work on Windows ;).  May @ethanwhite knows?

[2015-01-26 23:58] rgaiacs commented on #146
I contacted Continuum Analytics and here what Theo Lekkas, Continuum Analytics' Project Manager, reply

[2015-01-27 00:02] wking commented on #146
On Mon, Jan 26, 2015 at 03:58:56PM -0800, Raniere Silva wrote:

There doesn't seem to be an HTTPS form for that page :(.  I'm
skeptical about the security benefits of comparing with an MD5
retrieved from an insecure channel.  Still, the more shoddy security
checks that pass, the more you know any attackers are at least doing
their homework ;).

[2015-01-27 02:33] fmichonneau commented on #125
I stumbled upon this while working on the CSS refactoring for this repo.

I would suggest that we remove the ribbon and instead provide a statement indicating that all our lessons are available on github with a link pointing to github.com/swcarpentry

[2015-01-27 02:43] rgaiacs commented on #125
@fmichonneau This will work for the workshops but for the lessons at our site we prefer to help a little more the reader and provide a link directly to the lesson s/he is reading. I don't know how to do it in a clean way.

[2015-01-27 15:31] dlebauer commented on #146
Interestingly, Chrome on Linux does not mark the Windows installer as malicious.

I sent out a note to the instructors mailing list to make everyone aware. I don't think there is more to do here. Thanks to all for looking into this.

[2015-01-27 15:31] #146 closed, assigned to nobody

[2015-01-27 15:33] gvwilson commented on #146
Please add to
https://github.com/swcarpentry/workshop-template/wiki/Configuration-Problems-and-Solutions,
since it's likely to come up again.
Thanks
Greg

[2015-01-27 15:33] ethanwhite commented on #146
I also found that Chrome on Windows 7 only shows the usual '.exe may be
dangerous' warming, but Chrome on Windows 8 reported the file as malicious.
I downloaded a different .exe on Windows 8 and did not get the malicious
report.

On Tue, Jan 27, 2015 at 8:31 AM, David LeBauer notifications@github.com
wrote:

[2015-01-27 15:47] dlebauer commented on #146
I've updated the wiki page

[2015-01-27 15:53] gvwilson commented on #146
Thanks,
Greg

[2015-02-01 11:45] andreww commented on #135
As far as I can tell @jiffyclub maintains the VM, but the last discussion I can find was from [September 2013](http://lists.software-carpentry.org/pipermail/discuss_lists.software-carpentry.org/2013-September/000925.html) and this thread ends with the creation of the version we currently link to.

The VM is built using Puppet (with this [manifest](https://gist.github.com/jiffyclub/5512074)). There

[2015-02-01 13:14] PBarmby commented on #127
Looks like this is already fixed.

[2015-02-01 13:14] #127 closed, assigned to nobody

[2015-02-01 15:48] #120 closed, assigned to nobody

[2015-02-01 15:52] willingc commented on #141
Closing this issue based on @wking's feedback here and completed revert. Thanks @wking.

[2015-02-01 15:52] #141 closed, assigned to nobody

[2015-02-02 06:53] moorepants opened #151 "It isn't really clear who should be the contact email"
Should this be an instructor, host or other?

The wording is a little unclear here:

https://github.com/swcarpentry/workshop-template/blob/gh-pages/CUSTOMIZATION.md#home-page-data

[2015-02-03 22:45] wking opened #152 "Serve pages over HTTPS?"
I'd been linking to `http://*.github.io` [since they launched that domain](https://github.com/blog/1452-new-github-pages-domain-github-io) in 2013, but [serving scripts and such over HTTP isn't a great idea](https://github.com/swcarpentry/workshop-template/pull/89#issuecomment-67440291).  Apparently GitHub has had [quiet HTTPS support for `*.github.io`](https://github.com/isaacs/github/issues/156#

[2015-02-04 15:55] timtomch commented on #152
The mixed content issues are problematic since they prevent the CSS files from loading, see https://github.com/swcarpentry/workshop-template/issues/64

There was talk about setting up HTTPS for software-carpentry.org but I don't know where this issue stands right now...

[2015-02-04 16:16] gvwilson commented on #152
We're supposed to have a site-wide wildcard certificate in place now -
@pipitone, can you please investigate?
Thanks,
Greg

On 2015-02-04 10:55 AM, Thomas Guignard wrote:

##

Dr. Greg Wilson    | gvwilson@software-carpentry.org
Software Carpentry | http://software-carpentry.org

[2015-02-04 16:20] pipitone commented on #64
SSL cert is now installed for *.software-carpentry.org. Sorry it took so long folks.

[2015-02-04 16:21] pipitone commented on #152
SSL cert is now installed for *.software-carpentry.org, so you should now be able to reference https://software-carpentry.org/ resources without trouble.

[2015-02-04 17:04] wking commented on #152
On Wed, Feb 04, 2015 at 08:21:14AM -0800, Jon Pipitone wrote:

Now that the CSS and JavaScript is in swcarpentry/styles, I don't see
a reason to reference software-carpentry.org at all.  We can just
follow the example set by lesson-template and pull that content
locally (swcarpentry/lesson-template#153).

[2015-02-04 17:50] fmichonneau commented on #152
Agreed. @gvwilson, can you import the content of the style repo here (I'm
happy to do it, but I'm unsure of the commands to use). After that, this is
ready to be merged:
https://github.com/swcarpentry/workshop-template/pull/147 and will take
care of the certificate issues with CSS (at least for future workshops).

On Wed, Feb 4, 2015 at 12:04 PM, W. Trevor King notifications@github.com
wrote:

[2015-02-04 18:52] timtomch commented on #64
Thanks!

[2015-02-05 03:04] fmichonneau commented on #137
closing this as #147 and #154 are fixing it for now.

[2015-02-05 03:04] #137 closed, assigned to nobody

[2015-02-06 22:15] gvwilson opened #157 "Specify Python version in setup instructions"
We just had a mix of Py2.7 and Py3.4 in a workshop, which was awkward.

[2015-02-06 22:15] gvwilson commented on #152
Is this still broken?

[2015-02-06 22:21] wking commented on #152
On Fri, Feb 06, 2015 at 02:15:56PM -0800, Greg Wilson wrote:

Current dev console errors look like just:

  [14:20:17.972] GET http://software-carpentry.org/img/software-carpentry-banner.png [Mixed Content] [HTTP/1.1 304 Not Modified 146ms]

Although I think we're still waiting on #153 too.

[2015-02-10 01:44] timtomch commented on #152
@wking I believe both can be merged now. Once this is done, maybe we can update the src for the logo so that it's served in HTTPS too?

Although I guess a cleaner solution would be only to serve them in HTTPS when the workshop page is loaded in HTTPS, but I have no idea how to do this :(

[2015-02-10 05:19] wking commented on #152
On Mon, Feb 09, 2015 at 05:44:07PM -0800, Thomas Guignard wrote:

I don't see why the logo source can't be distributed as part of
swcarpentry/styles.  It's certainly not unique to this repository.

I think embedding all the styling in the local repository via
swcarpentry/styles merges and such (or distributing swcarpentry/styles
and such as Bower packages) would make it easy, since almost all the

[2015-02-10 18:01] wking commented on #152
On Fri, Feb 06, 2015 at 02:21:53PM -0800, W. Trevor King wrote:

I'd thought this was a styles issue (see swcarpentry/styles#7), but it
turns out that this image source is hardcoded _outside_ of the style
content.
—
  $ git log -1 --oneline
  6aa67de Line wrapping
  $ git grep software-carpentry-banner.png
  _includes/banner.html:    <img alt="Software Carpentry banner" src="{{site.swc_site}}/img/

[2015-02-11 23:36] DamienIrving opened #161 "A field for workshop fees?"
@gvwilson Perhaps `index.html` should include an additional field for people to indicate the fee the workshop intends to pay? (Along with contact details if they'd like to discuss a fee-waiver.) Not only does this ensure that workshop organisers know about the fee, it also helps you budget because you'll know how much workshop revenue to expect from future workshops.

[2015-02-12 03:26] rgaiacs commented on #161
I believe that this will be handle by [amy](https://github.com/swcarpentry/amy/).

[2015-02-12 17:15] zonca opened #164 "Software Carpentry setup on Chromebook"
At the request of a workshop student I wrote instructions on how to setup a chromebook:
http://zonca.github.io/2015/02/software-carpentry-setup-chromebook.html

However, this is at a much deeper level than other OS's, because it involves switching to developer mode (wipes data and voids warranty...).

Might something similar be useful for the official setup instructions or better not?

[2015-02-12 17:27] gvwilson commented on #164
We could add it to the Software Carpentry website, and include a link
from the workshop template...
- G

[2015-02-17 15:23] aaren commented on #135
more discussion here: swcarpentry/shell-novice/issues/83

[2015-02-17 16:10] jiffyclub commented on #135
The link for the VM has gotten out of date, it should be https://docs.google.com/uc?id=0B4Kr6DYkzkQtSTZLQzF4aVB4NDQ&export=download. I'll submit a PR.

[2015-02-17 16:12] jiffyclub commented on #135
Maybe now that Software Carpentry has changed hosts we should try putting the VM on one of our machines again so it can have a permanent URL. We tried that before but on our old host the download speeds were so slow as to be useless.

[2015-02-17 16:16] jiffyclub commented on #135
I've updated the link to the VM in dd3c37442f8e046a5aebb83b62cd8a23641d13df. The current VM is a couple months old now, but should have Anaconda 2.1, which I think is the latest.

[2015-02-17 16:16] #135 closed, assigned to nobody

[2015-02-17 18:25] gvwilson commented on #135
Happy to give that a try - how big is the image these days?

[2015-02-17 19:21] jiffyclub commented on #135
~2 GB

[2015-02-17 20:37] gvwilson commented on #135
On 2015-02-17 2:22 PM, Matt Davis wrote:

[2015-02-20 13:30] PBarmby opened #168 "formatting missing from copied workshop template"
I attempted to make a new workshop website [here](http://pbarmby.github.io/2015-05-11-westernu/) and it's missing all of the formatting. I thought that I had followed the instructions and didn't delete anything important, but perhaps somebody who has 5 minutes could have a look at [my repo](https://github.com/PBarmby/2015-05-11-westernu/) and check? Thanks.

[2015-02-20 13:52] fmichonneau commented on #168
Try removing the trailing ) in the line listing the instructors.

Don't forget to run tools/check.py before pushing to the repo :)

On Fri, Feb 20, 2015 at 8:30 AM, Pauline Barmby notifications@github.com
wrote:

[2015-02-20 14:10] PBarmby commented on #168
That was it, thanks Francois.

[2015-02-20 14:10] #168 closed, assigned to nobody

[2015-02-21 01:41] rgaiacs opened #169 "Use HTML code tag at Text Editor"
At https://swcarpentry.github.io/workshop-template/ we have

it should be

[2015-02-21 01:48] rgaiacs opened #170 "Improve information about installing Nano"
At https://swcarpentry.github.io/workshop-template/ we have

will be better if it is

[2015-02-21 15:01] jduckles commented on #170
I don't think I agree with your parenthetical. I don't wait until the Git lesson to use `nano`, we often use it at the end of the Shell Lesson, when scripting in Python and then again during the Git lesson.

Maybe:

[2015-02-21 20:51] wking commented on #170
On Sat, Feb 21, 2015 at 07:01:56AM -0800, Jonah Duckles wrote:

That doubles up on claiming it's an editor ;).  How about:

  `nano` is a simple, terminal-based text editor installed by the
  Software Carpentry Installer and used throughout the workshop.

[2015-02-22 00:41] iglpdc commented on #170
Much better.

[2015-03-03 15:13] #97 closed, assigned to gvwilson

[2015-03-04 11:42] gvwilson opened #173 "Add sentence about running nano after installation"
As per https://github.com/swcarpentry/workshop-template/pull/167#issuecomment-75262715.

[2015-03-04 16:54] wking commented on #173
On Wed, Mar 04, 2015 at 03:42:04AM -0800, Greg Wilson wrote:

As I said in #167, I don't think we need this [1](https://github.com/swcarpentry/workshop-template/pull/167#issuecomment-75277807).  Before we add the
sentence, I'd like a clearer picture of why it's desired.

[2015-03-04 17:20] fmichonneau commented on #173
I think that asking workshop participants to double check that the script
worked allows them to get a better appreciation of what the script actually
does. It would also allow participants to detect if something goes wrong
and seek help before the workshop starts.

I was thinking of a sentence such as: "You can check that the installer
worked correctly by starting 'Git Bash' and typing `nano` at t

[2015-03-04 17:25] wking commented on #173
On Wed, Mar 04, 2015 at 09:20:13AM -0800, Francois Michonneau wrote:

I agree with both of those statements, I'd just rather have them check
by running the installation-test scripts [1](https://github.com/swcarpentry/workshop-template/tree/gh-pages/setup).

[2015-03-04 18:17] gvwilson commented on #173
Let's suggest both.

[2015-03-04 18:29] wking commented on #173
On Wed, Mar 04, 2015 at 10:17:45AM -0800, Greg Wilson wrote:

Hmm.  Then how about:

  If you want to test the nano install, you can start a Git for
  Windows terminal and type `nano`.  If you see something like
  [this](http://www.nano-editor.org/colorsyntax.png), it worked.  Of course, the [installation-test
  scripts](./setup/) will test the nano install, as well as
  checking for the [other th

[2015-03-12 20:06] fmichonneau commented on #173
Those are good points. Especially how to exit nano.

It would be good to include how to run the installation tests on the setup page. However, that only works if workshop participants install python first (which would not be required for R based workshops).

I'm closing this issue for now. @wking could you please open an issue or submit a PR that would best describe how a beginner could run the in

[2015-03-12 20:06] #173 closed, assigned to fmichonneau

[2015-03-12 20:09] fmichonneau commented on #125
Out of date and fixed.

[2015-03-12 20:09] #125 closed, assigned to fmichonneau

[2015-03-12 22:26] wking commented on #173
On Thu, Mar 12, 2015 at 01:06:49PM -0700, Francois Michonneau wrote:

The only OS that doesn't ship with Python is Windows.  We could bundle
the script with Python for students on Windows attending R (or other
non-Python) workshops, but getting information out of an Inno Setup
bundle is hard [1](https://github.com/swcarpentry/workshop-template/pull/167#issuecomment-75259183).  Personally, I don't

[2015-03-15 17:10] iglpdc opened #176 "R installation instructions for old (<10.9) Mac OS"
The installation instructions in `index.html` for R and Mac OS currently link to the "latest" R version. However, the R [installation page](http://cran.r-project.org/bin/macosx/) has two links: one for Mac OS pre-10.9, one post-10.9. Given the relative abundance of old Macs, shouldn't the instructions point to both options, similar to what we do for the Git installation section?

I could make a PR

[2015-03-15 17:57] jdblischak commented on #176
Thanks for creating this issue, @iglpdc. I've sent out an email to the r-discuss list (with you CC'd).

[2015-03-16 13:59] #104 closed, assigned to nobody

[2015-03-17 18:33] jiffyclub opened #177 "Branding on Workshop Pages"
Our template for workshop web pages currently do not include space for branding for associated entities. I can think of a few that might like to have branding on a workshop page:
- [x] Software Carpentry
- [ ] Data Carpentry (if we ever have joint events)
- [ ] The workshop host(s)
- [ ] The workshop coordinator's employer, assuming that employer is not SWC and that the workshop is not self-organi

[2015-03-18 15:20] gdevenyi commented on #176
The latest mac OSX update is free for all users, perhaps we should hint people should update?

[2015-03-18 16:20] mlammens commented on #176
While I agree with @gdevenyi's sentiment, I think @iglpdc has a good point, and it's worth being consistent with the Git information. Also, based on my experience at only one workshop, it was pretty hit or miss as to whether the participants downloaded the requisite software ahead of time. I'm not sure how much success we would have recommending they upgrade their OS.

[2015-03-18 21:50] iglpdc commented on #176
I think that, while ideally people should update their OS (specially if it's free and easy), the fact is some don't do it. Maybe they aren't sure why they should, or maybe they have an old machine, but the fact is people shows up with old OS versions at our workshops. And as @mlammens says, either we do recommend an update, which is equivalent to require at least Mac OS 10.9 for our workshops, or

[2015-03-18 21:53] rgaiacs opened #179 "We can drop root from YAML field!"
[code]

[2015-03-18 22:18] gvwilson commented on #179
Cool - yes please.

[2015-03-19 15:34] ethanwhite opened #180 "Remove Mayavi from swc-installation-test-2.py"
Mayavi is not part of any of our main lessons and isn't included in Anaconda (at least not by default), so this generates failures unnecessarily (as well as lots of email to organizers as I recently found out :)).

[2015-03-19 15:37] ethanwhite opened #181 "Remove or downgrade Mercurial from swc-installation-test-2.py"
Mercurial is only used in a small fraction of workshops, so this generates failures unnecessarily. I would recommend removing it since this will be an incorrect report in the vast majority of circumstances, but if we really want to keep it I think we need to find a way to downgrade it to a warning that also clearly states that this is only an issue if your workshop is using Mercurial (which it pro

[2015-03-19 16:39] wking commented on #180
On Thu, Mar 19, 2015 at 08:34:47AM -0700, Ethan White wrote:

Hey, it's good to hear that folks are using the script and that
students are following the instructions :).  I think the missing piece
is that the _instructors_ are not following the instructions ;).
They're supposed to edit CHECKS to match the dependencies for their
particular workshop [1,2].

There's been talk about trimming the list

[2015-03-19 16:42] wking commented on #181
On Thu, Mar 19, 2015 at 08:37:34AM -0700, Ethan White wrote:

Instructors are supposed to customize CHECKS to match their workshop's
requirements.  See #180 and #136.

[2015-03-19 16:48] gvwilson commented on #181
Yeah, but they're not doing that, so let's build our tooling for what
they're actually doing.

[2015-03-19 17:02] wking commented on #181
On Thu, Mar 19, 2015 at 09:48:44AM -0700, Greg Wilson wrote:

I don't know if that's possible, but #136 was where we were trying to
work out what that could look like.

[2015-03-19 17:54] ethanwhite commented on #136
My take on this is that the most important uses of these tests will be for relative novices. Experienced programmers will generally be able to handle installing software. We're trying to avoid the issues that happen when a bunch of novices don't get things installed correctly. From that perspective all of the things that @abostroem listed are less important to include, with the possible exception

[2015-03-19 17:55] ethanwhite commented on #181
Commented on #136. Closing in favor of #136.

[2015-03-19 17:55] #181 closed, assigned to nobody

[2015-03-19 17:56] ethanwhite commented on #180
Thanks for pointing me towards #136 (I should have looked a little harder). I think we can make this work best for everyone by changing what is commented vs uncommented by default.

Closing in favor of #136.

[2015-03-19 17:56] #180 closed, assigned to nobody

[2015-03-19 18:23] jiffyclub commented on #136
:+1:

[2015-03-19 21:23] wking commented on #136
On Thu, Mar 19, 2015 at 10:54:39AM -0700, Ethan White wrote:

Sure, but _configuring_ the tests is up to the
presumably-more-experienced instructor.

The default is currently to check for everything that has at some
point been used in a SWC workshop.  That makes it easy to test the
script (since I don't forget to uncomment something and accidentally
break it's tester).  After @abostroem's proposed

[2015-03-19 21:29] ethanwhite commented on #136
I guess I'll just say that I disagree and that if it was up to me we'd test the most common workshop setup -  shell, git, and Python - by default, and ask folks to modify for less common configurations. There are lots of things to do for any given workshop and minimizing the number of changes to be made by the average instructor is a good thing. With that, I'll leave this up to the maintainers.

[2015-03-19 21:44] jiffyclub commented on #136
It's clear from @ethanwhite's description in #180 that the current procedure is not working, and that it's generating extra work for organizers and unnecessary scares for students. I don't think either of those outcomes are acceptable and we need to modify some part of this workflow to address that. Restricting the default tests to only the most commonly used items (as proposed by @ethanwhite and

[2015-03-19 22:35] wking commented on #136
On Thu, Mar 19, 2015 at 02:29:39PM -0700, Ethan White wrote:

So:

  virtual-shell
  virtual-editor
  virtual-browser
  git
  python
  ipython
  IPython
  numpy

?

Absolutely, but I'm concerned that “many instructors don't need to
tweak CHECKS, but if you teach R/Mercurial/… you should” is going to
be more hit/miss than just telling everyone to tweak CHECKS.

[2015-03-22 01:33] rgaiacs opened #183 "Need small change in HTML to follow lesson layout"
Our logo isn't at the same position:

![wt](https://cloud.githubusercontent.com/assets/1506457/6767652/3a6b2564-d01a-11e4-82fa-7aa8b60c7e13.jpg)

![lt](https://cloud.githubusercontent.com/assets/1506457/6767639/ec24c27a-d019-11e4-9f38-8273984e5931.jpg)

Links at the end aren't at the same position.

![wb](https://cloud.githubusercontent.com/assets/1506457/6767649/3149772e-d01a-11e4-9ccf-dab90190b7

[2015-03-24 16:18] iglpdc opened #186 "Add information about setting git for RStudio to the wiki"
If you want to use Git with RStudio on a Windows machine, it's possible that `git` is not in the path. The relevant discussion and fix is [here](https://github.com/swcarpentry/bc/issues/593), but I'd like to add it to the wiki with "Configuration problems and solutions".

[2015-03-24 22:18] chendaniely commented on #176
Pointing them to an older version to install will potentially cause fewer problems than upgrading an entire system.  Sometimes upgrades go wrong, and people won't have things backed up.

[2015-03-26 13:56] rgaiacs opened #187 "Give credits at the end of homepage"
What about add something like

[code]

at the end homepage?

[2015-03-29 21:27] wking opened #188 "Relative paths to CSS and other assets don't work from subdirectories"
For example, the [setup page](https://swcarpentry.github.io/workshop-template/setup/index.html) currently gives me 404s for https://swcarpentry.github.io/workshop-template/setup/css/bootstrap/bootstrap.css etc.  We should either keep and use root (see #179), or use absolute paths to these resources.  Personally, I'd rather keep and use root.

[2015-03-29 21:30] wking commented on #179
On Wed, Mar 18, 2015 at 02:53:16PM -0700, Raniere Silva wrote:

Instead of dropping root, maybe we should be using it?  See #188.

[2015-03-31 17:47] pbanaszkiewicz opened #190 "Update check.py"
Update `check.py` according to Greg's comments in https://github.com/swcarpentry/amy/pull/232

[2015-03-31 19:51] rgaiacs commented on #190
@pbanaszkiewicz do you mean https://github.com/swcarpentry/amy/pull/232/files#r26711840?

[2015-03-31 19:58] pbanaszkiewicz commented on #190
@r-gaia-cs: yes:
1. https://github.com/swcarpentry/amy/pull/232#discussion_r26711840
2. https://github.com/swcarpentry/amy/pull/232#discussion-diff-26711935
3. https://github.com/swcarpentry/amy/pull/232#discussion-diff-26712031

[2015-04-01 13:24] iglpdc opened #192 "The link to sqlite3 for Windows should be removed from the setup instructions"
This is installed now by the SWC Windows installer. Also, the current link is broken.

I'll PR later.

[2015-04-02 15:51] wking opened #194 "Rearrange setup instructions to split by OS and then by package/tool"
Instead of the current package/tool and then by OS.

On Thu, Apr 02, 2015 at 08:05:12AM -0700, Francois Michonneau [wrote](https://github.com/swcarpentry/workshop-template/pull/193#issuecomment-88938571):

An alternative to make things easier for students would be to order by
OS and _then_ by package/tool, instead of by package/tool and then by
OS.  Then the Windows folks would have a narrative op

[2015-04-02 16:12] fmichonneau commented on #194
This was how the information was displayed previously. I think @gvwilson thought that breaking by tool was easier to maintain. Was there another argument?

[2015-04-02 16:15] rgaiacs commented on #194
I like the "order by package/tool and then by OS" because it let the learners know upfront that the tools work in all major OS.

I agree with @wking that "order by OS and then by package/tool" let the instructions looks like more a narrative but I would vote in favor to let the learns know upfront that they can works using any major OS without big changes in the installation steps.

[2015-04-02 17:29] #192 closed, assigned to nobody

[2015-04-03 00:42] iglpdc commented on #186
This can be closed, as the relevant info is in [the wiki](https://github.com/swcarpentry/workshop-template/wiki/Configuration-Problems-and-Solutions#git).

[2015-04-03 00:42] #186 closed, assigned to nobody

[2015-04-03 01:10] iglpdc commented on #176
I finally made a PR with this. See #195.

[2015-04-03 10:28] gvwilson opened #196 "Git install on older versions of Mac OS X broken (again)"

[2015-04-03 10:46] gvwilson commented on #194
We've tried both arrangements now, and it seems that each convinces people the other would be better.  I therefore vote for leaving it as-is.

[2015-04-03 15:33] chendaniely commented on #196
@eddelbuettel suggests to use Docker:

[2015-04-03 15:38] gvwilson commented on #196
We've discussed VMs for our students at length in the past.  They solve
some problems, but introduce others, so we're going to stick to native
installs for the foreseeable future.

[2015-04-03 15:40] chendaniely commented on #196
@willingc used the installers from sourceforge [1].  I was teaching while @iglpdc and @mckays630 were dealing with the git installation problems but I believe the installer from sourceforge no longer work?

[1] http://sourceforge.net/projects/git-osx-installer/files/?source=navbar0

[2015-04-03 15:55] jduckles commented on #196
If you download the appropriate installer, "Snow Leopard" for 10.7 and 10.8 (even though Snow Leopard is 10.6) it has worked for me in the past.

[2015-04-03 16:40] willingc commented on #196
@iglpdc @mckays630 @chendaniely Here's also a github repo for the git-osx-installer files: https://github.com/timcharper/git_osx_installer

Out of curiosity, were you trying to use the installers for the most recent version of git when using the git-osx-installers? I found at the SWC event at UCSD that we needed to use an older version of git (1.8) versus 2.x to get git working without huge headac

[2015-04-03 16:44] wking commented on #194
On Fri, Apr 03, 2015 at 03:46:21AM -0700, Greg Wilson wrote:

Each approach has pros and cons, and that where you stand on the final
balance depends on your personal weighting for those pros and cons.
We each evolve our weighting as new information comes in, and it's
hard to find an approach that is unanimously accepted.  Changing our
approach to adapt to new understanding makes sense, and in this

[2015-04-03 16:47] jiffyclub commented on #196
If the newer versions of Git marked "snow-leopard" at http://sourceforge.net/projects/git-osx-installer/files/?source=navbar0 don't work it might be worth opening an issue at https://github.com/timcharper/git_osx_installer to point that out.

[2015-04-03 17:00] jiffyclub commented on #196
I opened timcharper/git_osx_installer#43 just now to point the maintainer at this discussion. If anyone has additional details to add, especially which version of Git was giving the "Lazy symbol" error, that would probably be helpful to add either here or there.

[2015-04-03 17:04] willingc commented on #196
Thanks @jiffyclub.

[2015-04-03 17:24] wking commented on #196
On Fri, Apr 03, 2015 at 10:00:21AM -0700, Matt Davis wrote:

There's earlier “Lazy symbol” discussion in swcarpentry/bc#595,
swcarpentry/bc#647 (after [1](https://github.com/swcarpentry/bc/issues/647#issuecomment-52549945)), and the “Mac” section of [2](https://github.com/swcarpentry/bc/wiki/Configuration-Problems-and-Solutions#git).

[2015-04-03 17:28] wking commented on #196
On Fri, Apr 03, 2015 at 10:22:06AM -0700, W. Trevor King wrote:

The wiki has been migrated to [1](https://github.com/swcarpentry/workshop-template/wiki/Configuration-Problems-and-Solutions#git), but it still lists the “Lazy
symbol” problem for Mac OS X 10.8.5 that's fixed by an XCode install.

[2015-04-03 18:08] #194 closed, assigned to nobody

[2015-04-04 14:46] iglpdc commented on #196
@jduckles, @willingc I think that the installer working or not still depends on whether you have Xcode installed. Our setup instructions [1] already link to the correct installer for each version. Also, I found the problem pretty much in any workshop I taught in the last 6 months (I'm almost sure to say that is 10.8.5 every time).

Having said that, I didn't _actually check_ that the students were

[2015-04-04 15:18] eddelbuettel commented on #196
@iglpdc I beg to differ but I won'd be belabour it.

This is a somewhat complicated issue:
-  _Clearly_, Docker is winning for development, deployment, devops simply because of it is standard containers which are easy to produce and trivial to install.  On those OSs which need it, `boot2docker` is one click.
- But on the other hand @gvwilson  has a near-religious zeal for native environments (and,

[2015-04-04 15:29] willingc commented on #196
@iglpdc Yes, the student would need to have xcode or the xcode command line tools (a much smaller download) installed. I agree with the suggestion on how to check OS version, which installer to choose, how to install xcode command line tools (if needed) to the setup instructions for OS X. cc/@jdunckles

Instructions for setting up xcode command line tools (I think it can also be brew installed):
h

[2015-04-04 15:40] willingc commented on #196
@eddelbuettel I like Docker. I think that it may be helpful for testing the setup instructions.

FWIW I have been at several workshops where `boot2docker` installation/configuration was equally problematic on Mac OS X and Windows. Most of the issues had to do with getting the IPs set correctly since boot2docker runs a VM, getting ssh to work properly, and permissions.
Docker install on Mac: https:

[2015-04-04 15:44] eddelbuettel commented on #196
@willingc Agreed re the current IP address issue. Had that too when I once ran, just as a test, boot2docker on my work pc to serve the RStudio Server container: that worked like a charm and stayed up _for several  months_ once I knew what the address was.  Could do the same for IPython and RStudio Server in one container as I suggested several months back.   But all suggestions have issues and not

[2015-04-04 16:00] iglpdc commented on #196
@eddelbuettel , @willingc I like Docker too. I think it is a great solution for many development and deployment problems. I just think that some people in our workshops (say, those that cannot/don't update Mac OS X using the App Store) won't be able to complete the setup by themselves. This would put the burden of finishing the setup on our instructors and many of us are also fairly new to the VM

[2015-04-04 16:02] willingc commented on #196
@eddelbuettel Yeah, individual preferences. I would do it all in JupyterHub ;) Sometimes, the best path is simply do one's best to make whatever path most pleasant for the end user. As a helper in the moment, I have had folks use wakari.io, tmpnb, or my own laptop (not my preferred option) to get them productive.

Which begs the question has anyone tried running this on a Chromebook with or withou

[2015-04-04 16:03] willingc commented on #196
@iglpdc +1 to prior comment :cake: :sunglasses:

[2015-04-04 16:08] willingc commented on #196
FYI @jhamrick wrote a detailed and excellent post on using JupyterHub for teaching (https://developer.rackspace.com/blog/deploying-jupyterhub-for-education/). Not suggesting as a solution for this issue now. Just passing along as an excellent article to those that may be interested.

[2015-04-06 17:38] jiffyclub commented on #187
Is this related to #177?

[2015-04-06 20:00] rgaiacs commented on #177
Yes.

My suggestion, from #187.

[code]

[2015-04-06 20:00] rgaiacs commented on #187
Closing in favor of #177.

[2015-04-06 20:00] #187 closed, assigned to nobody

[2015-04-07 00:00] fgeorgatos commented on #196
IMHO, docker solves a different problem than this, which is that of..., eh, a container!

In many cases, just providing a common _namespace_ via environment-modules
is often what is needed for reproducible setups across multiple platforms (common in HPC):
(ref. http://hpcbios.readthedocs.org/en/latest/HPCBIOS_06-17.html)
meanwhile, a tool like EasyBuild may help with the accurate rebuilds of softw

[2015-04-07 17:28] jiffyclub commented on #177
I'd suggest a format like our [supporters page](http://software-carpentry.org/scf/supporters.html) where we break things into sections by role.

### Thank You

#### Hosted By

host logo-links

#### Developed In Collaboration With

Data Carpentry logo/link

#### Organized By

organizer logo-links

#### Financial Support

financial sponsor logo-links

[2015-04-07 18:06] rgaiacs commented on #177
Screenshot of my suggestion:
- Desktop:

![d](https://cloud.githubusercontent.com/assets/1506457/7029948/687659c2-dd37-11e4-960c-b5e62d22029c.jpg)
- Mobile:

![screen shot 2015-04-07 at 15 03 53](https://cloud.githubusercontent.com/assets/1506457/7029954/7659ccea-dd37-11e4-9682-79a1a4a8c767.png)

My changes are available at https://github.com/r-gaia-cs/swc-workshop-template/commits/thanks.

[2015-04-07 18:12] jiffyclub commented on #177
I feel like the columns have a bit less flexibility in terms of varying logo dimensions, e.g. someone with a wide logo could end up with it having a very small height. And one thing to note is that not all workshops will have all sections. Most workshops will have only the "Hosted By" and "Organized By" sections, and some will even have only the "Hosted By" section.

[2015-04-07 18:22] rgaiacs commented on #177
AFAIR this happens in many events and because of that I doesn't see as a big problem.

People can remove the not used sections without problem.

![r](https://cloud.githubusercontent.com/assets/1506457/7030248/9cb3f24c-dd39-11e4-9359-b8b1d7e2b2d6.jpg)

[2015-04-08 17:11] jdblischak opened #200 "Styling of site broken"
Back in January I created a workshop website using the new template.

http://jdblischak.github.io/2015-04-17-nw/

It starts at commit aefe7db4d6715cfd617c0d4943b53645770efc24.

At the time it rendered fine, but since then the styling has been destroyed. The site passes tools/check.py, and I couldn't find any directions about fixing broken sites (the URLs are http, so it is not the https problem).

[2015-04-08 17:31] wking commented on #200
On Wed, Apr 08, 2015 at 10:11:40AM -0700, John Blischak wrote:

Your site is using
http://software-carpentry.org/css/bootstrap/bootstrap.css, etc., which
have evolved since then.  Newer versions of lesson-template (since
e421be0b, Including things in templates, 2014-11-09, #3) use local
copies of the CSS (pulled from swcarpentry/styles), so they're more
isolated from external changes.

[2015-04-08 17:52] wking commented on #200
On Wed, Apr 08, 2015 at 10:29:33AM -0700, W. Trevor King wrote:

Oops, I was looking in lesson-template, not workshop-template ;).
workshop-template dropped links to software-carpentry.org's style
sheets with 94d5ffc (modifications for new CSS + bootstrap 3.3.2,
2015-01-26, #147).

[2015-04-08 17:53] gvwilson commented on #200
I'm supposed to fix a few for François Michonneau as well - want me to
patch this one?

[2015-04-08 19:32] jdblischak commented on #200
I took care of it. Thanks.

[2015-04-08 19:32] #200 closed, assigned to nobody

[2015-04-08 19:35] gvwilson commented on #200
How much grief was the fix?  Can it be packaged easily for application
to other workshop websites?

[2015-04-08 19:47] jdblischak commented on #200
It was a typical merge conflict. I'm not sure how automated it could really be.

Fixing the _config.yml is easy enough.

[code]

But then for index.html, you want to keep their changes to the yaml and anywhere else (which will change workshop to workshop depending on whether they are teaching R, Python, SQL) but also include all the new changes to the div classes.

[2015-04-08 20:30] jdblischak commented on #200
Actually, I was wrong even about _config.yml. Not even that is so simply merged. It used to specify "lesson" instead of "workshop" as the variable prefix ([commit](https://github.com/jdblischak/2015-04-17-nw/commit/aee4d4fe365a0c811e72f0ec9399aff2ac15932a)).

[2015-04-08 21:45] gvwilson commented on #200
OK, so a bit of work, but not crazy - thanks.

[2015-04-10 16:57] wking commented on #196
On Fri, Apr 03, 2015 at 10:26:48AM -0700, W. Trevor King wrote:

Today at UW we had success following @willingc's suggestion to use
git-osx-installer and skip the XCode download [1](http://lists.software-carpentry.org/pipermail/discuss_lists.software-carpentry.org/2015-April/002915.html), so I've mentioned
that approach on the wiki too.  It was also mentioned earlier in this
thread [2,3].  I think

[2015-04-10 16:59] jiffyclub commented on #196
@wking, which version of Git did you install?

[2015-04-10 17:11] wking commented on #196
On Fri, Apr 10, 2015 at 09:59:30AM -0700, Matt Davis wrote:

git-2.2.1-intel-universal-snow-leopard.dmg.  I expect any of the
snow-leopard series would work though, since the directions under “If
you are running” say to use those for OS X 10.8 [1](https://github.com/swcarpentry/workshop-template/wiki/Configuration-Problems-and-Solutions/_history).  It's hard to
link to wiki commits, but my full co

[2015-04-10 17:15] jiffyclub commented on #196
Okay, that's at odds with @willingc's [comment](https://github.com/swcarpentry/workshop-template/issues/196#issuecomment-89347906) above, but good to have a data point.

It's definitely the [stated goal](https://github.com/timcharper/git_osx_installer/issues/35#issuecomment-71273820) of the git-osx-installer that it should work without XCode.

[2015-04-10 17:18] jiffyclub commented on #196
One confounding factor to watch out for is that sometimes people may have installed the OS X command line tools without having installed Xcode. That usually fixes all these problems, so something to watch out for. Not having Xcode isn't always the whole story.

[2015-04-10 17:23] wking commented on #196
On Fri, Apr 10, 2015 at 10:18:06AM -0700, Matt Davis wrote:

I'll try to check this over the break.  I don't use OS X; is there a
one-liner that I can use to find out?

[2015-04-10 17:26] jiffyclub commented on #196
Check for `/usr/bin/git` and/or `/usr/bin/gcc` and try to get their versions. I think those will only be present and operational if Xcode or the command line tools have been installed.

[2015-04-10 20:01] wking commented on #196
On Fri, Apr 10, 2015 at 10:26:49AM -0700, Matt Davis wrote:

He has nothing at either path, and doesn't remember installing
anything XCode-related.

[2015-04-10 20:05] jiffyclub commented on #196
Cool, seems like good news for it working without Xcode, then.

[2015-04-10 20:45] willingc commented on #196
Great job. Excellent point by Matt on check to see if the command line
utilities are installed even if xcode is not.
There may be some double checking at the PyCon sprints on this issue
since many outreach groups face the same thing. I'll keep you posted.

On 4/10/15 4:05 PM, Matt Davis wrote:

##

_Carol Willing_
Developer | Willing Consulting
+1 760 456 9366 | https://willingconsulting.com

[2015-04-13 19:52] timcharper commented on #196
Is it just that the operating system is installing a stub now? Maybe the fix is to update the instructions to get that stub moved out of the way?

[2015-04-13 20:16] jiffyclub commented on #196
@timcharper, this is Mac OS 10.8, in which I don't think Apple had stubs for command line tools.

[2015-04-13 20:24] timcharper commented on #196
Did you use the Mavericks installer, or Snow Leopard one?

Mavericks (10.9) > Mountain Lion (10.8)

[2015-04-13 20:30] jiffyclub commented on #196
Good point, [our instructions](https://software-carpentry.org/v5/setup.html) currently are giving bad advice about what to download for which Mac OS version.

[2015-04-13 20:40] jiffyclub commented on #196
I've opened swcarpentry/site#931 to fix our instructions. It's possible that's what's been causing this problem, though I'm not sure we have enough information from our workshops to say one way or the other.

[2015-04-16 19:42] rachelss opened #205 "fix installation instructions: sqlite/swcarpentry installer"
The link to install sqlite for windows no longer exists. Installation of sqlite appears to be handled by the swcarpentry installer. Please also fix the instructions for this installer as including the github link suggests users should go there, which they should not.

[2015-04-16 19:55] rachelss opened #206 "Why recommend nano for windows users?"
For everyone else you suggest nano should be used "in a pinch" only. How about just suggesting everyone use sublime?

[2015-04-16 20:14] wking commented on #206
On Thu, Apr 16, 2015 at 12:55:42PM -0700, rachelss wrote:

Sublime is closed-source, so I don't think it's a good blanket
recommendation.  Personally, I think nano is a respectable, basic text
editor.  It does syntax highlighting, which is easy to configure
(e.g. we set it up automatically on Windows [1](https://github.com/swcarpentry/windows-installer/blob/v0.2/swc-windows-installer.py#L177)) wit

[2015-04-16 20:18] jiffyclub commented on #206
I think the point here is that the instructions are inconsistent across the different platforms.

For the record, I use Sublime Text as my primary editor and I love it.

[2015-04-16 20:28] rachelss commented on #206
Someone just needs to adjust the template to be consistent. Try to have everyone using the same editor. If you prefer nano then put that up front for everyone. Of course instructors can adjust the template themselves, but at least provide the same options for each platform. Also, for windows the installer automates syntax highlighting, but this is not true for mac / linux, so you're having them wo

[2015-04-16 21:05] wking commented on #206
On Thu, Apr 16, 2015 at 01:28:59PM -0700, rachelss wrote:

+1 to all this.  We just need to figure out what the template's
consistent position should be ;).

Well, Windows is such a stretch that it's hard to get things working
without having something like our Windows installer to help you out.
The ~/nano.rc-creation code is cross-platform though, so we could make
the installation-script cross-pla

[2015-04-16 21:06] wking commented on #205
On Thu, Apr 16, 2015 at 12:42:54PM -0700, rachelss wrote:

Duplicate of #193?  Where are you still seeing the stale link?

[2015-04-16 21:29] rachelss commented on #205
I see you fixed sql since I made my workshop website. Sorry. Still, if you could not include the github link for the windows installer that would avoid confusion.

[2015-04-16 21:39] wking commented on #205
On Thu, Apr 16, 2015 at 02:29:14PM -0700, rachelss wrote:

That landed with #149 and #167.  I think it's worth linking to the
source code and Git repository, but maybe there's a better way to do
that without confusing folks who just want to run the compiled
installer?

[2015-04-16 22:50] rgaiacs commented on #206
@rachelss Thanks for your suggestion.

We recommend nano as the text editor for the workshop because it avoid that us, instructors, switch windows back and forward that can cause some troubles for students **and** has tips at the bottom for students know how to close it. We also recommend nano because it is open source.

We will try to address that.

[2015-04-16 22:57] rachelss commented on #206
I think that's totally reasonable. Thanks.

[2015-04-17 16:25] rachelss commented on #206
This is how I have our workshop set up currently.
http://rachelss.github.io/2015-04-18-ASU/

[2015-04-17 17:25] wking commented on #206
On Fri, Apr 17, 2015 at 09:25:24AM -0700, rachelss wrote:

You're pointing OS folks at nanorc/nanorc, which is unmaintained [1](https://github.com/nanorc/nanorc/#unmaintained).
I'd expect the Apple folks install the default nano syntax
highlighting files on OS X (e.g. Gentoo puts them in /usr/share/nano
[2](https://github.com/swcarpentry/workshop-template/issues/206#issuecomment-93839360)), so I'd

[2015-04-18 00:39] rachelss commented on #206
Thanks. That's really helpful. I'm going to leave it as-is for tomorrow's workshop and will work on this the next time I teach.

[2015-04-18 17:18] chendaniely opened #207 "Suggest rstudio mirror to install all things R for novices"
I tweeted to hadly [1] and he suggested to use the rstudio mirror.

This is an issue just so I don't forget to investigate this

[1] https://twitter.com/hadleywickham/status/589475468044185600

[2015-04-19 01:48] rgaiacs commented on #188
Close by #208.

[2015-04-19 01:48] #188 closed, assigned to nobody

[2015-04-19 01:48] rgaiacs commented on #179
Close by #208.

[2015-04-19 01:48] #179 closed, assigned to nobody

[2015-04-19 11:42] #190 closed, assigned to nobody

[2015-04-19 12:25] rgaiacs commented on #157
Addressed by #159.

[2015-04-19 12:25] #157 closed, assigned to nobody

[2015-04-19 12:31] rgaiacs commented on #170
I'm closing this in favor of  #210.

[2015-04-19 12:31] #170 closed, assigned to nobody

[2015-04-19 12:53] #169 closed, assigned to nobody

[2015-04-20 14:31] jdblischak commented on #207
What issues were you having with the current installation instructions?

[2015-04-21 03:00] #206 closed, assigned to nobody

[2015-04-21 03:01] #183 closed, assigned to nobody

[2015-04-23 01:07] chendaniely commented on #196
Will be checking this later tonight, but the issue seems to be documented here [1].

Essentially there is a git wrapper built in OSX that needs xcode installed in `/usr/bin/git`.
When we install git using the installers, it goes into `/usr/local/git/bin/git`

You need to run `/usr/local/git/bin/git` explicitly or change the PATH such that `/usr/local/git/bin` is  before `/usr/bin`

[code]

[1] htt

[2015-04-23 01:26] chendaniely commented on #207
@jdblischak just checked this.  false alarm.  Thought we had students picking mirrors before downloading files from CRAN.  Closing this now.

[2015-04-23 01:26] #207 closed, assigned to nobody

[2015-05-01 03:14] chendaniely opened #212 "2 Active branches"
There are 2 active branches both behind numerous commits behind master.
Can those be deleted when created new workshop websites?

A bit curious how those branches got in there since they should've been PR's according to the repo guidelines

[2015-05-01 03:57] wking commented on #212
On Thu, Apr 30, 2015 at 08:14:21PM -0700, Daniel Chen wrote:

Yes.  In fact, we can delete ‘add-admin-email’ from this repository
(it landed as #203).  But we need to leave ‘add-config-wiki-link’
until #197 is either merged or rejected.

They are PRs, but @dlebauer should be pushing his branches to his own
public fork when creating PRs against this repo instead of pushing
them to _this_ repository

[2015-05-01 07:23] hdashnow opened #213 "Multiple values for humantime"
Apologies if this question has been answered elsewhere.

In index.html:
`humantime: FIXME (use the format '9:00 am - 4:30 pm' (without the quotes)`

Initially it appeared that there can only be one value here, e.g.  '9:00 am - 5:00 pm'
After some experimentaiton I discovered that I could add multiple values like this:
`humantime: 9:00 am - 5:00 pm, 1:30 pm - 5:30 pm, 1:30 pm - 5:30 pm`

However, I

[2015-05-01 10:51] gvwilson commented on #213
Hi Harriet,
There isn't a way to do this right now - we couldn't think of a way to
handle the general case that wouldn't make the usual case more
complicated.  One possibility is just to remove the human date/human
time fields from the template, let people format the calendar info in
the body of the page however they want, and only use the start and end
dates in the header (which is what gets harv

[2015-05-02 06:48] hdashnow commented on #213
No worries, I don't think it's worth the trouble. I'll simply remove the times from the header section if it becomes too confusing.

[2015-05-02 06:48] #213 closed, assigned to nobody

[2015-05-06 21:02] twitwi commented on #212
I had the same experience with the "import" with github, where the new repo is not on gh-pages by default. This can be confusing for people setting up a workshop website.
I don't know a way to forbid creating branches on github but I think having a single branch in the current repo would be the solution, as @wking mentioned.

[2015-05-06 21:23] twitwi opened #214 "tools/clean can wipe your $HOME"
`tools/clean` is not space proof and if a file like 'a ~' exists, it will wipe your ~/

PR coming

[2015-05-06 21:36] twitwi commented on #214
@gvwilson : who should review and merge this one?

[2015-05-06 21:39] #214 closed, assigned to twitwi

[2015-05-06 21:39] gvwilson commented on #214
Looked good to me.

[2015-05-06 21:42] wking commented on #214
On Wed, May 06, 2015 at 02:36:52PM -0700, Rémi Emonet wrote:

Looks like you can merge it if you like [1](https://github.com/swcarpentry/lesson-example/blob/gh-pages/README.md#maintainers) ;).  #215 looks good to me
anyway, although I'd probably use ‘+’ and ‘-execdir’ ;).

[2015-05-07 03:22] #212 closed, assigned to nobody

[2015-05-07 07:22] twitwi commented on #214
I always prefer having a review for changes involving `rm -rf` :)
Thanks for the feedback.

[2015-05-07 12:20] rgaiacs commented on #214
I understand why `rm -rf $(find . -name '*~' -print)` is bad but didn't understand why `find . -name '*~' -exec rm -rf {} \;` doesn't have the same problem since

[code]

[2015-05-07 13:40] twitwi commented on #214
I think you see the problem with the problematic version (rm find): the shell calls find then splits the input using spaces and thus calls (python way) ["rm", "-rf", "./foo", "~"]

In the second case, (find exec rm), it is find that calls rm, replacing {} by the parameter, the shell is involved only in calling find: find then call, ["rm", "-rf", "./foo ~"]

It is one of the trap of `echo`, it is a

[2015-05-13 17:16] chendaniely commented on #196
not sure if this was stated anywhere, but the snowleopard installer is needed on mountain lion.
This is mostly a note to myself while at the BUSM workshop

[2015-05-13 17:33] wking commented on #196
On Wed, May 13, 2015 at 10:16:51AM -0700, Daniel Chen wrote:

It's stated on the git-osx-installer download page [1](http://sourceforge.net/projects/git-osx-installer/files/?source=navbar0), under “Which
version should I download?”.

[2015-05-13 17:36] timcharper commented on #196
I test the git os x installer in a fresh VM; it works. Thanks, @chendaniely, for pointing out the need to use a installer for a version of the operating system that is or predates your present OS.

You'd think people could use common sense here, or read the instructions, but.... there are always those...

[2015-05-19 18:35] twhitehead opened #216 "Handling of 12:XXam/pm times broken in check script"
Putting a 12:XXam or 12:XXpm time in the humantime field gives the very unhelpful message

[2015-05-20 22:27] chendaniely commented on #196
from the BU workshop with @mkcor, the calling git from `/usr/local/git/bin/git` did not seem to work.

[2015-05-20 22:35] jiffyclub commented on #196
See #204 where I fix our installation instructions to make clear which version of the installer is needed depending on your version of OS X.

[2015-05-22 20:27] chendaniely opened #218 "Add link to lessons in workshop template"
The past few workshops I've taught in we've added links to the lessons under the schedule or above where the current reference links are.  Should we make that a default option of the workshop template?  Does anyone else do this?

I know students can always navigate to the lesson from the reference page, but I feel it'll make everyone's lives (students, and instructors) easier if we added the links

[2015-05-23 22:03] rgaiacs commented on #196
I'm closing this issue based on #204. Please reopen it if needed.

[2015-05-23 22:03] #196 closed, assigned to nobody

[2015-05-24 00:13] rgaiacs commented on #216
Fixed at #217.

[2015-05-24 00:13] #216 closed, assigned to nobody

[2015-05-28 18:14] ashtonmsu opened #219 "First section of "directions" were really highlighted 'gotchas'"
I assumed it was some sort of process overview, but it was not. An immediate overview of the process would be great!

[2015-05-28 18:19] seanfisk commented on #121
I second this — had this issue when working with @willpitchers. In addition to the preview instructions, the instructions include the installation of PyYAML, which is necessary to run the `check.py` script.

[2015-05-28 18:40] gvwilson opened #220 "Change header of index.html to use comments instead of parenthesized values"
Frequent mistake in editing index.html is to leave the parenthesized explanations in place.  Change these to be comments with `#`.

[2015-05-28 18:45] arthur-e opened #221 "Emphasize that instructors should NOT fork the template and WHY"
Although the instructions do say not to fork the repo on Line 1, many of us in instructor training forked it anyway (because we don't read instructions...). At any rate, it might be helpful if:
1. "DO NOT FORK" was emphasized further; and
2. The reason for not forking is included; e.g., "Github does not allow a user to have multiple forks of the same repo. If you fork the `workshop-template` repo

[2015-05-28 18:48] chendaniely commented on #151
I usually put the main person handling logistics from the host...

[2015-05-28 18:51] chendaniely commented on #221
we used to have this in the original bc repo readme [1].  We can just take the words there and put it in the new template?

[1] https://github.com/swcarpentry/bc/blob/519791058506f178b722f2eb9da0181c3c2bb904/README.md

[2015-05-28 22:37] arthur-e commented on #221
Yeah, that sounds good to me.

[2015-05-29 00:46] iglpdc commented on #151
It should be lead instructor, because it's the one in contact with the host, so it can answer certain logistic questions. The host itself is not usually a good contact, as this is where we direct people for installation problems. In some cases, though, hosts asked to put their contact there (say in cases with a complicate registration process).

[2015-05-29 17:24] #220 closed, assigned to nobody

[2015-05-31 10:50] gvwilson commented on #177
It's time to warm this one up - would @r-gaia-cs or @jiffyclub like to take another stab at it? Or should I try to bring in one of our newer members who wants to do some coding?

[2015-05-31 11:43] rgaiacs commented on #177
I'm not very good with layouts and diagrams. If any newer member want to help on this I can help.

[2015-06-02 11:52] apawlik commented on #136
There should be some more explicit info/reminder for the instructors to tweak the CHECKS. Right now it's easy to miss the reference to checks (esp. for the new instructors) among lots of other instructions. We just had a case when at a workshop that uses R, one of the attendees following the instructions on the website (made from the template) tried to run the scripts and since he didn't have Pyth

[2015-06-02 21:23] rgaiacs opened #223 "Template for Etherpad"
I remember that I already used a template for the etherpad but couldn't find it today.

[2015-06-09 03:45] iglpdc opened #225 "Should we ask learners about special needs in the workshop survey?"
Our checklist for hosts [1] asks them to go through our accessibility checklist [2] prior to the workshop, but it's hard to prepare for everything. So wouldn't be more useful to have a box in the pre-workshop survey to ask learners directly whether they need something?

Instructors and hosts can then act on more concrete demands. Also we can collect statistics that may be useful at some point (e.g

[2015-06-10 12:55] sritchie73 commented on #136
We had the same problem (cc: @hdashnow) at an R workshop a few weeks ago in Melbourne. I'm in the process of creating a new workshop website now, and it doesn't look like swc-installation-test-2.py has any checks for R. Maybe we need an R specific script that checks for valid shell, git, sql, and R installations?

[2015-06-10 13:56] ethanwhite commented on #136
I think having a parallel script written in, and focused on, R might be a good solution.

[2015-06-10 14:17] #69 closed, assigned to nobody

[2015-06-10 14:17] #75 closed, assigned to nobody

[2015-06-10 16:28] wking commented on #136
On Wed, Jun 10, 2015 at 06:56:06AM -0700, Ethan White wrote:

The current Python scripts could drive R from the command line
(assuming R has something like Python's -c option), and if someone
with access to R wants to work up those checks I'll happily merge
them.  On the other hand, if someone wants to work up an R based
script for checking the R installation, that would be fine too.  I
think main

[2015-06-11 01:12] hdashnow commented on #136
I see your point about duplication of effort @wking.

My main concern about adding R workshop requirements to the current script would mean that students of R workshops would have to also install Python.

Or do we think all students should download Python for all workshops irrespective of the language being taught? If that's the case, then we need to be adding Python to the list of R install instr

[2015-06-11 01:17] hdashnow commented on #136
Another thought, what if the script takes an optional argument like
`check_install --workshop r-novice-gapminder`
And then only checks for a predefined set of things for that workshop. We could have these specified for the most common types of workshops.

Or even `check_install --language R --versioncontrol git`

Apologies if this has already been proposed elsewhere...

[2015-06-11 14:39] wking commented on #136
On Wed, Jun 10, 2015 at 06:12:45PM -0700, Harriet Dashnow wrote:

Folks who are using non-Windows OSes already have a system Python.
Well, we support “Linux” too, which isn't very well defined except for
the kernel (no Python interpreter there yet ;), but I don't know of
any mainstream distros that don't have a system Python out of the box.

Yes and no ;).  They'll need Python to run the script, b

[2015-06-11 15:24] iglpdc commented on #136
I just forgot to change the requirements for a workshop I'm teaching next
week and got a couple of emails from students about their installations not
passing the tests :).

In any case, adapting the test script should be in the lead instructor list
or the workshop-template README.

On Thu, Jun 11, 2015 at 10:39 AM, W. Trevor King notifications@github.com
wrote:

[2015-06-11 15:42] wking commented on #136
On Thu, Jun 11, 2015 at 08:24:15AM -0700, Ivan Gonzalez wrote:

Sounds good to me.  I wrote up a tool for creating checklist issues on
GitHub based on a template [1,2] which mentioned this “customizing…
the setup instructions”, but I think @gvwilson got bored with that
idea ;).

[2015-06-24 17:37] gdevenyi commented on #225
+1 for this, we can't produce a comprehensive list in the survey, or think of every circumstance, it makes sense to provide a free-form input for learners.

[2015-06-26 02:46] #223 closed, assigned to nobody

[2015-07-02 00:10] DamienIrving opened #228 "Make installation instructions"
Now that the [Automation and Make lesson](http://swcarpentry.github.io/make-novice/) is up on the main [SWC lessons page](software-carpentry.org/lessons.html), should we add the Make installation instructions to the workshop template? @hpcarcher included Make instructions in [this workshop website](http://hpcarcher.github.io/2014-12-03-edinburgh/), so it would just be a matter of cutting and pasti

[2015-07-02 00:33] DamienIrving commented on #228
In fact, I've taken the @hpcarcher Make instructions and incorporated them into this [index.html](https://github.com/DamienIrving/2015-07-13-amos/blob/gh-pages/index.html) file, which is more consistent with the latest version of the lesson template. If you like, I can submit a PR based on what I've done in that file?

[2015-07-02 10:04] mikej888 commented on #228
make.exe is also installed if using the SWC Windows installer:
- https://github.com/swcarpentry/windows-installer

I hadn't picked up on that as I hadn't used it recently, and I've already set up my GitBash with make.exe manually.

I'd created a pull request to update the workshop docs with make information (https://github.com/swcarpentry/bc/pull/533) but it got sidetracked into a make.exe versus

[2015-07-04 16:46] iglpdc commented on #225
@gvwilson what do you think about this? If you agree, could you add it somewhere in the Google form for the pre-workshop survey?

[2015-07-05 19:28] noamross opened #229 "Make link to python setup testing obvious to remove"
There's a link in the workshop install instructions to test software installation: https://github.com/swcarpentry/workshop-template/blob/gh-pages/index.html#L303-305.  This is only applicable to Python workshops.  Could it be moved from the head of this section to the python install instruction sub-section?  It's easy to overlook when customizing for a workshop, and is confusing to learners if one

[2015-07-06 00:36] gvwilson commented on #225
:+1:

[2015-07-15 14:39] tomwright01 commented on #229
I second this, a workshop participant hit this error yesterday.

[2015-07-16 15:03] rgaiacs commented on #229
@noamross and @tomwright01 Could you review https://github.com/swcarpentry/workshop-template/pull/231?

[2015-07-16 21:40] #229 closed, assigned to nobody

[2015-07-16 22:31] marwahaha opened #232 "Updates to Workshop Template Wiki"
Sorry, I don't know how to make a pull request for wikis.

Here are my updates.

https://github.com/marwahaha/swc-wiki

[2015-07-16 23:31] rgaiacs commented on #232
@marwahaha Thanks. I already update https://github.com/swcarpentry/workshop-template/wiki/Configuration-Problems-and-Solutions.

As far as I know, you can't. Normally if you have a GitHub account you can edit any wiki.

[2015-07-16 23:31] #232 closed, assigned to nobody

[2015-07-16 23:52] marwahaha commented on #232
Thank you Raniere! I think you can only edit if you are a collaborator on the repository.

[2015-07-22 15:47] fonnesbeck opened #233 "Eventbrite ticket information not updating"
We've used the template to set up our [website for the upcoming Vanderbilt workshop](http://vu-bc.github.io/2015-08-20-vanderbilt), and entered our Eventbrite information into the header of `index.html`. However, when we flip the switch at Eventbrite to open registration, the ticket information on the course website still displays "This event has not been published yet." Is there a trick to gettin

[2015-07-22 15:49] fonnesbeck commented on #233
User error. Sorry for the noise.

[2015-07-22 15:49] #233 closed, assigned to nobody

[2015-07-22 17:26] gvwilson commented on #233
What was the error?  We should probably document it in the workshop
template FAQ to help others.

On 2015-07-22 11:49 AM, Chris Fonnesbeck wrote:

##

Dr. Greg Wilson    | gvwilson@software-carpentry.org
Software Carpentry | http://software-carpentry.org

[2015-07-23 23:21] wking commented on #229
On Sun, Jul 05, 2015 at 12:28:16PM -0700, Noam Ross wrote:

Well, it's written in Python, but the idea is language agnostic.  You
could, for example, use it to test for a workshop that was just going
to use a POSIX shell and command-line Git.  If someone wants to
translate the checker to a different language, I'm fine with that (but
it's easiest for me to maintain it in Python).  Comments about wh

[2015-07-31 01:07] fonnesbeck commented on #233
Stupid user error. Nothing that needs to be FAQ'ed.

[2015-08-28 08:05] karinlag opened #236 "Extra packages needed for workshop site setup"
Hi!

I am atm setting up a set of workshop pages for a workshop at Oak Ridge Natl. labs. While setting this up, I encountered two situations where I needed to install extra software to do checking and previewing, on top of what is already in the setup description. Note: os is biolinux, aka ubuntu with addons.

First, to get jekyll to install with ruby, I had to install ruby-dev. Otherwise jekyll w

[2015-08-28 10:54] rgaiacs commented on #236
@karinlag Thanks for the feedback.

At some Linux distros `ruby` means all Ruby stack and at others just the Ruby interpreter. Sorry for the trouble. I will add this soon.

This is very strange. Our dependencies should be, **shortly**, Make, Jekyll and Python. If you need a Java runtime environment you should install `openjdk-6-jre`, `openjdk-7-jre` or `openjdk-8-jre` and not `nodejs` (this is for

[2015-08-30 14:01] karinlag commented on #236
Sorry, by bad, should have expanded on the last error. The error occurred when I ran tools/preview. The error I got was this one:

[code]

Sorry, had to copy it from somewhere else because I had cleared my terminal, but it was execjs that complained about java runtime, and it was fixed by installing nodejs.

Hope this makes sense to somebody! If not, I can do it over again to get a more comprehens

[2015-08-30 20:28] rgaiacs commented on #236
@karinlag I will test using the OVA file for use with VirtualBox/VMWare provide at http://environmentalomics.org/bio-linux-download/.

[2015-08-31 09:44] rgaiacs opened #238 "Require Ruby >= 2.0"
**Related with #236.**
## Steps to reproduce
1. Download Bio-Linux for VirtualBox from http://environmentalomics.org/bio-linux-download/
2. Add Bio-Linux to VirtualBox.
3. Start Bio-Linux
4. Run `sudo apt-get update && sudo apt-get install ruby-dev`. The password is `manager`.
5. Run `gem -V install github-pages`
## Solution

[code]

[2015-08-31 09:46] rgaiacs commented on #236
@karinlag NodeJS is required for a while (https://github.com/jekyll/jekyll/commit/404661fc729729a2b699b2b1e47b764f3b846acd). Thanks for the report.

[2015-08-31 09:47] gvwilson commented on #236
Aaarrrrggghhhh

[2015-08-31 10:44] #236 closed, assigned to rgaiacs

[2015-08-31 10:44] #238 closed, assigned to rgaiacs

[2015-09-09 19:17] bstamps opened #241 "Add instructions on pushing changes to GitHub"
Under "Customizing Your Website" the final step of pushing the changes made back to Git is only mentioned offhand- it might be more clear to add a final step indicating this, and how to do it. This could be done by editing step 4 under "Customizing Your Website".
1. When you are done editing, you can preview your website. Again, if your repository is https://github.com/your_username/YYYY-MM-DD-sit

[2015-09-16 19:53] dotsdl opened #242 "Broken links to reference pages"
The links to reference pages are currently broken. That is, the line in `_config.yml` for `swc_lessons` needs to be updated. Also, the individual links to the references in `index.html` need the rest of their urls updated.

I would do this myself, but I'm not sure if the changes in the main site are here to stay or are themselves a mistake.

[2015-09-16 20:33] #242 closed, assigned to nobody

[2015-09-16 20:34] rgaiacs commented on #242
@dotsdl Thanks a lot for the report.

[2015-09-16 20:41] gvwilson commented on #242
Nice catch, David.

On 2015-09-16 8:53 PM, David Dotson wrote:

##

Dr. Greg Wilson    | gvwilson@software-carpentry.org
Software Carpentry | http://software-carpentry.org

[2015-09-17 02:34] aprokop opened #247 "Clarify when to use quotes in index.html"
Ideally, someone with more knowledge would go through the first few lines in index.html, and clarify when to use or not to use the quotation marks, and whether those should a single or double quotation. At the moment there are only three places with clear indication.

[2015-09-17 03:01] rgaiacs commented on #247
If the value isn't
- `true`,
- `false`,
- `null` or
- a number

is safer to use quotes. **You should use quotes around lists.**

@gvwilson Do you remember why `human-readable date (e.g., 'Feb 17-18, 2020' without the quotes)`?

Jekyll doesn't make different from single or double quotes. You just need to be careful to not use single quote inside single quote or double quotes inside double quotes, e

[2015-09-17 04:57] aprokop commented on #247
I think that from a user's perspective having a clear directive of what to use is much preferable, even if the underlying framework allows multiple ways. I like the approach you indicated, so maybe this issue could simply be solved by adding a comment in the first index.html section saying:

# If the value is not 'true', 'false', 'null', or a number, please use
# double quotation marks around the

[2015-09-17 06:01] gvwilson commented on #247
+1 - please add this.

[2015-09-17 11:51] rgaiacs commented on #247
@aprokop Could you please review #249 and let us now if it is good.

[2015-09-17 16:14] aprokop commented on #247
@rgaiacs Looks good to me. Now only index.html needs some fixing.

[2015-09-17 16:34] #247 closed, assigned to nobody

[2015-09-22 12:44] gordondavies opened #250 "Clarify what the date in the repo name should be"
It needs to be clarified that the date in the imported repo name should be the date of the workshop, not todays date. Kthanksbye.

[2015-09-22 19:39] symulation opened #251 "Two-Letter Country Code Fails to Validate"
In the workshops repository the instructions inside index.html ask for a two-letter country code.  Putting these into index.html fails to validate in AMY though. For example, putting in "CA" for Canada fails to validate in AMY but "Canada" validates.

[2015-09-23 16:11] gvwilson commented on #251
@pbanaszkiewicz can you please have a look?

[2015-09-23 16:38] pbanaszkiewicz commented on #251
@gvwilson @symulation this is AMY issue. We're sharing `check.py` with `workshop-template`, but didn't update AMY's version when original updated. Posting a PR soon…

[2015-09-23 16:41] pbanaszkiewicz commented on #251
By the way, I think we need to explicitly say "Use 2-letter _lowercase_ country code" in the `index.html`.

[2015-09-23 16:53] gvwilson commented on #251
Yes, but then we should lowercase before validating as well.

[2015-09-23 18:51] justincely opened #252 "Room number for workshop metadata"
Putting together a bootcamp this week and I noticed there's no Room number metadata for the workshop template.  Seems like Date, Time, Location could really use a Room number.

Anyone object to a merge request that adds that metadata? (e.g http://spacetelescope.github.io/2015-09-24-stsci/)

[2015-09-23 19:33] gvwilson commented on #252
I normally list that as part of the address, since a lot of venues won't
have it.

[2015-10-02 23:13] rgaiacs opened #254 "Update instructions to download Anaconda"
Layout of https://www.continuum.io/downloads changed.

[2015-10-03 12:11] #251 closed, assigned to gvwilson

[2015-10-03 20:17] #254 closed, assigned to rgaiacs

[2015-10-11 10:48] b-reuter opened #258 "Couldn't import the mayavi.mlab package"
After completing all installations for the software carpentry workshop as instructed the following error appears when verifying the installations with the 'swc-installation-test-2.py' script:

Failures:

check for MayaVi (mayavi.mlab) failed:
  could not import the 'mayavi.mlab' package for MayaVi (mayavi.mlab)
  For instructions on installing an up-to-date version, see
  http://docs.enthought.com

[2015-10-11 12:00] rgaiacs commented on #258
From http://docs.continuum.io/anaconda/pkg-docs the MayaVi package
- isn't available on Python 2.6;
- isn't installed by default on Python 2.7;
- isn't available on Python 3.3 and
- isn't available on Python 3.4.

I will report this [upstream](https://github.com/wking/swc-setup-installation-test/).

[2015-11-02 19:32] chendaniely opened #261 "Put links to surveys on workshop template"
We are trying to standardize the surveys and links so that we do not need to constantly generate new surveys for each workshop.  Eventually when this system is more-or-less automated, we should add the pre, post workshop surveys to the template.

https://github.com/swcarpentry/site/issues/1153

[2015-11-04 20:06] iglpdc opened #262 "Segmentation fault when using Git Bash"
This is coming from this issue in the git-novice repo [1] that I think it belongs here.

[1] https://github.com/swcarpentry/git-novice/issues/181

[2015-11-09 18:41] rgaiacs commented on #258
Solved by 750fdc55c408c1b5e72b5a90ba24e8c3fa0cf899.

[2015-11-09 18:41] #258 closed, assigned to nobody

[2015-11-10 04:23] iglpdc commented on #225
Any pointers on how to do this?

[2015-11-10 05:00] rgaiacs commented on #225
@iglpdc I think that @JasonJWilliamsNY included this at the new survey.

[2015-11-11 14:50] iglpdc commented on #262
This is happening to us in the NYU workshop in a computer using Windows. I'll post more details in a bit.

[2015-11-13 05:39] rgaiacs opened #265 "Repository metadata on GitHub Pages"
GitHub [inject some metadata](https://help.github.com/articles/repository-metadata-on-github-pages/) when Jekyll build the websites.

We should copy the values of this variables to normal variables so people could you the template without GitHub Pages if they want.

[2015-11-14 22:51] wking commented on #136
On Thu, Mar 19, 2015 at 02:44:40PM -0700, Matt Davis wrote:

So I finally got the time to implement @pbanaszkiewicz's suggestion
(referenced in wking/swc-setup-installation-test#2).  How does
wking/swc-setup-installation-test#9 look to everyone?

[2015-12-17 10:48] IanHawke opened #272 "Anaconda environments"
Is it worth asking students to set up an Anaconda environment to avoid occasional setup issues on Windows?

The problem (that I've now hit in two workshops) is usually related to ArcGIS: see [the entry I added to the wiki](https://github.com/swcarpentry/workshop-template/wiki/Configuration-Problems-and-Solutions) (search for ArcGIS). Anaconda relies on setting certain environment variables which i

[2015-12-17 15:30] rgaiacs commented on #272
@IanHawke Thanks for the feedback. What you think of adding this information at the begin of the Python lesson?

[2015-12-17 16:23] IanHawke commented on #272
I would favour a belt-and-braces approach: have it both with the general
setup instructions, and also a reminder at the beginning of the python (and
unit testing) lessons. Setting up the environment by itself can cause
Anaconda to re-download the software; on the Windows machine in the middle
of a lab this was taking ~10 minutes.

Note: as my list of cons suggests, I'm not convinced myself that th

[2015-12-17 17:25] wking commented on #272
On Thu, Dec 17, 2015 at 02:48:53AM -0800, Ian Hawke wrote:

‘Failed to import module nose’ is something that can be detected with
the installation-test script [1](https://github.com/wking/swc-setup-installation-test/blob/74844ea43e4df102d9013eae92d19f7f924ee00b/swc-installation-test-2.py#L103).  To get a more-specific check, we
could add an “is Anaconda installed” check, and show folks a message
i

[2015-12-17 17:50] iglpdc commented on #272
Could we create the environment as an option during the installation-test
script? The test is run by the learners at home and would make the
instructions during the Python lesson very simple (activate the environment
if your instructor tells you to do so.)

On Thu, Dec 17, 2015 at 12:25 PM, W. Trevor King notifications@github.com
wrote:

[2015-12-17 18:02] wking commented on #272
On Thu, Dec 17, 2015 at 09:50:47AM -0800, Ivan Gonzalez wrote:

I'd rather avoid having the test-script change the system on behalf of
the user (that's what the installer is for [1](https://github.com/swcarpentry/windows-installer)).  So this problem is
in an awkward middle ground between the tester (that knows what works
and what doesn't) and the installer (that changes things, but has a
very lim

[2015-12-17 18:34] IanHawke commented on #272
@wking : The test script did indeed pick up that there was a problem. It said that none of numpy, matplotlib or nose were installed. The trouble was that repeated re-installation of Anaconda did not fix this, and we could clearly run python with numpy and matplotlib from the terminal: our first conclusion (based on trouble other instructors had seen) was that there was an issue with the webserver.

[2015-12-17 18:49] wking commented on #272
On Thu, Dec 17, 2015 at 10:34:42AM -0800, Ian Hawke wrote:

Hmm.  I'm surprised that numpy/matplotlib worked from the terminal,
but not from the test-script (which you ran from the same terminal?).
But yeah, we'd want new tests for “are you running Anaconda” to decide
if the fact that nose (or whatever Anaconda-supplied package) wasn't
working was likely due to Anaconda being clobbered by other co

[2015-12-19 19:03] IanHawke commented on #272
As it currently stands on my (virtual) Windows 8 machine I cannot reproduce the error seen on the student machine, so can't make sensible suggestions to take this further.

[2016-01-06 20:19] ChristinaLK opened #274 "A suggestion for the README"
I've had people build workshop pages with minimal instruction (i.e., just using the readme) for two instructor trainings, and both times there were a few people who were confused by the importer step, where they changed the first field from swcarpentry/workshop-template to their planned workshop name.  If someone could add a note that the first field DOES NOT CHANGE, that would be great. I'll subm

[2016-01-09 00:54] arokem opened #276 "Add links to the "setup" section"
Is it possible to add the links to the data that people will need in the workshop to the "setup" section? For example, the link to http://swcarpentry.github.io/python-novice-inflammation/python-novice-inflammation-data.zip for the Python session.

[2016-01-09 04:09] wking commented on #276
On Fri, Jan 08, 2016 at 04:54:50PM -0800, Ariel Rokem wrote:

The difficulty with that is that it depends on which lessons you're
teaching.  It would be possible to automate link injection if we have
lesson-authors declare their downloads (along the lines of the
dependency declaration I've suggested with
wking/swc-setup-installation-test#9).  Collecting the links by hand
shouldn't be too difficult

[2016-01-09 17:22] arokem commented on #276
Whether you teach Python or R (and we always teach one or the other, no?), you always need learners to download a set of files, no? So, we could add that under the "R" or "Python" heading in the static text.

[2016-01-09 17:23] arokem commented on #276
Also: at least the "novice inflammation" files seem to be identical for both lessons. Are they?

[2016-01-09 17:26] arokem commented on #276
Relatedly: https://github.com/swcarpentry/r-novice-inflammation/issues/163

[2016-01-09 20:07] wking commented on #276
On Sat, Jan 09, 2016 at 09:22:46AM -0800, Ariel Rokem wrote:

Yeah [1](http://software-carpentry.org/faq/#core-topics), but as far as I know, they don't have to be [2,3].  For
example, you could use [4,5] and maybe eventually [6](https://github.com/swcarpentry/python-intermediate), or your own
personal Python lesson, etc.  Filling in links to datasets for our
main lessons [7](http://software-carpe

[2016-01-10 14:29] gvwilson commented on #276
How about adding the links to the data sets in commented sections in the
home page, adding to the docs to tell people the links are there, asking
them to uncomment the links they need, and seeing who actually uses it?

[2016-01-10 19:10] gvwilson opened #277 "Add discussion of Windows installer and update-copyright"
https://pypi.python.org/pypi/update-copyright/ and our Windows installer should be mentioned more prominently.

[2016-01-10 22:06] iglpdc commented on #276
Another option would be to have a template for the Etherpad. I typically write the links to the files to download in the Etherpad with some other info (which is kinda silly to do over and over :) ). So maybe having a text file that instructors can copy-paste into the Etherpad would be nice.

But my preferred way will be add this as a new entry in the lesson JSON file proposed by @wking.

(We can a

[2016-01-10 22:17] wking commented on #277
On Sun, Jan 10, 2016 at 11:10:10AM -0800, Greg Wilson wrote:

It's already referenced from the Windows-installation sections [1,2].
That seems prominent enough to me (students installing on Windows
should notice the references).

For update-copyright, I'd just add a Makefile target [3](https://github.com/swcarpentry/lesson-template/issues/288#issuecomment-170398797).

[2016-01-11 18:53] iglpdc opened #281 "Old Safari browsers don't work with ipython notebook"
To add to the troubleshooting section. Safari is version for the Mac OS 10.7. The fix is to set Chrome (maybe Firefox) as the default browser.

[2016-01-11 19:08] wking commented on #281
On Mon, Jan 11, 2016 at 10:53:40AM -0800, Ivan Gonzalez wrote:

In the current installation-test script, there are tests for
IPython-compatible browsers since
wking/swc-setup-installation-test@d13b26c9f
(swc-installation-test-2.py: Add minimum browser requirements for
IPython, 2015-01-24).  The minimum Safari for IPython v3.0.0 was 5.0,
but I haven't checked since then.  Is OS 10.7 running an olde

[2016-01-11 19:12] iglpdc commented on #281
I'm not sure. I'll check in a bit: we're in the middle of the workshop.
Also it might be that the learners didn't run the check scripts at all :)

On Mon, Jan 11, 2016 at 2:08 PM, W. Trevor King notifications@github.com
wrote:

[2016-01-11 21:07] fmichonneau opened #282 "Add a generic 'instructor-notes' for the overall workshop"
Following a [brief conversation on Twitter earlier today](https://twitter.com/_christinaLK/status/686561703853715458) with @gvwilson and @christinaLK  , I thought it might be worth having a document that instructors could use as a guide to introduce and motivate workshops. I'm thinking it would be an overview of the philosophy of Software/Data Carpentry (why do we teach what we teach? how do we te

[2016-01-11 21:46] wking commented on #282
On Mon, Jan 11, 2016 at 01:07:44PM -0800, Francois Michonneau wrote:

I'd recommend an instructors.md file like the one we suggest for
lessons [1,2].

There's a more generic (i.e. not learner-targeted) intro in [3](http://swcarpentry.github.io/slideshows/introducing-software-carpentry/index.html).  I've
done a quick search for something like this in the workshop-template
history, but it doesn't lo

[2016-01-12 04:58] iglpdc commented on #228
+1 on this. The only problem will be with OSX (the SWC installer takes care of Windows), but it's a big problem if you have to install XCode for old systems.

@mikej888 do you wanna redo you PR here?

[2016-01-12 14:52] ChristinaLK commented on #282
@wking where would this instructor.md go - the workshop-template repo?  I really like the idea of an instructor's guide with stories, or suggestions for stories, relevent xkcd comics, etc.  ;)

In addition, I envision a markdown file (of slides, rendered in deck.js or similar) in the workshop-template repo that's customized in the same way (and at the same time?) as index.html, and then instructor

[2016-01-12 15:09] gvwilson commented on #282
We've tried several times to get instructors to send us material;
results have been... slim.  Instead of focusing on where it goes right
now, how about organizing an hour-long live online session for people to
share material and tell stories, so that we have a critical mass of
stuff to get this rolling?  (Not that masses, critical or otherwise,
roll. I'm mixing metaphors.  It's early, and this is

[2016-01-12 17:31] wking commented on #282
On Tue, Jan 12, 2016 at 06:52:21AM -0800, Christina Koch wrote:

That seems like the best place for notes on what instructors should
_tell learners_ to motivate workshops.  Longer form details that
trainers tell instructors would go in the instructor-training
repository.

That is possible, but when we had short slide-shows introducing the
lessons they didn't get much love/use and were eventually d

[2016-01-12 18:08] ChristinaLK commented on #282
An overall point on gathering this kind of material - I know I was intimidated by the idea of submitting my more "personal" stuff (activities, stories, personal slide decks) to the lessons, because I didn't want it to be the "official, endorsed by SWC" way - that was too intimidating and not what it had been written to be!  I didn't know about (did there an exist?) a space to post "your milage may

[2016-01-13 00:44] iglpdc commented on #281
The learner didn't show up today, so I couldn't check on Safari's version. OS 10.7 should run at least Safari 5, according to [1], and the Jupyter docs [2] still mention minimun Safari as 5.0.

Should we close this?

[1] https://en.wikipedia.org/wiki/Safari_version_history
[2] http://jupyter-notebook.readthedocs.org/en/latest/notebook.html#browser-compatibility

[2016-01-13 00:51] wking commented on #281
On Tue, Jan 12, 2016 at 04:44:08PM -0800, Ivan Gonzalez wrote:

Probably, since I don't think we have enough information to
auto-detect the issue.  But maybe post a note on the wiki pointing
here, so folks will re-open if they see something that looks similar?

[2016-01-13 03:06] iglpdc commented on #281
Ok, I've just added a note on the wiki. Closing this.

[2016-01-13 03:06] #281 closed, assigned to nobody

[2016-01-13 17:07] ChristinaLK commented on #274
Actually - it seems like there used to be images showing this?  Can they be recovered?  Is there a reason they were removed?

[2016-01-13 17:44] wking commented on #274
On Wed, Jan 13, 2016 at 09:07:27AM -0800, Christina Koch wrote:

It looks like there's still a link to software-carpentry.org [1](https://raw.githubusercontent.com/swcarpentry/workshop-template/4fee002ceba5cb64b8f732e8fa2d8e4b6e970102/README.md), but
that 404s now that we've switched from swcarpentry/site back to
swcarpentry/website.  We should probably keep images like that local
to the repo.

[c

[2016-01-13 17:45] gvwilson commented on #274
Good catch - I'll fix.

[2016-01-13 18:31] ChristinaLK commented on #274
thank you!  :)

[2016-01-15 04:26] iglpdc opened #283 "Remind learners to open a *new* terminal before running tests"
Some people run the scripts to test the installation from a terminal they had open **before** installing the software, causing the scripts to report errors, despite everything being properly installed. This is specially confusing in OSX, which has already Python (but probably not all the requirements) installed.

[2016-01-15 05:37] wking commented on #283
On Thu, Jan 14, 2016 at 08:26:54PM -0800, Ivan Gonzalez wrote:

Hmm.  Is the problem that software is installed in new locations, and
~/.bash_profile or some such is adjusted to append to the PATH?  It
seems like we could test for that by attempting to launch:

  [os.environ.get('SHELL'), '-c', 'echo "${PATH}"']

and comparing the output to os.environ.get('PATH').  If they didn't
match, exit with

[2016-01-15 14:42] iglpdc commented on #283
Yes, sorry if I didn't explain myself better. The only problem is that after the software is installed (say Anaconda) and the proper paths added to `PATH`, terminals already opened don't pick up the new `PATH`.

Learners have the preconception that they can run only one copy of a program, so when we ask them to run the test script they just use the same terminal they opened three days ago to do so

[2016-01-15 17:17] wking commented on #283
On Fri, Jan 15, 2016 at 06:42:54AM -0800, Ivan Gonzalez wrote:

Software fixes are usually simpler than people fixes ;).

[2016-01-22 09:26] lexnederbragt opened #286 "Images missing in rendered README"
Images on https://github.com/swcarpentry/workshop-template/blob/gh-pages/README.md are not shown. E.g. http://software-carpentry.org/img/workshop-template/using-github-import.png (did the new website break this?).

[2016-01-22 11:19] gvwilson commented on #286
Fixed in a72d03845 and a06d964c2 - thanks.

[2016-01-22 11:19] #286 closed, assigned to gvwilson

[2016-01-23 20:49] rgaiacs commented on #274
The logo works now.

![screen shot 2016-01-23 at 18 48 37](https://cloud.githubusercontent.com/assets/1506457/12532725/f928a2f4-c201-11e5-9ea7-420aa8b8e3a8.png)

[2016-01-23 20:49] #274 closed, assigned to gvwilson

[2016-01-23 21:04] rgaiacs commented on #276
I thought that we have one. Did we remove it?

[2016-01-23 21:30] rgaiacs commented on #283
@iglpdc Thanks for the report.

@wking I think that we could go with the "close and reopen your terminal".

[2016-01-25 14:20] mstimberg opened #290 "Slightly unclear Python installation instruction (Linux)"
The installation instructions for Python (i.e. Anaconda) are a bit unclear for Linux, I think. The instructions currently are (paraphrased):
1. ...
2. ...
3. Install Python 3 using all of the defaults.
4. Open a terminal window
5. type `bash Anaconda-` + TAB
6. Press enter. ...

I find it a bit confusing that "step 3" is actually not about doing anything (if you'd follow the instruction literally,

[2016-01-25 16:52] Seanny123 opened #291 "When checking if the installation worked, describe how to open a terminal"
The instructions say to run the python scripts from a shell, but there's no indication of how to open it on different operating systems.

I suggest:
- For Mac/Linux, tell them to open the program called "Terminal"
- For Windows users, tell them to open a program called "Git Bash"

[2016-01-25 17:51] wking commented on #291
On Mon, Jan 25, 2016 at 08:52:20AM -0800, Sean Aubin wrote:

Gentoo doesn't come with a program called “Terminal” :p.  To keep a
suggestion like this maintainable, I recommend we list options for
specific distributions.  Then when Fedora (or whoever) changes the
name/location we can fix their entry.

I think “how to open a terminal” is generic enough SWC information
that I'd consider putting it in

[2016-01-25 19:17] iglpdc commented on #291
That's a great idea!

[2016-01-28 12:20] lexnederbragt commented on #291
I was going to file an issue on exactly the same problem - but luckily don't have too - as I just got a learners email saying:

To which I replied

[2016-01-28 17:59] wking commented on #291
On Thu, Jan 28, 2016 at 04:20:49AM -0800, Lex Nederbragt wrote:

Yeah, there's certainly a bit of a chicken/egg problem here.  But I
expect there are learners who:

a. already know how to get to a terminal,
b. could figure it out using a website with screenshots, and
c. will need a helper looking over their shoulder and guiding their
   path (ideally in pre-workshop office-hours).

I don't think t

[2016-01-29 13:34] lexnederbragt commented on #291
Is it at all possible to turn these scripts into some executable, i.e. 'download this file and double click it'? I am no expert, so there may be lot's of cross-platform or security issues that make this impractical...

[2016-01-29 14:03] JenniferShelton commented on #291
If we leave this as instructions to run the programs from the terminal we should suggest that they may need to try the command using a path that starts with :
Downloads/

Many people are don't know to navigate to the directory with the scripts.

[2016-01-29 17:35] wking commented on #291
On Fri, Jan 29, 2016 at 05:35:00AM -0800, Lex Nederbragt wrote:

Sort of, see [1,2].  This would be more feasible with
wking/swc-setup-installation-test#9, since then you wouldn't have to
rebuild the checker after adjusting it to match your workshop.  But a
number of the checks are for “does $COMMAND resolve in your terminal”,
and for systems like Windows where you are more likely to have a
number

[2016-01-29 21:00] JenniferShelton commented on #291
Then what if we describe it that way?

"If you are already comfortable with the command line or would like to try your hand at it before the workshop, run this command from the command line...

Otherwise SWC Instructors can help you run these checks at the start of the workshop."

[2016-01-29 21:13] wking commented on #291
On Fri, Jan 29, 2016 at 01:00:09PM -0800, Jennifer M Shelton wrote:

That misses group (b) from [1](https://github.com/swcarpentry/workshop-template/issues/291#issuecomment-176305933), but I agree that we want wording
pointing out that it's ok to just show up at the workshop without
running the checks.  In the absence of
https://swcarpentry.github.io/open-a-terminal/ or some such, your
wording mak

[2016-01-30 22:26] iglpdc commented on #291
I really liked @wking's idea of having a lesson on just how to open a terminal. So what about something like this: https://github.com/iglpdc/open-a-terminal

[2016-02-02 02:21] rgaiacs opened #293 "Jekyll > 3.0"
Workshop page looks OK with Jekyll > 3.0:

[code]

Need only to fix the two errors.

[2016-02-03 16:06] gvwilson commented on #161
@maneesha is this one still relevant?

[2016-02-03 16:10] #91 closed, assigned to nobody

[2016-02-03 16:12] gvwilson commented on #68
We're replacing the validator.

[2016-02-03 16:12] #68 closed, assigned to nobody

[2016-02-03 16:19] maneesha commented on #161
I'd say no - I don't know what this is about.

[2016-02-03 18:20] #161 closed, assigned to nobody

[2016-02-08 08:31] lexnederbragt commented on #291
Nice... But opening a terminal fixes the first part. Learners then have to fetch the script and execute it. And if their python installation didn't work, they can't even do that... So I think I agree more to a wording in setup/index.md as @wking suggested.

[2016-02-09 23:01] dlebauer commented on #277
One thing I noticed (and am not sure where to report it) is that the first link to the windows installer downloads the .exe file, whereas the link to the installer under the SQLite section links to the SWC Windows Installer and one must read all the way down to the bottom of the README where there is a section "Using" that says "Just have your students download and double-click the compiled instal

[2016-02-09 23:08] wking commented on #277
On Tue, Feb 09, 2016 at 03:01:58PM -0800, David LeBauer wrote:

Sounds good to me.  The FAQ links to the repo [1](https://github.com/swcarpentry/workshop-template/blob/bb542e228df7278023c586894129f5bedb2612b6/FAQ.md), so I'm fine with just
having .exe links in the index.  Want to file a PR?

[2016-02-09 23:14] dlebauer commented on #277
@wking change is in PR #296

[2016-02-11 07:17] lexnederbragt opened #298 "check.py on unmodified index.html throwing YAML error"
At the current head, right after importing the repo, but **before** modifying `index.hmtl`, running `tools/check.py` gives:

[code]

This used to be a set of ERROR messages.

`git bisect´ (that was fun to try here) told me 25132c55d4c3169416b23954e9eaecf5ccfb7983 was the culprit. This added the reminder to email SWC admin with the repo address...

[2016-02-11 07:35] wking commented on #298
On Wed, Feb 10, 2016 at 11:17:14PM -0800, Lex Nederbragt wrote:

I'd recommend moving that reminder into a YAML comment [1](http://www.yaml.org/spec/1.2/spec.html#id2780069), so
check.py can still find the YAML front-matter.  Something like:
—

---

  # IMPORTANT REMINDER
  #
  # After generating your workshop's page…
  #
  # See instructions in the comments…
  layout: workshop
  …

[2016-02-11 10:46] gvwilson commented on #298
We need the reminder to be in the body, and prominent, because a lot of
people _aren't_ sending the required information.  I'll update the check
script when I get a chance.

[2016-02-11 16:24] iglpdc opened #299 "Is there a reason for having only index.hmtl and not index.md?"
`index.html` has very important information about our workshop setup, including the typical schedule and  setup instructions. Contrary to most of our repos, we only have an `html` version of the file and this makes hard to find this important information for novice instructors and solo learners.

Is there any technical reason to not have an `index.md` and then create `index.html` using the usual w

[2016-02-11 16:55] gvwilson commented on #299
No objection to switching to index.md - can you create that page and PR
it so we can see how easy/difficult it will be to understand and edit?

[2016-02-11 17:56] iglpdc commented on #299
Sure.

[2016-02-13 16:46] karinlag commented on #291
On 08.02.2016 09:31, Lex Nederbragt wrote:

On this note: I had set up this script for my last workshop, without
thinking of the fact that it was R focused. Thus, many of my
participants couldn't get it to run because they didn't have python
installed.

Karin

[2016-02-13 21:49] wking commented on #291
On Sat, Feb 13, 2016 at 08:46:08AM -0800, karinlag wrote:

Previous discussion on that point starting here [1](https://github.com/swcarpentry/workshop-template/issues/136#issuecomment-110740035).

[2016-02-17 19:02] gvwilson opened #300 "Remove instructions to use check.py"
Instructor training workshop attendees on 2016-02-17 tripped because check.py requires yaml which isn't installed by default - for the moment, we should remove instructions to use check.py (people can check by uploading), and we'll fix later.

[2016-02-20 14:52] gvwilson opened #301 "Debate pros and cons of moving setup instructions to a separate (new) repo"
Follow-up to discussion starting with http://lists.software-carpentry.org/pipermail/discuss_lists.software-carpentry.org/2016-February/003887.html.

[2016-03-16 15:00] tomwright01 commented on #301
I'm +1 for an installation repo, with rendered 'lesson' pages for each tool, that can be linked from the workshop templates.

This approach would enable inclusion of more detailed instructions / workarounds for the special cases (git / rstudio on older macs etc.).

It might be too much but I would also suggest the installation lessons include exercises such as 'create a file and find it using your

[2016-03-22 14:24] timtomch opened #310 "Can the workshop repo name be anything?"
The name convention for workshop repositories is YYYY-MM-DD-place

However could repositories be named differently, e.g. with a prefix? I'm working with an organisation that would like to add the training- prefix to their SWC repositories, to better organise them on GitHub. Would it cause any issues with AMY? E.g. training-2016-06-21-lausanne

Thanks.

[2016-03-22 14:25] gvwilson commented on #310
We chose yyyy-mm-dd-site so that sorting by date would be easy. I would
rather not change that.

[2016-03-22 14:49] timtomch commented on #310
Thanks. I thought as much but wanted confirmation. I will ask them to stick
to the convention.

On Tue, Mar 22, 2016 at 10:26 AM, Greg Wilson notifications@github.com
wrote:

[2016-03-22 14:54] gvwilson commented on #310
Gracias,
Greg

[2016-03-22 15:20] #310 closed, assigned to nobody

[2016-03-22 16:54] wking commented on #310
On Tue, Mar 22, 2016 at 07:25:53AM -0700, Greg Wilson wrote:

+1 to consistency.  But as I was writing up a PR to add this to the
FAQ, I was wondering which sorting we were facilitating.  Tools like
AMY can use startdate [1,2].  Who is ordering by repo name?

[2016-03-22 17:02] gvwilson commented on #310
Various spreadsheets where information about trainees is recorded, and
workshop websites on disk - the former will (hopefully) migrate into AMY
this summer, after which the need will be less pressing, but it'll still
be easier to find/track things if we stick to uniform naming.

[2016-03-22 17:52] wking commented on #310
On Tue, Mar 22, 2016 at 10:02:38AM -0700, Greg Wilson wrote:

Thanks for the details.  The local-disk issue is easy to work around,
because you can always pick a different name for the local repository:

  $ git clone git://github.com/timtomch/training-2016-06-21-lausanne.git 2016-06-21-lausanne

But the spreadsheet issue is enough for now; documentation filed in
#311.  We can revisit the requirem

[2016-03-25 13:01] nagarajasr commented on #262
i had the same issue, but strangely, it went away if i use the "c:\program files\git\git-bash.exe" instead of "c:\program files\git\bin\bash.exe"

[2016-03-25 13:44] rgaiacs commented on #262
@nagarajasr Thanks.

@iglpdc Did you have opportunity to work to find a solution to this? VirtualBox crash when I try to run windows on my current machine.

[2016-03-25 14:17] iglpdc commented on #262
Oh, sorry for never following up. At the NYU workshop we fixed it updating to a new version of Git Bash (we updated to [1], which at this point was the latest).

I didn't pay care much about it after that and my impression was that a release of Git Bash had a bug.

I haven't encounter the same problem after that.

@nagarajasr Could you check which version segfaults in your machine?

[1] https://gi

[2016-03-26 17:24] nagarajasr commented on #262
@iglpdc i'm using git for windows v2.7.4 (march 18 2016) and it has the segfault problem (also with v2.7.3 which i tested before).
OS: Windows 7 64 bit.

[2016-03-30 15:02] iglpdc commented on #262
@nagarajasr So it's really different from the setup in which I saw the problem. I have no clue and what could be wrong :(

Maybe you should [file an issue to the Git For Windows repo](https://github.com/git-for-windows/git/issues)?

[2016-04-14 01:44] iglpdc opened #315 "Problems installing packages in R"
We had a couple of problems during a DC workshop today during the R session. I'm posting this here because it may be relevant. I was teaching so I missed some details.

The issue is that when trying to install a package (specifically `dplyr`) from RStudio, `install.packages("dplyr")` returns an error saying that the package is not available for this version of R.

This was happening on a brand new

[2016-05-05 14:19] apawlik opened #318 "Add instructions to insert the template repo link in the importer"
By the looks of it the GitHub importer has changed(?) and now when clicking https://github.com/new/import you need to manually insert     https://github.com/swcarpentry/workshop-template  The setup instructions should reflect that.

[2016-05-05 14:29] apawlik opened #319 "Add humantime to customization instructions"
[Customization instruction](https://github.com/swcarpentry/workshop-template/blob/gh-pages/CUSTOMIZATION.md) should mention "humantime"

[2016-05-06 09:46] gvwilson commented on #282
@fmichonneau is https://github.com/swcarpentry/instructor-training/blob/gh-pages/_extras/guide.md what you're after?

[2016-05-12 18:04] davis68 opened #320 "Importing without logging in first now fails."
Currently, navigating to https://github.com/new/import redirects to a 404 page if you are not logged in.  (Previously, GitHub seems to have redirected to a login page.)  This should be noted, or the URL changed, or users told to log in first.

[2016-05-12 18:10] joeybernard opened #321 "Git on Mac OSX 10.5.X"
There should be links to the binary versions available (on Google Code archives) which are usable for people stuck using older versions of Mac OSX.

[2016-05-12 18:33] rgaiacs commented on #320
@davis68 Thanks for the issue. Could you contact GitHub's support team and point them to this issue?

[2016-05-12 18:35] rgaiacs commented on #321
@joeybernard You mean to https://code.google.com/archive/p/git-osx-installer/downloads?

[2016-05-12 19:36] davis68 commented on #320
Done and pending a reply.

[2016-05-13 00:31] davis68 commented on #320
(GitHub Staff) support@github.com
4:00 PM (4 hours ago)

to me
Hi davis68,

Thanks for writing in. We're aware of this issue and are looking into it.

Cheers,
Lizz

[2016-05-13 08:05] rgaiacs commented on #320
@davis68 Thanks very much for your help on this. I believe that GitHub will solve this issue soon. So I will delay any change on the README for some days.

[2016-05-15 21:23] docsteveharris commented on #293
Hi there, trying to develop a data carpentry lesson and getting this error too am on jekyll 3. Any ideas as what it might be?

[code]

[2016-05-15 21:58] gvwilson commented on #293
Hi Steve,
When I serve locally, I use a second config file to override some of the
settings in _config.yml:

$ jekyll serve --config _config.yml,_config_dev.yml

where _config_dev.yml is:

[2016-05-16 15:46] gvwilson commented on #282
ping @fmichonneau

[2016-05-16 19:51] fmichonneau commented on #282
yes that seems to cover what I was thinking of.

[2016-05-16 19:51] #282 closed, assigned to gvwilson

[2016-05-17 16:54] docsteveharris commented on #293
Hi Greg

That's a good tip. Thanks.

S 

On 15 May 2016 at 22:58:13, Greg Wilson (notifications@github.com) wrote:

Hi Steve,
When I serve locally, I use a second config file to override some of the
settings in _config.yml:

$ jekyll serve --config _config.yml,_config_dev.yml

where _config_dev.yml is:

[2016-05-22 17:01] mkcor commented on #318
@apawlik Yes, it looks like the GitHub interface has undergone several changes recently. Actually http://import.github.com/new?import_url=https://github.com/swcarpentry/workshop-template redirects to https://github.com/new/import (and you need to type in the repo's URL manually, indeed).

Below would be an up-to-date screenshot for point 6 under https://github.com/swcarpentry/workshop-template#cre

[2016-05-23 15:51] moorepants opened #323 "Can't find imported repo"
I just ran the github importer to create a new site and it seemed to complete, but I can't find the repo under my username. When I try to create it again it shows:
![selection_011](https://cloud.githubusercontent.com/assets/276007/15476381/7c97e260-20c3-11e6-8b60-f15b04a4d8cb.jpg)
And the url is 404:
![selection_012](https://cloud.githubusercontent.com/assets/276007/15476387/82b0cf40-20c3-11e6-8c1

[2016-05-23 15:53] gvwilson commented on #323
Hi Jason,

Can you please tell us:
1. What URL were/are you trying to use for the new repo?
2. When using the importer, did you fill in the URL for the source repo
   (the workshop template repo) explicitly?  GitHub broke their importer,
   and it doesn't auto-fill any longer.

Thanks,
Greg

[2016-05-23 16:35] moorepants commented on #323
Github finally redirected me to a page that said their was an error in the import process and allowed me to restart it. Everything is fixed now.

https://github.com/moorepants/2016-06-17-ihub-nairobi

I'll close this, thanks for the help.

[2016-05-23 16:35] #323 closed, assigned to nobody

[2016-05-23 19:49] gvwilson commented on #323
_sigh_ Sorry about that...

[2016-06-19 14:23] #123 closed, assigned to nobody

[2016-06-19 14:26] #265 closed, assigned to rgaiacs

[2016-06-21 10:20] lexnederbragt opened #326 "Add possibility to add workshop to one's calendar"
Many places you'll see a 'add to calendar' button. If we could have such a button on workshop websites, this may help reduce no-shows (my feeble hope). Even without that, if it is technically feasible, I think it would be a nice addition.

[2016-06-21 12:04] gvwilson commented on #152
Closeable?

[2016-06-21 12:05] gvwilson commented on #225
@JasonJWilliamsNY can this one be closed?

[2016-06-21 14:44] pipitone commented on #152
Yes

[2016-06-21 15:20] #152 closed, assigned to nobody

[2016-06-22 02:53] #39 closed, assigned to nobody

[2016-06-22 02:54] #46 closed, assigned to nobody

[2016-06-22 02:54] gvwilson commented on #49
workshop-create has been retired.

[2016-06-22 02:54] #49 closed, assigned to nobody

[2016-06-22 02:54] gvwilson commented on #50
tools/check.py has been retired.

[2016-06-22 02:54] #50 closed, assigned to nobody

[2016-06-22 02:54] gvwilson commented on #64
Problem appears to be corrected.

[2016-06-22 02:54] #64 closed, assigned to nobody

[2016-06-22 02:55] gvwilson commented on #77
tools/check.py has been retired.

[2016-06-22 02:55] #77 closed, assigned to nobody

[2016-06-22 02:55] #85 closed, assigned to nobody

[2016-06-22 02:55] gvwilson commented on #101
No longer using this script.

[2016-06-22 02:55] #101 closed, assigned to nobody

[2016-06-22 02:56] #164 closed, assigned to nobody

[2016-06-22 02:56] #205 closed, assigned to nobody

[2016-06-22 02:56] #219 closed, assigned to nobody

[2016-06-22 02:57] #221 closed, assigned to nobody

[2016-06-22 02:57] gvwilson commented on #228
Make isn't a core lesson, so its installation instructions stay with it, not in this template.

[2016-06-22 02:57] #228 closed, assigned to nobody

[2016-06-22 02:57] #252 closed, assigned to nobody

[2016-06-22 02:57] gvwilson commented on #261
Now there.

[2016-06-22 02:57] #261 closed, assigned to nobody

[2016-06-22 02:58] gvwilson commented on #283
Still relevant?

[2016-06-22 02:58] #293 closed, assigned to nobody

[2016-06-22 02:58] gvwilson commented on #298
No longer using check.py

[2016-06-22 02:58] #298 closed, assigned to nobody

[2016-06-22 02:59] #299 closed, assigned to nobody

[2016-06-22 02:59] #301 closed, assigned to nobody

[2016-06-22 02:59] gvwilson commented on #318
Instructions updated.

[2016-06-22 02:59] #318 closed, assigned to nobody

[2016-06-22 04:17] wking commented on #283
On Tue, Jun 21, 2016 at 07:58:29PM -0700, Greg Wilson wrote:

Yeah (neither [1](https://github.com/swcarpentry/workshop-template/issues/283#issuecomment-171876198) nor [2](https://github.com/swcarpentry/workshop-template/issues/283#issuecomment-174224172) have been implemented, as far as I'm aware).

[2016-06-22 17:01] gvwilson commented on #151
Closed by  398ba80c333

[2016-06-22 17:01] #151 closed, assigned to gvwilson

[2016-06-22 17:01] gvwilson commented on #250
Closed by  398ba80c333

[2016-06-22 17:01] #250 closed, assigned to gvwilson

[2016-06-22 17:15] gvwilson commented on #130
Now reported by `read_markdown` in `bin/util.py`

[2016-06-22 17:15] #130 closed, assigned to gvwilson

[2016-06-26 02:05] gvwilson commented on #118
See also https://github.com/swcarpentry/git-novice/issues/108

[2016-06-26 02:15] gvwilson commented on #319
Closed by 6e259e0

[2016-06-26 02:15] #319 closed, assigned to gvwilson

[2016-06-26 02:25] #300 closed, assigned to gvwilson

[2016-06-26 21:36] gvwilson commented on #106
Implement or close?

[2016-06-26 21:36] #31 closed, assigned to nobody

[2016-06-26 21:37] #122 closed, assigned to nobody

[2016-06-30 18:44] karinlag opened #327 "Move info about having to be in the gh-pages to be step one"
Right now, that info occurrs late in the game, which means that if you end up being anywhere else, you basically end up doing it twice.

[2016-06-30 18:47] karinlag opened #328 "Need to change how to go to new repo"
"Continue to repository" is in gh replaced with just showing the link to the website inline in the text stating that it has been created. Should be replaced with "go to the new repository by clicking on the name".

[2016-06-30 19:22] rgaiacs commented on #327
@gvwilson Could you merge the branch `2016-06` as soon as possible.

[2016-06-30 19:23] #328 closed, assigned to nobody

[2016-07-01 12:44] lexnederbragt opened #329 "Add instructions on emailing the link to admin"
In `index.html`there is the line that starts with

There does not seem to be anything in the instructions mentioning this task (and if there is, people at the Oslo TTT June workshop mostly didn't see it). I think it would help if this part of the setup is mentioned.

[2016-07-07 10:50] gvwilson commented on #177
Moved to https://github.com/swcarpentry/styles/issues/59

[2016-07-07 10:50] #177 closed, assigned to gvwilson

[2016-07-08 10:31] rgaiacs opened #330 "AMY's form for self-organized workshops"
https://amy.software-carpentry.org/workshops/submit/

@maneesha Are we using it? If yes, could you update the `README.md`?

[2016-07-08 12:43] joeybernard commented on #321
Sorry I missed this email. Yes, we were able to use downloads from this
site for people who were running versions of Mac OSX earlier than snow
leopard.

Joey

On 12 May 2016 at 15:35, Raniere Silva notifications@github.com wrote:

##

##

Joey Bernard
Computational Research Consultant, ACENET
506.449.5853 | www.ace-net.ca | @computeatlantic

A Compute Canada Regional Partner

[2016-07-12 08:31] lexnederbragt opened #332 "Dead link to customization instructions"
On https://github.com/gvwilson/workshop-template, the link to the customization instructions (https://swcarpentry.github.io/workshop-template/customization/) is dead.

[2016-07-12 08:33] lexnederbragt opened #333 "Have to note 'swc' or 'dc' in two places"
Trying out https://github.com/gvwilson/workshop-template, and noticing that in both `index.html` and `_config.yml` I'm asked to enter 'swc' or 'dc' for the 'carpentry' field. Reducing this to one place will likely reduce the number of mistakes.

[2016-07-12 08:35] lexnederbragt opened #334 "Determine root programmatically?"
Trying out https://github.com/gvwilson/workshop-template, and noticing that in `_config.yml` I have to enter the

But can't that be determined programmatically? Just trying to reduce the chances of new instructors making errors here.

[2016-07-12 09:57] gvwilson commented on #332
Yes - it will be until these changes are merged into the swcarpentry repo. I'll check again once the merge takes place - thanks.

[2016-07-12 09:59] gvwilson commented on #333
You don't have to modify `_config.yml` unless you have other pages - the
main index.html page looks at _its_ value of `carpentry` so that
newcomers only have to modify one file, not two.  The "right" way is of
course to require them to edit the `_config.yml` file as well, but I
thought that would greatly increase the chances of error.  This one
should probably go to discussion...

[2016-07-12 10:00] gvwilson commented on #334
See #333.

[2016-07-12 10:47] gvwilson commented on #333
@nederbragt just found one of the remaining warts in the new-style templates, and we'd appreciate feedback.
1.  We want to share as many files as possible between the lessons and the workshop template (so that they have the same look and feel).
2.  We _don't_ want lots of intermediate repositories, because it was really hard to keep track of what belonged where.  In the old scheme, the hierarchy o

[2016-07-12 10:57] tbekolay commented on #333
If the main concern is to limit the number of files that must be edited, why not put all of the options currently in `index.html` in `_config.yml`?

Pros:
- Solves this issue.
- `_config.yml` is shorter so possibly easier to edit.
- Vars in `_config.yml` are available on every page so we can use these values in other pages.

Cons:
- Requires changing our instructions of how to set up a workshop.
-

[2016-07-12 11:53] gvwilson commented on #333
Putting everything in `_config.yml` is worth a shot - I've created https://github.com/gvwilson/scipy-workshop-template to give it a try at the SciPy 2016 instructor training class.  If we do this, though, we'll still have the problem that the setup instructions for lessons are in the workshop home page, so we'll need to:
1.  have them edit `index.html` to discard setup instructions they don't need

[2016-07-12 14:10] lexnederbragt opened #335 "Provide screenshot and help"
Some instructors won't know what a successful webpage is supposed to look like. The instructions could provide a screenshot of, or a link to, a successful webpage, and a ‘what to do if your site does not look like this’ text (and/or contact email for getting help).

[2016-07-12 14:14] lexnederbragt opened #336 "Instruct to add link to webpage at top of repo"
Something along the lines of

At the top of your repository on github you'll see

Click 'Edit' and add your websites address (http://your_username.github.io/YYYY-MM-DD-site). This makes sure people that find your repository instead of your website are directed to the right place.

Perhaps a screenshot instead of the quote.

[2016-07-12 14:18] lexnederbragt commented on #333
People will often still have to edit `index.html` if their workshops deviates from the default schedule, e.g. skips SQL. On the other hand, adjusting that part is actually more of a pain than the top configuration part. So splitting those two different tasks in two may actually work.

[2016-07-12 15:57] jduckles commented on #333
Can't you just change the header template logic to only show the logo if the carpentry key has a value in the page yaml. Then you can remove it from _config.yml entirely as you suggest.

If people want the logo in the header on sub-pages they just set a value for the key in the yaml for that page. If it is unset no logo will appear, which is a more sensible behavior than the wrong logo.

[2016-07-13 11:58] gvwilson commented on #333
@jduckles the value is also used to select the favicon, for links to the code of conduct and in the footer, etc. The root problem is Jekyll's variable scoping rules, but I think I have a workable fix (see next comment).

[2016-07-13 12:10] gvwilson commented on #333
OK, thanks to a random conversation at SciPy, here's what I have:
1. According to https://help.github.com/articles/repository-metadata-on-github-pages/, you can use repository metadata locally if you set the key `repository` to a magic value `<USERNAME>/<PROJECT>`.
2. https://github.com/gvwilson/te does this for an example lesson with the new template:
   1.  The variables `root` and `repo` are re

[2016-07-13 23:27] jduckles opened #338 "Multilingual workshop template in one repo"
@rgaiacs has created a new repo, see #337 for a Portuguese translation of the workshop template. Longterm I'd really rather these all go in one repository with directories or branches for each language and some template logic to pick the language. There isn't really a good reason to have a new repo for each language and it creates a headache in the future if we make changes they have to be applied

[2016-07-14 07:06] rgaiacs commented on #338
[History](https://github.com/progit) shows that a new repo for each language will avoid spam lots of people with pull request covering translations.

Also, branches will not work with GitHub Importer that we are using. And from my experience, people never remember to look on what branches exists in a GitHub repo.

[2016-07-14 13:38] #334 closed, assigned to gvwilson

[2016-07-14 13:39] #332 closed, assigned to gvwilson

[2016-07-14 13:43] jduckles commented on #338
@rgaiacs How do you propose to keep template logic changes and install instructions versioned and consistent across translations?

[2016-07-14 13:47] #320 closed, assigned to gvwilson

[2016-07-19 02:54] #333 closed, assigned to gvwilson

[2016-07-19 21:25] abbycabs commented on #338
Hey all,

We ran into this before with Mozilla Study Groups (@rgaiacs will remember this 😄 ) - https://github.com/mozillascience/studyGroup/issues/36 < the discussion might be helpful here.

From a user perspective, having separate repos (or separate directories on the same gh-pages branch) that followed this convention would be helpful:
- `http://swcarpentry.github.io/en/workshop-template/`
- `ht

[2016-07-21 01:18] gvwilson commented on #338
I think the biggest problem will be maintenance: regardless of where we store material, how are we going to keep it all in sync as we make changes?

[2016-07-21 10:29] rgaiacs commented on #338
I'm more worry about saving lead instructors time (not translate the page from scratch) and less worry about keep it all in sync all times.

In the past what I always did was `git fetch upstream && git merge upstream` and after that update the translation and the information for the next workshop. But I only did it when I have a new workshop schedule. In some cases the translation was out of date

[2016-07-22 18:16] k8hertweck commented on #338
Would it be possible to have a "translation maintainer" for each language, not to be solely responsible for translations, but to help keep tabs on when changes occur and to delegate to folks who can help with translations? This could add a nice community development component, of someone who can help introduce folks from other countries to making PRs, etc.

[2016-07-24 21:47] #118 closed, assigned to nobody

[2016-07-24 22:05] gvwilson commented on #326
Any chance of a pull request for this?

[2016-07-25 04:44] andre-geldenhuis opened #340 "Add docker to preview instructions in the readme."
Getting the Jekyll preview stuff installed is a little bit of a pain. Personally I use a docker container to preview gh-pages builds.  In the cloned workshop repo root I run:

docker run --rm --label=jekyll --volume=$(pwd):/srv/jekyll \
  -it -p 127.0.0.1:4000:4000 jekyll/jekyll

and installing docker is pretty simple - apparently even for windows, though I've not tried it.

If there was any inter

[2016-07-26 10:49] #106 closed, assigned to nobody

[2016-07-26 10:50] gvwilson commented on #136
Status?

[2016-07-26 10:51] #176 closed, assigned to nobody

[2016-07-26 10:51] gvwilson commented on #225
@JasonJWilliamsNY ping

[2016-07-26 11:09] gvwilson commented on #241
Closed by 621f3f9

[2016-07-26 11:09] #241 closed, assigned to gvwilson

[2016-07-26 11:09] gvwilson commented on #262
Can this one be closed?

[2016-07-26 11:10] #272 closed, assigned to nobody

[2016-07-26 11:10] #327 closed, assigned to nobody

[2016-07-26 11:11] gvwilson commented on #330
@rgaiacs can you please submit a PR to add this where you think it should be?

[2016-07-26 15:17] wking commented on #136
On Tue, Jul 26, 2016 at 03:50:54AM -0700, Greg Wilson wrote:

wking/swc-setup-installation-test#9 (mentioned in [1](https://github.com/swcarpentry/workshop-template/issues/136#issuecomment-156752780)) works, but I
haven't had any luck talking folks into moving in that direction.  I
don't have any other good ideas for adapting the tests to a particular
workshop, so we need one of:

a. someone has a

[2016-07-30 20:35] gvwilson commented on #340
I think this is beyond most of our contributors, but if we ever add a lesson on Docker, we should revisit - thanks.

[2016-07-30 20:35] #340 closed, assigned to nobody

[2016-07-31 21:31] #262 closed, assigned to nobody

[2016-07-31 23:53] gvwilson commented on #290
Is this still an issue?

[2016-07-31 23:54] gvwilson commented on #291
Anyone want to PR this?

[2016-08-01 13:21] lexnederbragt commented on #326
Not from me unfortunately, beyond my skills...

[2016-08-01 14:27] iglpdc commented on #291
Yes, I did: see this comment above. The thing never took off, but I think it'd be great to have something like this and use it as a reference any time we need to show how to open terminal.

I think it'd be better in a separate repo rather than included here, but put everything together is an option too.

[2016-08-02 17:40] gvwilson commented on #315
@fmichonneau any ideas?

[2016-08-02 19:27] fmichonneau commented on #315
Yes, I have seen this before. I think having a link to the post @iglpdc mentions is a good idea. I don't have a lot of experience with this myself, as I only keep one version of R on my system at the time.

[2016-08-16 12:12] mstimberg commented on #290
The Linux installation instructions for Linux have not changed since my report, so yes (assuming others agree that the points I raised are actually an issue, of course).

[2016-08-16 13:36] gvwilson commented on #290
Thanks - I'll try to push an update next week.

[2016-08-17 16:39] BrunoGrandePhD opened #342 "HTTPS breaks asset links on GitHub accounts with custom domains"
I noticed that URLs are automatically processed to replace `http` with `https` in several places in the template. I'm guessing this works for GitHub Pages that use the github.io domain. However, this breaks pages that use a custom domain, because GitHub Pages' HTTPS support doesn't extend to custom domains. After removing all instances of `| replace_first: 'http:', 'https:'` in the template, it [s

[2016-08-17 16:41] gvwilson commented on #342
Hi Bruno,
Yeah, we know - we can't use teaching.software-carpentry.org as a CNAME
domain because of it. However, if we _don't_ do this translation, going
to https://teaching.software-carpentry.org breaks, because GitHub only
supplies the HTTP URL (not HTTPS) as site.github.url, and Firefox and
other browsers won't load CSS or Javascript that's referred to via plain
old HTTP if you accessed the pag

[2016-08-22 09:32] rgaiacs opened #343 "site.swc_installer is missing"
[code]

96f86e6 has http://files.software-carpentry.org/SWCarpentryInstaller.exe as `swc_installer`.

@gvwilson Any comment?

[2016-08-31 07:49] JasonJWilliamsNY commented on #225
We now (through Data Carpentry) have a new assessment person who will be helping to coordinate our assessments. This is a good idea, but would like it to flow through her.

[2016-09-02 16:44] k8hertweck commented on #338
It appears we're reaching critical mass of opinions on how to handle additional languages in the workshop template, so I would like to make a proposal.  We don't want to be biased toward any particular language or locale, but on the other hand, the great majority of our workshops are still in English, and I'd like us to have more experience handling translations before we do anything major.  I the

[2016-09-02 17:04] rgaiacs commented on #338
@k8hertweck This will not work for lessons because of all the hard code strings that we have at https://github.com/swcarpentry/styles/tree/gh-pages/_includes, such as https://github.com/swcarpentry/styles/blob/gh-pages/_includes/episode_keypoints.html. I would like to avoid a solution like

[code]

[2016-09-02 18:16] k8hertweck commented on #338
I agree that this is harder with lessons, but does this work with the workshop template?

[2016-09-03 07:58] rgaiacs commented on #338
Nope. We need to translate the navigation bar, https://github.com/swcarpentry/workshop-template/blob/gh-pages/_includes/navbar.html.

[2016-09-06 01:28] gvwilson commented on #276
Any advance on this? Anyone want to work on it?

[2016-09-06 15:47] iglpdc commented on #338
I think we are setting the wrong goals with the translations. The workshop template is only used once the workshop is organized and, in this sense, is not going to open up SWC to another languages or countries.

To me, the approach for the workshop template should be what @rgaiacs did: once a workshop is scheduled, the instructor traslates the workshop index.html page. I don't think this is a big

[2016-09-06 20:55] rgaiacs commented on #218
@chendaniely Thanks for the issue.

I'm -1 to make that a default option. First, because have the link for the lessons before the workshop can make some people not register for the workshop because they will think "I can learn that later by my own". Second, some instructors only provide the link to the lessons after the workshop because some students will try to speed up the workshop by reading th

[2016-09-06 23:15] naupaka commented on #218
I am also -1 on this. Depending on the audience, I think it's helpful to not point them directly to the full lesson materials ahead of time for the reasons @rgaiacs pointed out. I have generally tried to add these links in onto the workshop page at the end of the workshop so attendees can have them when they go home to review.

[2016-09-07 02:18] orchid00 commented on #218
I have added the lesson material link to the etherpad, after the workshop.

[2016-09-07 05:28] jdblischak commented on #218
I also manually add links to the lessons on the workshop pages. My motivation for doing this is:
1. Allows potential attendees to decide if the material is at the right level for them.
2. Attendees are more likely to listen to what I am saying if they know they don't have to take meticulous notes on every command used.
3. I deliver the exercises by having them scroll to the end of each topic page.

[2016-09-07 12:31] #277 closed, assigned to gvwilson

[2016-09-07 12:33] gvwilson commented on #291
@iglpdc could you please mail the maintainers' list and ask people to comment on this issue so that we can come to a conclusion?

[2016-09-07 18:47] gvwilson commented on #342
Hi Bruno,
We have pushed changes that should make this work (everything using relative links). Please check and let us know?
Cheers,
Greg

[2016-09-07 20:28] iglpdc commented on #218
I'm -1 for having them as a default, but also think it is useful for some people.

Could we have the linked version as an option? So it's not shown by default, but can be toogled in some easy way, ideally by a `showlinks` yaml tag

[2016-09-07 20:47] gvwilson commented on #218
Our experience with conditional flags in the YAML hasn't been positive -
for most people, this is their first encounter with templating, and any
kind of spooky action at a distance leads to breakage.

[2016-09-07 21:54] BrunoGrandePhD commented on #342
Hello Greg,

I rebased my workshop repository on the current tip of `gh-pages` of this repository (f03be0f) and made sure that `root: .` was included in the `index.html` YAML header. Everything seems to work now. Thanks!

I'll let you decide whether to close this issue. I consider it resolved for me.

[2016-09-07 21:58] #342 closed, assigned to gvwilson

[2016-09-08 09:07] rgaiacs commented on #218
I'm OK to have something like

[code]

Instructors that want the link still need to edit the HTML but they will only have to copy and paste.

[2016-09-08 11:41] orchid00 commented on #218
best answer @rgaiacs

[2016-09-08 14:35] rgaiacs commented on #291
+1 to have it move under https://github.com/swcarpentry/

[2016-09-13 09:17] #330 closed, assigned to rgaiacs

[2016-09-20 14:13] lexnederbragt commented on #218
Sorry to be negative, but the workshop template index.html file is complex enough. It is one of the most difficult things for fresh instructors - most of whom can't write html - to work with, and I'd advice against  adding more complexity.

[2016-09-21 15:39] #336 closed, assigned to lexnederbragt

[2016-09-22 10:06] #335 closed, assigned to lexnederbragt

[2016-09-23 14:06] #343 closed, assigned to gvwilson

[2016-09-28 14:44] biologyguy opened #353 "Switch to Anaconda for R and Git install"
It seems that software installation instructions could be significantly streamlined by using Anaconda for R and git, with the added advantage of not requiring admin privileges.

[code]

Are there reasons for separate installations that I'm not seeing?

[2016-09-28 15:12] iglpdc commented on #353
Yes, but people using Windows will still need to install some sort of shell for the Unix lesson. By using Git Bash we kill to birds with a stone for them. Also note that we have workshops in MATLAB (and maybe other languages in the future), which may not conda-installable.

In any case, it could be a good thing to mention in the wiki.

[2016-09-28 15:13] chendaniely commented on #353
This might be a tangent. but does the R kernel work for you in the jupyter notebook?
last time I tried to install `r-essentials`, I didn't see an R kernel for the notebooks.

Also, was just about to make the windows bash comment before Ivan beat me to it.

[2016-09-28 15:27] biologyguy commented on #353
Ya, I've used R in Jupyter (on Mac), but it was... 6 months ago maybe? Haven't tried recently.

**Edit**: I just re-installed r-essentials and fired up Jupyter. All seems to be working.

As for Unix on Windows, have you guys ever used the [Gnu on Windows toolkit](https://github.com/bmatzelle/gow/wiki)?  I've found it really easy to use when I needed to develop in Windows.
It would be a different i

[2016-09-28 17:00] rgaiacs commented on #353
![virtualbox_conda_28_09_2016_17_37_16](https://cloud.githubusercontent.com/assets/1506457/18922903/55073400-85a2-11e6-97ef-66c1ab917d0d.png)

Actually, conda will install bash for you. :smile: If you run `bash` on Conda prompt after install git you will get the Unix shell (Mingw-w64). Some configuration is broken and because of it you can't get Git when you start Bash from Conda prompt but it wor

[2016-09-30 04:00] chendaniely commented on #353
`automake` and `cmake` are on [conda-forge](https://conda-forge.github.io/feedstocks.html). is that the same thing?

[2016-09-30 08:27] lexnederbragt commented on #329
Made obsolete by #348, replaced by #354.

[2016-09-30 08:27] #329 closed, assigned to lexnederbragt

[2016-09-30 16:05] rgaiacs commented on #218
We have a tie here. :-( The fairest solution is to let lead instructors add the **correct** links if they want.

[2016-09-30 16:05] #218 closed, assigned to gvwilson

[2016-09-30 16:11] rgaiacs commented on #315
@iglpdc Do you want to change something on the installation instructions?

[2016-09-30 16:17] rgaiacs commented on #321
Can we close this as "wont fix"?

[2016-09-30 16:19] rgaiacs opened #357 "Resubmit "Make contact variable a list of strings instead of a single string.""
Related with #355.

[2016-09-30 16:52] joeybernard commented on #321
Sounds OK to me.

Joey

On 30 September 2016 at 13:17, Raniere Silva notifications@github.com
wrote:

##

##

Joey Bernard
Computational Research Consultant, ACENET
506.449.5853 | www.ace-net.ca | @computeatlantic

A Compute Canada Regional Partner