[2016-09-30 17:35] iglpdc commented on #321
Closing!

[2016-10-11 12:06] mfoos opened #359 ""Remove this line" on line 51 is confusing"
On line 51, it says "delete this line" but the text to be deleted is several lines, including a not-there-until-rendered link. For me, that made it sort of unclear whether to text was directed at the editor of the raw html or someone else.

[2016-10-11 16:00] daisieh commented on #338
For the lesson content: I suggest that we maintain these lessons as separate branches based in the fork of the original translator. That fork/branch would then become the main repo for that particular translation. It would be pretty clear from the git network which lesson that translation was based on, and if the owner or other contributors wanted to bring it up to date to the current version, the

[2016-10-11 20:41] bsmith89 opened #360 "List location in info summary box at top of the main page."
I usually end up adding the workshop location to the info box at the top of the page, so that learners don't need to scan for it in the "General Information" section.  For two examples, see [2016-10-06-harvard](https://sorgerlab.github.io/2016-10-06-harvard/), and [2016-04-29-ucsf](https://bsmith89.github.io/2016-04-29-ucsf/).

It fits (both spatially and logically) in the first column with the da

[2016-10-12 09:21] rgaiacs commented on #360
I believe that we didn't add that information on the info box because (1) it should be minimalist and (2) not all workshop locations will fit on space available the box.

I that add links to Google Maps and Open Street Maps to make easy for everyone independent of which service they prefer.

Yesterday we had a discussion about how suggestions to improve will be vote for the workshop template. @k8h

[2016-10-12 13:55] bsmith89 commented on #360
I'd argue that there's enough utility to make up for the loss of minimalism.

Learners (and instructors like me) may be quickly checking the site  the morning-of to get a reminder of where they're headed.  It's tough to visually parse the more extensive info in the paragraph below when in a rush.

Great!  Just wanted to add my reasoning here to flesh out the proposal.

[2016-10-13 14:57] rgaiacs opened #361 "Enable continuous integration"
Can we enable continuous integration on this repository to run https://github.com/swcarpentry/workshop-template/blob/gh-pages/bin/workshop_check.py for every pull request?

[2016-10-14 03:43] andreabedini commented on #326
basicall we would need a template that renders something like the following (randomly found online)

[code]

edit: [here](https://tools.ietf.org/html/rfc5545) are the full specs but I doubt anyone will read the whole thing (and I doubt it would be useful)

[2016-10-15 14:35] rgaiacs commented on #357
Close by #362.

[2016-10-15 14:35] #357 closed, assigned to rgaiacs

[2016-10-17 10:28] rgaiacs commented on #326
Maybe something like

https://calendar.google.com/calendar/render?action=TEMPLATE&text=SWC&dates=20161019T204000Z/20161019T225000Z&trp=false&sprop&sprop=name:&sf=true&output=xml&location=Headsquare&details=Training

[2016-10-19 11:20] lexnederbragt commented on #326
Looks good to me!

[2016-10-20 15:12] lexnederbragt commented on #359
Thanks - good catch!

[2016-10-24 22:21] iglpdc commented on #315
I've just added the text above to the wiki. We can close this now.

[2016-10-24 22:21] #315 closed, assigned to nobody

[2016-10-27 18:17] #359 closed, assigned to nobody

[2016-11-16 21:19] rgaiacs opened #364 "AMY's form for self-organized workshops isn't working"
I opened #330 in the past and sent a pull request, #348, for it but when I was looking for instructions to a friend the link to self organise workshops isn't working like in the past, i.e. I can't inform only the link to my GitHub repository and, instead, I need to fill the long and boring form.

[2016-11-17 15:00] ChristinaLK opened #365 "checking installation by running commands"
I don't think this is a repeat of #291, but let me know if I'm mistaken.

At last night's discussion/debrief, @maglet said that she'd included instructions for checking the software installation, along with the install instructions.  I've also done this @uw-madison-aci workshops, where we created a page or wrote on the board a series of commands like:

[code]

PLUS, which terminal to open (look fo

[2016-11-17 18:59] wking commented on #365
On Thu, Nov 17, 2016 at 07:00:27AM -0800, Christina Koch wrote:

This is what the installation-test script [1](https://github.com/wking/swc-setup-installation-test/) does for most tested
commands:

  $ strace -fo /tmp/trace ./swc-installation-test-2.py
  $ grep execve /tmp/trace | grep -v 'ENOENT|resumed'
  …
  21349 execve("/bin/bash", ["bash", "--version"], [/\* 55 vars _/] <unfinished ...>
  21

[2016-11-20 12:43] rgaiacs commented on #365
Thanks @ChristinaLK for log the issue and @wking for the information of the current situation.

The plan is to have the aggregation server implemented by @prerit2010 on production but it didn't help yet for some reasons that include the maintainer for the server and script and merge @prerit2010's pull request to the test script. Sorry. :-(

[2016-12-12 17:42] sclayton29 opened #367 "Changing Language under General Information"
As we are getting more participants from the social sciences and humanities, we have gotten some feedback that the first paragraph under General Information is a bit exclusive. We have tweaked the language to make it more inclusive. I'm not sure if this is something the large community would want to adapt, but I wanted to put it out there for discussion.

Here is what we came up within our local S

[2016-12-14 22:57] stopfstedt opened #368 "syntax error in index.html"
[code]

PR with bugfix will follow momentarily.

[2016-12-16 09:04] #368 closed, assigned to nobody

[2016-12-16 14:03] lexnederbragt commented on #367
I agree with the need for rewording. However, we teach more than 'the basics of writing and maintaining code' as exemplified by the shell lesson. May I propose you put in the pull request to get the ball rolling?

[2016-12-16 14:53] rgaiacs commented on #367
@lexnederbragt Thanks for your contribution.

We can keep the discussion here and when we got to an agreement I will create the pull request and merge it giving credit to everyone. 😄

[2016-12-16 17:12] sclayton29 commented on #367
Thanks, @lexnederbragt and @rgaiacs. We had a bit of discussion around this phrase in our local group.

Here are some of the other options that were brought up to replace "the basics of writing and maintaining code".
- "basic programming, version control, and command line computing"
- "the basics of using code to control your computer"

[2016-12-16 17:51] wking commented on #367
On Fri, Dec 16, 2016 at 09:12:45AM -0800, Sarah Clayton wrote:

Maybe “the basics of using, writing, and maintaining software”?
That's pretty generic, but our goals are pretty generic ;).  And it
avoids “control your computer” and “command line computing”, which I
think are accurate but potentially intimidating.

[2016-12-19 07:20] lexnederbragt commented on #367
I work with many people that need first and foremost to be able to run other people's software through the commandline, probably followed by running some packages in R. Too much focus on 'software' in this general description may make them think the workshop is not for them.

What is it in the current that is off-putting text for the social sciences and humanities people?

[2016-12-19 15:40] sclayton29 commented on #367
It was the first sentence that was a bit off-putting: "Software Carpentry's mission is to help scientists and engineers get more research done in less time and with less pain by teaching them basic lab skills for scientific computing."

In my view, the biggest problem was by specifically naming scientists and engineers you are discouraging others from participating, which is why we replaced it wit

[2016-12-20 04:27] pschloss opened #370 "importing problems"
Is there anything special about the import process? Is this the same as cloning the repo and using it to create a new repo under my account? I have an import going on 7 hours now, which seems a bit ridiculous. I'm not sure how common this problem is, but it sounds like there is [some history](https://twitter.com/emo_davenport/status/810962432306909185) of this being an issue

[2016-12-20 09:13] rgaiacs commented on #370
No.

Yes.

I imagine that you had bad luck. It normally takes only a few seconds-minutes. I tested it now and looks OK. My suggestion is that you try the import process again. If it didn't work you can do the manually cloning-and-push. If you need any help feel free to call me on Slack or Twitter.

[2016-12-20 11:04] gvwilson commented on #370
On 2016-12-20 4:13 AM, Raniere Silva wrote:

The problem is that you can only have one fork of a repo on GitHub under
one user account, which means that if you do things the "right" way, you
can only create one workshop website.  Using the importer is our way
around this, but given the problems people have with it timing out
occasionally, I wonder if we should recommend:

1.  Create an empty GitHu

[2016-12-20 11:09] rgaiacs commented on #370
How frequently does this time out issue happen?

I think that you mean https://github.com/swcarpentry/workshop-template/ instead of https://github.com/swcarpentry/styles.git and `upstream` instead of `styles`.

From our previous discussion, we want to avoid dealing with more than one remote repository since we don't have too much time to practice it on our workshops.

[2016-12-20 12:09] pschloss commented on #370
The import I started ~14 hrs ago never went through. I cancelled it and tried again. After ~15 minutes I cancelled and did it manually. Here's what I did, does this seem ok?

[code]

Then on the GH branch page, I made `gh-pages` the default branch.

[2016-12-20 13:07] gvwilson commented on #370
Hi Pat,
I just cloned the repo, and it all looks good to me - thanks for wading
through this.
Cheers,
Greg

[2016-12-20 14:39] lexnederbragt commented on #367
Hmm, interesting. Forgive me if I'm wrong, but you seem to say that participants from the social sciences and humanities see themselves more as 'researchers', than 'scientists'? (this may be a language thing, I am not a native English speaker). Or is it bscause 'science and engineering' is being associated with STEM (Science, Technology, Engineering and Mathematics)?

Anyway, I like your suggestio

[2016-12-20 14:42] lexnederbragt commented on #370
@gvwilson your solution (empty repo, add remote, pull) requires the use of command-line git. The 'import' solution allows people to never have to use git and do everything through GitHub. I think this is a good thing.

But we could give people the choice and describe both approaches.

[2016-12-20 14:51] rgaiacs commented on #370
@pschloss https://github.com/pschloss/2017-01-17-UMich looks empty although the commands that you pasted looks right.

Run

[code]

Check that https://pschloss.github.io/2017-01-17-UMich is working. You should have something like http://swcarpentry.github.io/workshop-template/. You things are OK you can customize your workshop page by editing `index.html` and `git commit -am "Changes for UMich wor

[2016-12-20 15:03] pschloss commented on #370
right - it's up on the UMSWC organization account and not my personal account.

[2016-12-20 15:12] gvwilson commented on #370
Yup - but if `import` keeps failing...

[2016-12-20 16:51] sclayton29 commented on #367
I think both. From my experience, many scholars in the humanities and to a lesser extent social sciences shy away from the term 'scientists' because of it's association with STEM fields. Researcher is a term I've seen applied across the board.

There are more and more applications for the material we teach in Software Carpentry in English, History, Political Science, etc., and I just wanted to mak

[2016-12-20 20:40] jduckles commented on #367
I'm very much for this tweak, I've been slowly changing every occurrence of "Scientist" around the web page and marketing material to "Researcher" as I encounter them.

[2016-12-21 10:49] lexnederbragt commented on #367
Good to know! It looks like we have consensus, then :-)

[2016-12-21 11:51] rgaiacs commented on #367
I will make the change later today or tomorrow.

Thanks a lot to all who contributed on this discussion.

[2016-12-21 12:00] lexnederbragt commented on #367
@sclayton29 is it a crazy thought to suggest you to write a short blog post about this? How the increased reach of Software Carpentry leads to 'us' rethinking some of the wording on our website and other materials, and why? With as example this change towards 'Researchers' we discussed here.

[2016-12-21 12:03] gvwilson commented on #367
:+1: (at least).  I think this is a great example of how the community
can recognize a need and reach consensus on filling it.

[2017-01-03 14:18] rgaiacs commented on #367
Thanks to all involved on this discussion. Special thanks to @sclayton29 for raise the issue. I'm closing this now since #371 was merged. If needed please open another issue. :-)

[2017-01-03 14:18] #367 closed, assigned to nobody

[2017-01-04 19:46] lwjohnst86 opened #373 "Website doesn't resolve (format) properly"
PR #372 introduced a problem with formatting when shown on GitHub Pages, but not using Jekyll locally.

The problem is that removing `root: .` in `index.html` lead to a problem in the `_layouts/workshop.html` file. Inside the layout, lines 28-30, there are `{{ page.root }}` which don't get resolved properly without the `root: .` yaml header. This leads to it converting to `..` in the final GitHub

[2017-01-04 21:48] rgaiacs commented on #373
PR #372 reverted on #374.

[2017-01-04 21:48] #373 closed, assigned to rgaiacs

[2017-01-06 05:34] marwahaha commented on #360
What was the status of this? I'm in favor of adding the location (or a link to it) on the header. The most important parts of the page, in my opinion, are What/Where/When.

[2017-01-06 05:36] marwahaha commented on #321
Is there anything I can help with here? (Should we add this to common problems and configurations?)

[2017-01-06 05:37] marwahaha commented on #290
@mstimberg What would be the best way to write the instructions?

[2017-01-06 05:37] marwahaha commented on #225
Is this still open?

[2017-01-06 08:57] rgaiacs commented on #360
Need discussion. @k8hertweck and I will work on it.

[2017-01-06 08:59] rgaiacs commented on #321
You help is welcome. I'm not a Mac OS user so I can't help very much on this. :-(

+1

[2017-01-06 09:00] rgaiacs commented on #225
As far as I know, **yes**.

[2017-01-09 02:40] marwahaha commented on #321
Done. I think you can close, as mentioned in the earlier comments.

[2017-01-09 11:44] rgaiacs commented on #321
Thanks!

[2017-01-09 11:44] #321 closed, assigned to nobody

[2017-01-11 22:36] twitwi opened #376 "Avoid creation of branches in this workshop-template repo (and in styles)"
When we use the github importer to copy a repo (as in [1]), it copies all branches too.
We should thus avoid branches in this repository, as they would propagate to all new workshops (like [2]).

@rgaiacs @lexnederbragt

[1] https://github.com/swcarpentry/workshop-template#creating-a-repository
[2] https://github.com/twitwi/TEST-workshop-template3/branches

[2017-01-12 09:29] rgaiacs commented on #376
@twitwi Thanks for the issue. I will check the branches and remove them if we already merged them.

@k8hertweck If we decide to solve #338 using branches, what I think was the decision so far, we will end up with a reasonable number of branches that will be duplicated on all the workshops pages.

[2017-01-12 09:34] rgaiacs commented on #338
As stated by @twitwi on #376

Maybe we don't want it.

[2017-01-12 09:35] #376 closed, assigned to nobody

[2017-01-27 19:28] sfortney opened #377 "Superfluous examples in Unix"
**Main suggestion**: do away with the "--help" log window example in Navigating Files and Directories of the Unix lesson. It is unnecessary and bulky in the lesson plan.

I feel that the Bash/Unix lesson takes too much time setting up with _how the program works_ and not enough time getting into _how the program would benefit those with research_.

An instructor can easily get bogged down trying t

[2017-01-28 11:52] rgaiacs commented on #377
@sfortney Thanks for the issue. I move it to the correct place, https://github.com/swcarpentry/shell-novice/issues/504, and I'm closing this.

[2017-01-28 11:52] #377 closed, assigned to nobody

[2017-02-04 11:57] rgaiacs commented on #370
@pschloss Thanks for the issue. I'm closing this since the bug is difficult to reproduce. If more instructors start to have similar issue again we will take some action.

[2017-02-04 11:57] #370 closed, assigned to nobody

[2017-02-04 11:59] rgaiacs commented on #365
I'm closing this since we will need to review it only after we rethink https://github.com/swcarpentry/windows-installer.

[2017-02-04 11:59] #365 closed, assigned to nobody

[2017-02-04 12:03] rgaiacs commented on #364
On `README` we have

The "self-organized workshop" links to https://amy.software-carpentry.org/forms/submit/ but there is no form.

![screencapture-amy-software-carpentry-org-forms-submit-1486209701991](https://cloud.githubusercontent.com/assets/1506457/22618342/d33af462-ead1-11e6-9a50-a4848dcddfb8.png)

@maneesha I'm assigning this issue to you since is you who will handle the requests. Thanks.

[2017-02-04 12:06] rgaiacs commented on #361
Continuous integration will always fail for this repository because of the `FIXME` that we use at https://github.com/swcarpentry/workshop-template/blob/gh-pages/index.html.

[2017-02-04 12:26] rgaiacs commented on #353
@biologyguy @iglpdc @chendaniely Any progress on this one?

[2017-02-04 12:31] rgaiacs commented on #291
MOTION: Adopt https://github.com/iglpdc/open-a-terminal as official Software Carpentry lesson.

[2017-02-04 13:02] rgaiacs commented on #290
@mstimberg and @marwahaha Do you still have interest to work on this?

[2017-02-04 13:07] rgaiacs commented on #225
@iglpdc Thanks to raise this up. I will let Data Carpentry assessment person let know of this issue but I will close it for now.

[2017-02-04 13:07] #225 closed, assigned to JasonJWilliamsNY

[2017-02-04 13:11] rgaiacs commented on #136
@abostroem and @wking Thanks to work on this one. Any progress?

[2017-02-04 13:13] rgaiacs commented on #121
@SamPenrose @seanfisk Thanks for the issue. I'm closing this since it is too old.

[2017-02-04 13:13] #121 closed, assigned to gvwilson

[2017-02-04 13:14] rgaiacs commented on #116
@moorepants and @gpratt Thanks for this. I'm closing this since it is too old.

[2017-02-04 13:14] #116 closed, assigned to nobody

[2017-02-04 14:08] biologyguy commented on #353
@rgaiacs This fell off my radar. Do you think it's worth following up with? I can just close out the comment if people are generally happy with Git for Windows.

[2017-02-04 17:10] abostroem commented on #136
@rgaiacs I think @wking is waiting on some comments for how to proceed (see his last comment)...

[2017-02-06 00:36] kariljordan commented on #225
@rgaiacs @iglpdc @marwahaha @JasonJWilliamsNY
In the pre-workshop survey for Data Carpentry we ask the following question:

Disability (Check all that apply)
- Hearing Impairment
- Visual Impairment
- Mobility/Orthopedic Impairment
- Other (Enter description)
- None
- Do not wish to provide.

This question doesn't account for other 'special needs' including, but not limited to, emotional or behavi

[2017-02-06 08:27] lexnederbragt commented on #291
Counter-motion: this lesson (once complete) becomes part of the unix shell lesson. For example, as part of http://swcarpentry.github.io/shell-novice/setup/.

[2017-02-06 12:02] rgaiacs commented on #353
@biologyguy Can you try [bug-353-example.zip](https://github.com/swcarpentry/workshop-template/files/754505/bug-353-example.zip).

[2017-02-06 12:06] rgaiacs commented on #353
I always thought that Software Carpentry tried to use on the workshop the installation procedure with more market share because learners would find it some where else on the internet when searching another time. Based on that I would say that "we" are happy with Git for Windows. **Unfortanatelly we aren't happy that Git for Windows doesn't include some tools like nano, make, man, ...**

[2017-02-06 13:41] rgaiacs commented on #225
@kariljordan Thanks.

[2017-02-06 18:26] wking commented on #291
On Mon, Feb 06, 2017 at 12:27:23AM -0800, Lex Nederbragt wrote:

I'd rather keep it separate, because opening a terminal can be useful
even for folks who aren't working through the whole shell-novice
lesson.  And notes on opening a terminal are going to be very broad
(many platforms) and shallow (not much to it on a given platform), so
you'll want to lay it out differently than the narrow/deep
she

[2017-02-07 09:10] lexnederbragt commented on #291
@wking good points. I agree that having a separate place for this information in the SWC web-infrastructure would be a good thing. But would a full-fledged lesson just for explaining how to open a terminal be the right solution?

[2017-02-07 17:09] mstimberg commented on #290
Sorry for having being quiet so long, I'll try to re-write the instructions and open a PR.

[2017-02-07 18:03] wking commented on #291
On Tue, Feb 07, 2017 at 01:10:25AM -0800, Lex Nederbragt wrote:

I'm fine with micro-lessons ;).  But I don't have a strong opinion on
this; if the maintainer(s) (@iglpdc?) want to structure the “how to
open a terminal” information differently, that's fine with me.

[2017-02-08 17:42] tracykteal commented on #326
Great idea! I agree an 'add to calendar' link would be helpful. I don't see a downside, unless it's something that will break.

[2017-02-08 17:42] naupaka commented on #326
+1

[2017-02-10 01:40] biologyguy commented on #353
It's asking for a SageMath kernel. I don't know what that is.
Otherwise, the notebook did at least load up, I just can't run the code.

On Mon, Feb 6, 2017 at 7:02 AM, Raniere Silva <notifications@github.com>
wrote:

[2017-02-10 01:40] biologyguy commented on #353
Well, the Gnu on Windows toolkit comes with some of the features you're after. It looks like we'll be setting up another workshop this spring, so I'll probably adapt our workshop fork to switch over to anaconda and GoW.

[2017-02-18 12:35] #326 closed, assigned to rgaiacs

[2017-02-18 12:36] #290 closed, assigned to nobody

[2017-02-18 12:38] rgaiacs opened #380 "Add link to template for Outlook event"
#366 added link to Google Calendar and some workshop attendees will use Outlook.

[2017-02-18 12:38] rgaiacs opened #381 "Add link to template for iCal event"
#366 added link to Google Calendar and some workshop attendees will use iCal.

[2017-02-18 12:39] rgaiacs opened #382 "Add link to template for Yahoo event"
#366 added link to Google Calendar and some workshop attendees will use Yahoo.

[2017-02-18 12:40] #361 closed, assigned to k8hertweck

[2017-02-20 18:32] maneesha commented on #364
If they are just submitting a URL they can email admin@software-carpentry.org directly.

Self organized workshops for SWC do not need prior approval.
Self organized workshops for DC *do* need prior approval: http://www.datacarpentry.org/self-organized-workshops/

[2017-02-21 09:56] rgaiacs commented on #364
Can you make this clear on that page? :-)

[2017-02-24 17:02] luisguialm commented on #262
I am at the a workshop in Morgantown, WV. I was getting the problem pretty often, then I runned the git-bash as administrator, and it not so often. Will try the options posted above.
Thanks

[2017-02-24 17:05] rgaiacs commented on #262
@luisguialm Thanks for the report. Any additional information that you could provide would help a lot to avoid this in the future.

[2017-02-25 15:43] luisguialm commented on #262
I installed the git-2.11.1-64 version. I have been getting the same error also using the alternatives posted above.

[2017-02-27 07:28] rgaiacs commented on #262
@luisguialm What Windows are you running? XP, Vista, 8, 10 (Desktop), 10 (Tablet), ... ?

[2017-02-28 14:59] luisguialm commented on #262
I'm using windows 7 enterprise, a university laptop

[2017-03-11 11:21] cas-- opened #384 "multi-day workshop enddate and google calendar url"
When a workshop is more than one day the google calendar api requires that the enddate be the last day +1.

https://github.com/swcarpentry/workshop-template/blob/gh-pages/index.html#L13

I am not sure what the best solution would be, maybe just a comment like this:

    # Multi-day workshops require google calender format 'enddate +1 day'

[2017-03-16 17:47] #384 closed, assigned to nobody

[2017-03-16 17:48] rgaiacs commented on #384
@cas-- Thanks for the issue. I fixed it.

[2017-03-17 15:22] willu47 opened #387 "Bug: workshop title not updated from index.html"
I can’t set the workshop title e.g. [see my import of the template](https://willu47.github.io/2017-03-17-willtest/license/).

It appears you need to alter the ‘Workshop Title’ in the `_config.yaml` file in the repo top-level directory.  There also appears to be duplicate entries in `_config.yaml` and the header of `index.html`

This is not made clear in the readme instructions.

(I'm currently doi

[2017-03-17 15:31] rgaiacs commented on #387
@willu47 Thanks very much for the report. I confirm the bug. I couldn't find a solution that I could implement in 5 minutes. :-( I will need to work on it later. Sorry.

[2017-03-17 15:48] agbeltran opened #388 "Extend header of index.html to include option for Google document instead of etherpad"
Currently, the header of index.html has the possibility to add an etherpad URL for the workshop.

[code]
Given that Google documents are also used sometimes (it is being used in the workshop I am attending), should another option be added or the 'etherpad' option be renamed with something more generic (e.g. collaborative_notes)?

[2017-03-27 16:33] mkuzak opened #389 "remove not used branches"
If non gh-pages branches are not necessary or needed any more it would help removing them. A lot of people import the template and start editing in the wrong branch. gh-pages is not the default one after importing.

[2017-03-29 16:50] wking commented on #387
On Fri, Mar 17, 2017 at 08:22:35AM -0700, Will Usher wrote:

I'm not quite clear on what the bug is.  On your example, both the
<head><title> and leading <h1> have “Workshop Title: Licenses”.  Those
are both templated with [1,2]:

  {{ site.title }}{% if page.title %}: {{ page.title }}{% endif %}

The values you have in the tip of your gh-pages branch are:

* site.title: Workshop Title [3]
* page.

[2017-03-30 17:44] giordhano commented on #262
I has the same error on Windows 10

[2017-03-30 20:41] rgaiacs commented on #387
`title` at `_config.yml` [1] and `venue` at `index.html` [2] should be the same so that https://willu47.github.io/2017-03-17-willtest/conduct/ has "Penguin Research Base (Workshop): Contributor Code of Conduct" and https://willu47.github.io/2017-03-17-willtest/license/ has "Penguin Research Base (Workshop): Licenses".

I'm OK if https://willu47.github.io/2017-03-17-willtest/conduct/ has "Contribut

[2017-03-30 21:04] wking commented on #387
On Thu, Mar 30, 2017 at 01:41:01PM -0700, Raniere Silva wrote:

I don't think we want to collapse those two.  Folks who do want the
same value in both places can obviously configure them to match.  But
you may have several workshops at the same venue and want to
distinguish them (e.g. a SWC and a DC workshop which want seprate
websites).

[2017-03-31 17:18] k8hertweck opened #390 "Add installation instructions for Atom"
Given current issues with the SWC Windows installer (see issue on concerns and considerations [here](https://github.com/carpentries/conversations/issues/11)), particularly regarding an inability to install nano, several instructors have advocated the use of [Atom](https://atom.io) as a text editor for workshops using git and unix shell.

It would be fairly easy to add these installation instructio

[2017-03-31 22:05] rgaiacs commented on #390
Because many instructors advocated to keep nano I worked on https://github.com/swcarpentry/workshop-template/pull/391 that will conflict with this issue.

[2017-03-31 22:07] rgaiacs commented on #389
@mkuzak I think that I solved this issue by removing the other branches and because of this I'm closing this issue. If is something else is causing this issue please reopen it and provide more information.

[2017-03-31 22:07] #389 closed, assigned to nobody

[2017-03-31 22:14] rgaiacs commented on #388
@agbeltran Thanks for your suggestion. Could you have a look at https://github.com/swcarpentry/workshop-template/pull/392 and provide us with your feedack? Thanks in advance.

[2017-04-02 20:41] mkuzak commented on #389
Yes, thank you.

[2017-04-04 15:41] rgaiacs opened #394 "Replace Git Bash with MSYS2"
Michael Sarahan [suggested](http://lists.software-carpentry.org/pipermail/discuss/2017-April/005178.html) to consider [MSYS2](http://www.msys2.org/). Add your comments here.

[2017-04-04 15:43] rgaiacs commented on #394
I'm -1 to use MSYS2 because the official website suggests

`pacman` is the package manager of [Arch Linux](https://www.archlinux.org/) and I want to have to deal with a "zero-day" bug during the workshop.

[2017-04-04 16:06] rgaiacs opened #395 "Replace Git Bash with conda"
Michael Sarahan [suggested](http://lists.software-carpentry.org/pipermail/discuss/2017-April/005178.html) to consider [conda](https://conda.io/docs/). Add your comments here.

[2017-04-04 16:08] rgaiacs commented on #395
conda doesn't has `nano`, see https://github.com/ContinuumIO/anaconda-issues/issues/1485. The main point of consider replace Git Bash is to avoid issues related with `nano` at Windows and free us to maintain  the compilation of anything that will provide `nano` for Windows users.

[2017-04-04 16:17] msarahan commented on #394
pacman is just their package manager.  It's well-established and very stable.  It does not imply that they follow the same bleeding-edge philosophy as Arch Linux.

If there are other questions, please ping me or @mingwandroid, who is a core MSYS2 contributor.

[2017-04-04 16:20] msarahan commented on #395
conda does have nano, I created a package specifically for software carpentry: https://anaconda.org/swc/nano

There's only windows packages right now, but I could do linux/mac builds if anyone wanted.

We've had this discussion before, but the main advantage that conda offers (IMHO) is that you can create purpose-built installers for every platform on a per-workshop basis, using Constructor: https

[2017-04-04 16:40] ashander commented on #395
Is this referencing the mailing list discussion found here http://lists.software-carpentry.org/pipermail/discuss/2015-October/thread.html#3452 or something else?

[2017-04-04 16:43] msarahan commented on #395
Yes, @ashander that's mostly what I had in mind.  I am not sure that Constructor was available at that time, though.  Since you can create installers specific for a given workshop, it can greatly reduce the steps to get people set up.

[2017-04-04 17:28] evanwill commented on #395
This seems like a great option for workshops that include Python.

So Conda installs python, bash, git, and nano? Does it provide a terminal emulator so that people don't have to use Windows cmd? Is there a way to get the terminal to work in Jupyter notebook on Windows?

Is there an example installer or instructions available some where?

thanks.

[2017-04-04 17:38] msarahan commented on #395
Conda should be good at this point for workshops teaching either Python or R.  We have rstudio packages in conda.  We don't have much R experience internally, but we work hard to support the R ecosystem.

With constructor, people would only need to run the installer.  It's based on conda, but does not actually require conda as part of the installer (only requires it if you want to have your instal

[2017-04-04 19:38] mingwandroid commented on #394
MSYS2 itself is rolling, but not as bleeding edge. The Anaconda Distribution has some `m2` packages, those are not rolling. I will update all the packages en-masse when I am very happy with the state of MSYS2 (sometime soon would be good if I can find some spare time). I would welcome requests for which ones I should add for when I do that. Please see https://repo.continuum.io/pkgs/msys2/win-64 fo

[2017-04-04 20:49] mingwandroid commented on #395
Anaconda Distribution has `m2-mintty` if that's any use? It doesn't have some of the fancy features  `Console2` has (which MSYS2 doesn't have since it cannot be compiled with GCC on Windows) but it does support the POSIX emulation layer a *lot* better (since it's maintained for Cygwin, more or less).

[2017-04-07 07:29] rgaiacs opened #396 "Replace Mac OS X with macOS"
As mention in Wikipedia,

[2017-04-07 20:49] #388 closed, assigned to nobody

[2017-04-12 09:54] Amersfoj commented on #262
@gvwilson You can't just close an issue because it's been open for 2 months. The issue has not been resolved

[2017-04-17 19:40] biologyguy commented on #353
Merge with issue #395

[2017-04-17 19:40] #353 closed, assigned to nobody

[2017-04-17 19:45] biologyguy commented on #395
Hi folks,
I'm merging in from related issue #353. I'll be running a workshop in May and have completely switched the instructions so all installation is managed via Conda.
https://biologyguy.github.io/2017-05-08-NIH/
If anyone is game, I'd really value a review of my instructions. I'll also report back any issues our students encounter.

[2017-04-17 21:54] msarahan commented on #395
@biologyguy cool, nice to see.  Here's a few comments:

1. Your process will be simpler if you build custom installers using Constructor (https://github.com/conda/constructor) - you can include everything you need, so that your install process will be just one step.
2. The install instructions I used in Fall 2015 are at https://jiarong.github.io/2015-11-05-ND/ - maybe they're useful to you.  Const

[2017-04-18 14:25] biologyguy commented on #395
Thanks @msarahan!
For constructor, if I'm reading it correctly, I would need to make and host a different installer for each platform? Or maybe I just make one for Windows, because the other systems have a more straight forward install? I think I'll try it with the list of shell commands for now and see if it messes anyone up.
Thanks for the tip about setting the PATH variable. I've added console_

[2017-04-18 15:58] msarahan commented on #395
@biologyguy yes, you would need to make and host separate installers for each platform.  If you have a complicated set of things to install, maybe it's better than telling people the command to type.  For simple stuff, maybe the juice is not worth the squeeze.

If anyone was bored, it would be really neat to create an on-demand installer generator.  Instructors would only need to create and submit

[2017-04-19 16:09] YuriySam commented on #262
I having this Error when I run commands fron GIT GUI and GIT Commands prompt is opend too.  Sorry by my English but I study it.

[2017-04-20 09:20] rgaiacs commented on #262
I can't reproduce it when using

- Microsoft Windows 10.0.14393
- Git Bash (unknown version)
- Bash 4.3.46(2)
- Git 2.10.0.windows.1
- Git Gui 0.20

@YuriySam please provide more information. If you don't want to write but are able to do a screen record it will help as well.

[2017-04-21 22:12] YuriySam commented on #262
I have Microsoft Windows 7 x64:
I install Git from file: Git-2.12.2-64-bit.exe.
Git Bash detected Error from this screen:
![image](https://cloud.githubusercontent.com/assets/27555580/25297569/4ab07fc4-26f7-11e7-94ff-a89a366edcc7.png)

Listing files from folder, where Git Bash detected Error:
![image](https://cloud.githubusercontent.com/assets/27555580/25297612/a16f4732-26f7-11e7-861e-4e303b97fafb.

[2017-04-22 17:33] rgaiacs commented on #262
@YuriySam Thanks for the information. :-) I will download the Windows 7 from https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/ and test it.

[2017-04-27 15:28] ostueker commented on #395
I gave it a try and created a Conda (Constructor) based installer and I will use it for a spring course in a few weeks.

The code is at: https://github.com/ostueker/SWC-Conda-Installer.

It still needs a bit of cleanup and an EULA.  Feedback on missing modules is welcome as well.

[2017-04-27 15:34] msarahan commented on #395
Looks great @ostueker - thanks for your work on it.

[2017-04-28 21:58] tmorrell commented on #395
I'd like to add a vote for a conda-based install process.  'conda install -c swc nano' was a really easy way to get around nano install problems on windows at a recent workshop.  A more automated solution would be even better.

[2017-05-02 21:12] jstaf commented on #394
I've used MSYS2 in two workshops now- works much better than Git Bash with a couple caveats.

Here's what we usually do to install:
* Tell users to install MSYS2 from http://www.msys2.org/
* Users should open MSYS2 from the start menu and run `pacman -S nano git tar gzip wget unzip man` (`pacman -Syu` isn't actually required to get things working for a workshop)
* Tell users that they can get to t

[2017-05-03 19:09] mingwandroid commented on #394
Which Rstudio do you use here? I've added RStudio to the Anaconda distribution. I will try to ensure that MSYS2 git works correctly next time I repackage it.

The permissions can be set to Cygwin-like paid permissions emulation by editing `/etc/fstab` and removing `noacl`.

The reason we do it this way is because that emulation isn't very compatible with native Windows and causes no end of headach

[2017-05-03 19:46] jstaf commented on #394
It's not that the MSYS2 copy of Git doesn't work, its that it's not on the Windows search path. So when an IDE like RStudio scans for Git, it doesn't see MSYS2's copy (to be fair, the only situation in which you'd want that to happen is in teaching scenarios like this one). Also to be super specific on RStudio, this is just using the default copy of RStudio Desktop direct from RStudio's website an

[2017-05-04 11:49] mingwandroid commented on #394
I didn't add any option or facility to the MSYS2 installer to the Windows `PATH` due to DLL hell and general executable shadowing. Of course you can recommend people to do that after installation if you wish. If you want to be able to launch Windows software from MSYS2 bash (and therefore have both in `PATH` for that software), you can set the `MSYS2_PATH_TYPE` environment variable to `inherit`.

[2017-05-04 13:04] ostueker commented on #395
I've just created a [v0.0.5 release][1] for the SWC-Conda-Installer and uploaded installers for Linux, MacOSX and Windows.

Please feel free to test and give some feedback.

[1]: https://github.com/ostueker/SWC-Conda-Installer/releases/tag/v0.0.5

[2017-05-04 13:12] msarahan commented on #395
@ostueker you should prefer the m2-git package over the git package for windows.  The former is msys2 (and older), while the latter is a repackaged Git 4 Windows.  Git 4 Windows is using a not-quite-compatible core of MSYS2, so mixing the two is not a good idea.  It would be easy to create the equivalent of the "Git Bash" start menu shortcut that employed MSYS2's utilities.

If anyone here is inte

[2017-05-04 13:23] ostueker commented on #395
Thanks @msarahan !
I'm also not quite happy that the Windows Start Menu folder is called "Anaconda3 (64bit)" as this can collide with already installed Anaconda installations.
The next weeks I'll be very busy, but I'll try to look at it later in the summer (so far I've never packaged something for conda).

[2017-05-06 08:57] rgaiacs opened #398 "Review template for Library Carpentry"
- [ ] https://github.com/swcarpentry/workshop-template/blob/gh-pages/_includes/lc/intro.html
- [ ] https://github.com/swcarpentry/workshop-template/blob/gh-pages/_includes/lc/schedule.html
- [ ] https://github.com/swcarpentry/workshop-template/blob/gh-pages/_includes/lc/syllabus.html
- [ ] https://github.com/swcarpentry/workshop-template/blob/gh-pages/_includes/lc/who.html

@weaverbel and @ drjwba

[2017-05-06 08:57] rgaiacs opened #399 "Review template for Data Carpentry"
- [ ] https://github.com/swcarpentry/workshop-template/blob/gh-pages/_includes/dc/intro.html
- [ ] https://github.com/swcarpentry/workshop-template/blob/gh-pages/_includes/dc/schedule.html
- [ ] https://github.com/swcarpentry/workshop-template/blob/gh-pages/_includes/dc/syllabus.html
- [ ] https://github.com/swcarpentry/workshop-template/blob/gh-pages/_includes/dc/who.html

@tracykteal @ErinBecker

[2017-05-06 08:58] rgaiacs opened #400 "Review template for Software Carpentry"
- [ ] https://github.com/swcarpentry/workshop-template/blob/gh-pages/_includes/sc/intro.html
- [ ] https://github.com/swcarpentry/workshop-template/blob/gh-pages/_includes/sc/schedule.html
- [ ] https://github.com/swcarpentry/workshop-template/blob/gh-pages/_includes/sc/syllabus.html
- [ ] https://github.com/swcarpentry/workshop-template/blob/gh-pages/_includes/sc/who.html

@maneesha @anenadic cou

[2017-05-08 15:22] anenadic commented on #400
@maneesha  A few small comments on the template.

1. on README, point 3. in the introduction is a bit confusing - not everyone is doing a self-organised workshop and they still need to create a website and have it registered with the Carpentry, and even if they are - they may have already put the request in previously. I'd reword it to something like  "Once you are done, please also let us know th

[2017-05-08 15:40] anenadic commented on #400
Ah, I see that the customisation page https://swcarpentry.github.io/workshop-template/customization/ contains instructions to modify _config.yml - that is good. It just needs to be modified to tell people to modify title and carpentry variables as well. And to tell people about it on the README page, too.

[2017-05-08 16:10] rgaiacs commented on #400
Can we move https://swcarpentry.github.io/workshop-template/customization/ into the `README.md` or drop the `README.md` in favour of https://swcarpentry.github.io/workshop-template/customization/.

[2017-05-10 08:16] anenadic opened #401 "Code of conduct page seems to be missing"
We also seem to be invoking various code of conduct pages, e.g.

1. "https://software-carpentry.org/conduct/" in _includes/links.md;

2. "${DST}/conduct/index.html" from makefile, which presumably will resolve to something similar to the above (depending on the value of DST), which is fine but such page does not exit on DC website, just on SWC website;

3. "[code of conduct](CONDUCT.md)" in CONTRI

[2017-05-10 09:19] anenadic commented on #400
@maneesha I created a pull request with proposed modifications, please see https://github.com/swcarpentry/workshop-template/pull/402

[2017-05-10 10:17] rgaiacs commented on #401
The file `CONDUCT.md` was restored at e5ac772. Long story short, I made a mistake last week.

[2017-05-10 10:36] tracykteal commented on #399
Thanks @rgaiacs We'll likely get to this next week.

[2017-05-18 16:42] willu47 commented on #387
Perhaps one easy solution then is to update the readme so that it make explicit that changes need to be made in `_config.yml` and `index.html` to ensure consistency across the website?

[2017-05-19 08:46] rgaiacs commented on #387
Close by #402. Thanks to @anenadic.

[2017-05-19 08:46] #387 closed, assigned to nobody

[2017-05-21 09:58] marwahaha opened #404 "no syllabus, no styling?"
I'm having trouble seeing large portions of my website. I just created this webpage (so perhaps GH isn't requesting other pages from the same domain?)

It's available here: https://marwahaha.github.io/2017-06-12-wise/

[2017-05-22 09:28] rgaiacs commented on #404
@marwahaha Thanks for you issue. I have a look at the link you provided and I couldn't spot the problem. Could you make clear which large portions of your website is not showing up?

[2017-05-22 15:58] marwahaha commented on #404
I'm sorry -- I forgot to close this. I was missing a closing quotation mark in the list of instructors.

Thanks for looking!

[2017-05-22 15:58] #404 closed, assigned to nobody

[2017-05-23 15:51] godfoder opened #405 "Default schedule and syllabus don't agree on default data carpentry template"
In the workshop template for data carpentry, the default schedule includes shell, python, git and SQL. The default syllabus includes shell, git, python and open refine.

[2017-05-24 05:53] marwahaha opened #407 "Eventbrite not rendering on page"
I'm getting errors adding my eventbrite to my workshop page. I thought it was me, but I checked all upcoming workshops and every screen looks like this.

I'm running Chrome 58.0.3029.110 on a Mac.

#### Screen
![image](https://cloud.githubusercontent.com/assets/2541209/26388659/ab76f352-4023-11e7-8f6b-af3897da4331.png)

#### Console
![image](https://cloud.githubusercontent.com/assets/2541209/26388

[2017-05-24 07:00] rgaiacs commented on #405
@tracykteal @ErinBecker Could you review and merge this?

[2017-05-24 07:08] rgaiacs commented on #407
@marwahaha Thanks for the issue.

I believe it is something with your web browser configuration or you changed something on your workshop page when I looked at it.

# Screenshots

Chromium Version 58.0.3029.110 (64-bit)

![screenshot_2017-05-24_08-04-49](https://cloud.githubusercontent.com/assets/1506457/26390751/ca0c1c46-4057-11e7-9221-e637d91ac3a4.png)

Mozilla/5.0 (X11; Linux x86_64; rv:53.0) G

[2017-05-24 18:36] marwahaha commented on #407
Yeah, I thought I had checked things in incognito but it works there. Must be an ad-blocker.

Thanks @rgaiacs !

[2017-05-24 18:36] #407 closed, assigned to nobody

[2017-05-25 21:56] ErinBecker commented on #405
@tracykteal Is this something you can take a look at?

[2017-05-26 01:09] tracykteal commented on #405
Yes, I've put this on my calendar to for Tues 5/30 and will go through the proposed workshop template for DC

[2017-05-26 14:31] ErinBecker commented on #405
Great, thanks​ Tracy.

On May 25, 2017 6:10 PM, "Tracy Teal" <notifications@github.com> wrote:

[2017-05-30 22:51] tracykteal opened #408 "Move setup instructions to a separate page"
For us to use this for a Data Carpentry workshop template, I'd want to have the setup instructions on a separate page, with a link to the Setup instructions at the bottom of the page. I've heard that it's both intimidating and overwhelming to people who are coming to this intro landing page to have all that information.

You can see that generally implemented here
http://www.datacarpentry.org/work

[2017-05-31 00:36] tracykteal commented on #408
Before I get too far down this path, this is the idea for moving the setup instructions to a different file than index.html and also creating a modular system, so you can 'includes' the topics you're teaching from just listing them in a YAML header

https://github.com/tracykteal/workshop-template

Index: https://tracykteal.github.io/workshop-template/

Setup page: https://tracykteal.github.io/work

[2017-05-31 00:39] tracykteal commented on #405
Before making this a DC template, I want to address the setup instructions issue. So, I'd like to resolve https://github.com/swcarpentry/workshop-template/issues/408 before merging an adoption of the DC schedule.

[2017-05-31 03:46] naupaka commented on #408
Sounds like a good general plan to me. I am not sure of all of the intricacies of the Jekyll-fu y'all are using to make this hang together - but would it be possible to have said `setup.md` at the root of the repo instead of in the `_extras/` folder? Or even call it something like `index-setup.md`.

I'm just thinking in terms of discoverability - it can be hard to know which subfolder to dig into

[2017-05-31 05:03] tracykteal commented on #408
It could be in the main root rather than _extras. It just wouldn't appear in that drop-down 'extras' menu/tab at the top of the page. I'm not sure how important it is to have it appear there though, as I don't really know how people are using the page and if they're looking there.

I agree that it's nice if all the changes are in index.html, but I think the 'edit just the YAML in a different file'

[2017-05-31 13:25] rgaiacs commented on #408
No problem for me.

Thanks for the pull request.

I'm against the use of YAML header. We had this conversation in the past and the YAML header (1) makes harder for novices to add their own instructions since they need to learn "advanced" Jekyll and (2) make harder to maintain the file due the nest for/if clauses.

If we are moving to have a separate setup file I will suggest to use

[code]

instea

[2017-06-12 22:06] djinnome opened #410 "bin/workshop_check.py does not include a Handler for collaborative_notes or root"
Hi folks,

 I tried to run workshop_check.py on my [Imported workshop page](https://github.com/djinnome/2017-06-26-pnnl) and I got the following error message:

`Superfluous categories: offending entries ['collaborative_notes', 'root']`

I am guessing that this code has not been updated to reflect the most recent changes to the workshop template (since there is still a handler for etherpad, but no

[2017-06-12 22:08] djinnome commented on #410
Also, the workshop index.html template contains instructions to run `tools/check`, but this appears to have been refactored into `bin/workshop_check.py` and other scripts.

[2017-06-15 17:11] sstevens2 commented on #400
I made a workshop website right before and after schedule/syllabus/who/intro were separated out.  I understand(and support) this is to make the template general for all carpentries, but honestly customization was a bit harder after.  I see here that you are adding more directions which will certainly help some.

Here is what I found:
1. I didn't notice that I needed to edit the `_config.yaml` righ

[2017-06-16 08:26] rgaiacs commented on #400
@sstevens2 Thanks very much for your feedback.

It is related with https://github.com/swcarpentry/workshop-template/issues/387.

This is a discussion in process. I'm happy to move all the documentation to HTML pages under GitHub Pages and left GitHub README with "See this link" but some people still want to have the README.

My mistake.

#402 was already merge. Feel free to send us a pull request.

[2017-06-18 07:49] #405 closed, assigned to nobody

[2017-06-18 08:07] #410 closed, assigned to nobody

[2017-06-18 08:08] rgaiacs commented on #410
@djinnome Thanks for the feedback. I fixed the issue.

[2017-06-19 16:07] sstevens2 commented on #400
Thanks for the response and all the clarifications @rgaiacs!
I fixed the default SC syllabus and it is in PR #411.

I don't have an opinion on the  gh-pages customization page vs. Readme, either is fine with me as long as the documentation is consistent.
But I will take a look at both the readme and the customization and try to add links to where to customize the `_includes` files and see if I can

[2017-06-20 09:44] rgaiacs opened #412 "Pre-workshop Survey - Question about age"
https://www.surveymonkey.com/r/swc_pre_workshop_v1?workshop_id=2017-06-21-qmul has

as one question. Why are we asking this question? Is because of some legal US restriction? Why instead of asking this question we don't ask their age using multiple answers with age range?

# Screenshot

![age](https://user-images.githubusercontent.com/1506457/27327042-2da5e018-55a5-11e7-9d41-16c8caf2c163.png)

cc

[2017-06-20 09:47] rgaiacs opened #413 "Pre-workshop Survey - Question about location"
https://www.surveymonkey.com/r/swc_pre_workshop_v1?workshop_id=2017-06-21-qmul has

as one question. I think that this question is unnecessary because we are collecting the slug of the workshop at the begin and using it we can know which country the workshop was held. In addition to that, this questions doesn't show how important our international community is.

# Screenshot

![us](https://user-im

[2017-06-20 14:12] maneesha commented on #413
In an ideal world, everyone would tell me about all their workshops in a timely manner, their github pages would be properly set up, and we would be able to channel survey questions accordingly.  Since this does not happen we need to ask.  The US is the only country where we know we can collect demographic information.  Laws in other countries vary.  So we only ask this of US based workshops.

Tha

[2017-06-20 14:15] maneesha commented on #412
Good question.  I'm not sure why it's asked at that point in the survey.  Age 18 is the age of consent in the United States.  People under 18 can not consent to doing anything without parental permission.  If it's asked for consent purposes, it should be asked at the beginning, with the consent question.  If it's being asked for demographic purposes then it should probably go in the next section a

[2017-06-20 16:10] ErinBecker commented on #412
This question is required by our IRB (institutional review board). IRB is a legal oversight body in the United States that governs human subjects research (from clinical trials to social sciences research).  We are not permitted to use data from people under 18 in any research study that we publish. There's no problem with moving this question, but it does need to remain in the survey with the exa

[2017-06-20 16:11] ErinBecker commented on #413
This is another question that is required by our IRB and cannot be changed for legal reasons.

[2017-06-20 16:34] kariljordan commented on #413
We ask demographic questions (race, gender, etc.) and those questions can only be asked to U.S. participants, so if they answer **yes** to this question it leads to the demographic questions. If they answer **no** the question ends.

In the new pre/post surveys that we'll be launching the question is phrased in this manner:
Was this workshop held in the United States or any of its territories?

It

[2017-06-20 16:50] rgaiacs commented on #413
Would be possible to trigger that question only for workshop that we don't know the location or we know that are held in the US? Or can we add a comment that that question is required by US law?
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-06-20 16:54] kariljordan commented on #412
@ErinBecker nailed it. I have nothing more to add:)

[2017-06-20 16:56] kariljordan commented on #413
Is your concern that we have learners who will read this question and feel as if they are not important in our community? Has there been conversation buzzing about this? I'd like to understand the overall issue.

[2017-06-20 16:59] ErinBecker commented on #413
Agreed with @kariljordan. @rgaiacs, could you please let us know what prompts the concern? Was this question problematic for learners at a workshop you taught/attended?

Any changes we make to these two questions have to be approved by our IRB. This isn't a trivial process, so I'd like to know if there's a reason to make the changes.

[2017-06-20 21:36] rgaiacs commented on #413
This was my feeling when I was looking at the survey. But I didn't asked any learners. @anelda, @weaverbel, @apawlik or @anenadic could have something to say about it. I can ask some Brazilian learners if you are interested to know their feeling.

Was this workshop held in the United States or any of its territories?

I don't know anything about the institutional review board so I will ask what is

[2017-06-23 15:18] rgaiacs commented on #262
@YuriySam Thanks for your patience, virtual machine not working. I try to reproduce it but I couldn't.

![status](https://user-images.githubusercontent.com/1506457/27488579-6f3db56e-582f-11e7-8cd4-73e3feebbe83.png)

![tmp](https://user-images.githubusercontent.com/1506457/27488597-7d9a24da-582f-11e7-8d8a-0396bd60df0c.png)

[2017-06-26 05:07] jangari opened #414 "YAML for contact joins all email addresses without separator"
[Line 157 of index.html](https://github.com/swcarpentry/workshop-template/blob/gh-pages/index.html#L157) results in conjoined email addresses in a mailto: link if multiple contacts are listed.

I suggest replacing with this, to insert a space between each email address:

`If we can help making learning easier for you (e.g. sign-language interpreters, lactation facilities) please <a href="mailto:{%

[2017-06-26 15:42] rgaiacs commented on #414
@anenadic could you copy your code at https://github.com/swcarpentry/workshop-template/blob/gh-pages/index.html#L169 and paste it at https://github.com/swcarpentry/workshop-template/blob/gh-pages/index.html#L157 to fix this issue?

[2017-06-26 16:47] anenadic commented on #414
Sure, will do @rgaiacs. I noticed there is the same issue with instructor training workshop (they do not have the fix for multiple email addresses).

[2017-06-28 01:47] pllim opened #415 "Template can be more user-friendly"
Having to manually modify so many files are a bit tedious and overwhelming for first-timers. Would be nice to have some sort of "quick start" script that prompts user for input step-by-step. The idea is if user simply follow the prompts, the end result would be the minimally required website for a course. Then, user can go in and manually modify files as needed (or not).

Some existing tools you m

[2017-06-28 14:40] pshriwise opened #416 "Python3 Windows installation instructions"
At a workshop at UW - Madison we've experienced some issues with users installing Anaconda3 on Windows and being able to access it in git-bash.

There is a step in the installer asking if the Anaconda3 installation should be added to the user's `PATH` variable in git-bash. This is also another option on this page related to registering their installation with Anaconda. We have seen one, both, or n

[2017-06-28 14:41] pshriwise commented on #416
Alternatively/additionally, it might be nice to have a helper/instructor reference on how to properly modify a user's `PATH` variable to find the Anaconda installation rather than ask that they remove their current installation and try again.

[2017-06-29 12:59] anenadic commented on #414
@rgaiacs created pull request: https://github.com/swcarpentry/workshop-template/pull/417

Please note that my fix was to remove the 'get in touch' mailto link altogether and to point to contact details, which follow immediately.

[2017-06-29 14:14] rgaiacs commented on #414
@anenadic Thanks!

[2017-06-29 14:14] #414 closed, assigned to nobody

[2017-07-03 08:36] rgaiacs commented on #413
@kariljordan wrote

to discuss@lists.software-carpentry.org on Thu, 29 Jun 2017 12:55:35 -0400.

First, could we avoid to ask feedback to our community over the weekend? I believe this is unfair. In the future I would really like to have at least a full week to provide feedback.

Backing to the topic of this issue, what happened with the question about where was the workshop being held? As I alrea

[2017-07-03 16:32] kariljordan commented on #413
Hi @rgaiacs. In the future I will do a better job of giving everyone more time when I ask for feedback. I did receive quite a bit of feedback already, so I'm grateful for that. With so many timezones in the mix, some people's "weekend" starts earlier/later than my weekend. We include weekends and off time because some of our community members prefer to look at things on the weekends when they aren

[2017-07-06 13:50] tracykteal opened #418 "Consider hackmd.io for workshops instead of etherpads"
In this thread http://lists.software-carpentry.org/pipermail/discuss/2017-July/005303.html @ctb introduces [hackmd.io](https://hackmd.io) and the follow ups discuss some of the strengths of hackmd.io as an alternative to ether pads for collaborative document editing during workshops.

We might pilot trying out hackmd.io in workshops.

[2017-07-06 13:55] ctb commented on #418
Note that @luizirber has set up a lab-hosted hackmd here https://hackmd.oxli.org/, and so we can experiment with the `allowfreeurl` setting that Brandon Curtis suggested using to make nice URLs. Luiz, any comments on stability/backups/etc of this site?

[2017-07-06 20:02] luizirber commented on #418
I didn't stress test the setup, but I used `docker-compose` to deploy it (with an nginx server in front of it to expose the local ports to the internet, using SSL from letsencrypt).

Instructions: https://github.com/hackmdio/docker-hackmd
They also have a backup section (which basically means dumping the database to a file), as well as a restore section (loading the file dump into the DB again).

[2017-07-07 21:09] luizirber commented on #418
I added the `addfreeurl` setting, and it is working now: https://hackmd.oxli.org/test_for_freeurls

[2017-07-10 23:41] jduckles opened #421 "Mechanisms for managing workshop websites and install instructions"
I'd still like to see something like #305 (which has gone stale), particularly as we add more carpentries and more lessons, we want webpage setup to be easy.  Right now it isn't so easy, the instructor has to edit several files in several different directories. #415 Talks about making the template more user-friendly, but any solution must work without having to install some dependency on the local

[2017-07-18 06:40] metatechbe commented on #262
Hello,
"git status" also returned the same error "Segmentation fault", also with Git Bash 2.12.2.windows.1, under Windows 10 64-bit.
I had copied inadvertently the installation directory of Apache JMeter 3.2 (containing 2836 files) in a git subdirectory.
I upgraded to Git Bash 2.13.2.windows.1, and the problem was solved.
I hope it helps solving/closing the issue.
metatech

[2017-07-18 10:11] rgaiacs commented on #421
I'm against use `<iframe>` for static content because is very easy to break the `<iframe>`.

If you want to have something like

[code]

on the YAML header that is going to be used to populate the page with installation instructions **without** any server-side processing I will suggest to use a similar (client-side Javascript) approach that I took when implementing the all in one version of the le

[2017-07-18 14:11] ctb commented on #418
Something that has turned out to be very important: you can easily download the markdown from hackmd and then commit it to a github repo.  This means we are able to take hackpads from workshops and save them as part of the workshop record in version control.  We're doing this for angus.

[2017-07-27 13:55] raynamharris commented on #418
I also like hackmd.io because printing rendered markdowns files is so easy! Printing md files stored on GitHub doesn't work nearly as well (see image).

Also, I think this would be great for taking minutes at meetings because the transfer of notes from hackmd.io to GitHub is seemless whereas the Etherpad to GitHub transfer requires reformatting.

![githubvshackmd-01](https://user-images.githubuser

[2017-07-28 04:12] PeteEmbleton opened #423 "Change location of content you dont want people to touch"
i think it would make more sense to not have the first 2 lines on the template as dont touch, typically if you dont want people to modify variables you dont put them where people are editing and can see them

[2017-07-28 15:34] tracykteal commented on #418
It looks like it doesn't have the ability to have the chat/comments on the side like etherpads. Is that right?

[2017-07-28 15:36] ctb commented on #418
On Fri, Jul 28, 2017 at 08:34:42AM -0700, Tracy Teal wrote:

Yes, I believe so.

[2017-07-28 17:26] tracykteal commented on #418
I think we've gotten used to that feature, but not sure how important it actually is. We'll have to try it in a couple meetings.

[2017-07-31 09:39] rgaiacs commented on #423
@PeteEmbleton Thanks for the issue. Could you clear what are the first 2 lines? If possible, please provide a like from https://github.com/swcarpentry/workshop-template/blob/gh-pages/index.html or just copy and paste the lines.

[2017-08-01 07:31] YuriySam commented on #262
Thank you for taking the time to resolve this issue.
I did what you suggested. While there are no mistakes.

Bye! :-)

18 июля 2017, 09:40:06, от metatechbe <notifications@github.com>:

Hello,
"git status" also returned the same error "Segmentation fault", also with Git Bash 2.12.2.windows.1, under Windows 10 64-bit.
I had copied inadvertently the installation directory of Apache JMeter 3.2 (conta

[2017-08-01 16:07] mickley commented on #418
@tracykteal In my workshop experiences, the chat function is really critical, perhaps even more so than the etherpad itself.  Especially with more novice groups, adoption of the collaborative note-taking approach is slow (e.g., older people prefer paper).  But the quick questions in the etherpad seem to be more universally accepted.

I'd also posit that the extra cognitive load for markdown would

[2017-08-01 17:10] ctb commented on #418
side note - we used Slack for messaging, with the hope of continuing
to have a community after our workshops.  during-workshop slack seemed to
work really well.

[2017-08-01 17:15] mickley commented on #418
@ctb: that's a great idea, especially for younger crowds.

[2017-08-02 01:58] richyvk commented on #418
Built in chat with etherpad is good. Also, sometimes you don't want to have to write md - just write -
 another plus for etherpad e.g. urls; lists etc - would they all need to be correctly md formatted to work?

[2017-08-02 10:34] ctb commented on #418
So far I've been impressed with hackmd's interpretation of text -

- URLs just work
- lists seem to work ok, within the same limits of formatting as etherpad
- free text entry works as expected, i.e. type until you want a paragraph
  break and then hit enter to get a new paragraph.

Personally I've never seen the chat work out well in etherpad, and I vastly
prefer the notification and UI of slack,

[2017-08-02 15:53] tracykteal commented on #418
I think there a lot of different considerations, but we often don't know how things work until we try. It would be great if anyone was interested in trying this out for a one to two day workshop and reporting back on this thread how it worked.

I'm teaching a one-day workshop on Friday, so I'll try it and report back. I also tend to use the chat feature of the etherpad, so interested to see how it

[2017-08-03 21:52] twitwi opened #424 "WARNING: creating branches in this repository might break github import"
When we use github import, having multiple branches might cause problems (see https://github.com/swcarpentry/workshop-template/issues/376)

@jduckles should we merge your branch?
CC: @rgaiacs

[2017-08-03 21:54] jduckles commented on #424
Looks like it was merged, I deleted it.

[2017-08-03 21:55] twitwi commented on #424
Sorry, I didn't see it had been merged. Thanks for deleting it.

[2017-08-03 21:55] #424 closed, assigned to nobody

[2017-09-05 06:26] lixuekai2001 opened #425 "How to change the git bash default directory?"
After installing the Git Bash, the default directory is at C:\Program Files\Git\i.
However in this directory I cannot neither create new files by $winpty nano draft.txt, nor copy/paste the files by $ cp a.txt b.txt.
Does anyone have experience how to change the directory to the desktop?

[2017-09-05 08:44] rgaiacs commented on #425
@lixuekai2001 Thanks for this issue. Please see https://github.com/swcarpentry/windows-installer/issues/65. I'm migrating this to the previous link.

[2017-09-05 08:44] #425 closed, assigned to nobody

[2017-09-12 11:00] BinxiePeterson opened #427 "Add location of schedule.html in README.md"
Although I am not brand new to GitHub, I am still not very good at it. Nonetheless, using the workshop-template instructions, I was able to change the basic information easily but had trouble finding the schedule.html file to edit the schedule for an upcoming workshop. A sentence or two in the README.md file, indicate that this file is located in the _includes directory, will be very helpful.

[2017-09-12 12:09] rgaiacs commented on #427
@BinxiePeterson Thanks for the report. Do you want to send us a pull request to fix it? Otherwise , maybe @maneesha could work in a fix.

[2017-09-15 14:53] rgaiacs opened #429 "Add 'END' in Data Carpentry schedule"
Similar to #428. Need to edit https://github.com/swcarpentry/workshop-template/blob/gh-pages/_includes/dc/schedule.html.

[2017-09-15 14:53] rgaiacs opened #430 "Add 'END' in Data Carpentry schedule"
Similar to #428. Need to edit https://github.com/swcarpentry/workshop-template/blob/gh-pages/_includes/lc/schedule.html.

[2017-09-20 18:54] BinxiePeterson commented on #427
Hi Raniere,

To be honest, I still suck with github, otherwise I would have made tons of
contributions by now! I would be more than happy to send contributions via
e-mail, since I use the carpentry lessons frequently!

Thanks!

Bianca

On Tue, Sep 12, 2017 at 2:09 PM, Raniere Silva <notifications@github.com>
wrote:

[2017-09-21 07:23] rgaiacs commented on #427
If you need some help with GitHub I can help you over a videoconference.

I would prefer that you open issues for the contributions. I or someone can move it to pull request.

Thanks for your good work.

[2017-09-21 08:59] BinxiePeterson commented on #427
Thanks, I will first sit down and try it on my own before I bother you. :)

Bianca

On Thu, Sep 21, 2017 at 9:23 AM, Raniere Silva <notifications@github.com>
wrote:

[2017-09-26 09:59] #430 closed, assigned to nobody

[2017-11-15 20:23] MikeTrizna opened #437 "Change the download link for Python installers"
Continuum recently changed their name to Anaconda ([blog post here](https://www.anaconda.com/blog/company-blog/continuum-analytics-officially-becomes-anaconda/)), and changed their website to anaconda.com. The Python installer URLs currently point to continuum.io, which correctly redirects to anaconda.com, but they should be probably be updated to clear things up.

Let me know if you would like me

[2017-11-15 20:31] rgaiacs commented on #437
Hi Mike. Thanks for the issue. Pull request is welcome.
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-11-16 09:58] rgaiacs commented on #437
Fixed by #438.

[2017-11-16 09:58] #437 closed, assigned to nobody

[2017-11-17 17:38] bpteague opened #439 "import.github.com doesn't exist any longer"
The instructions for cloning the template repo have a link to http://import.github.com, which doesn't exist any longer.

Instead, as per https://help.github.com/articles/importing-a-repository-with-github-importer/ , one should log into Github and click the "+" at the top-right of the page, then select "Import repository."

[2017-11-17 22:36] ChristinaLK commented on #439
The old link worked for me -- although it did redirect to https://github.com/new/import.  We should probably replace links.

[2017-11-21 19:04] arokem commented on #399
The DC syllabus looks suspiciously similar to the Software Carpentry syllabus (I just noticed this, as I am putting together a website for a workshop that will have a `sc` track and a `dc` track.

[2017-11-23 08:27] #439 closed, assigned to nobody

[2017-11-23 08:27] rgaiacs commented on #439
@bpteague Thanks. This was fixed in 94f08bb.

[2017-11-23 08:28] rgaiacs commented on #427
Hi @BinxiePeterson, did you have any progress on this one?

[2017-11-24 07:45] BinxiePeterson commented on #427
@rgaiacs @maneesha apologies for the delay! I only learned about patches in github yesterday, so I could finally contribute! :) I Hope I did it correctly - please let me know!

[2017-11-24 08:32] rgaiacs commented on #427
This was fixed by #441.

No need for apologies. :-)

Awesome to hear it. We hope this would be the first pull request from many. And not only for our projects. :-)

You did! :100:  :sparkles: :sparkling_heart: :sparkles: Do you want to write a short blog post, three small paragraphs or 300 words, to https://software-carpentry.org/ about your experience? If yes, you can send it as a pull request to

[2017-11-24 08:32] #427 closed, assigned to nobody

[2017-11-26 00:41] abostroem opened #442 "Jekyll Installation Instructions"
I just tried to follow the Jekyll installation instructions running on Mac OS 10.12.6 (Sierra). The default version of Ruby (2.0) is not supported by Jekyll and doing gem update ruby didn't get me a more recent version. I had to do the following:

#Install Homebrew if you haven't
/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"

#Install rbenv
brew

[2017-11-27 08:58] rgaiacs opened #443 "Could not find document 'index.md'"
Based on @abostroem report

[code]

# Resolution

I don't remember why we are using `index.html` instead of `index.md`. Rename the file solve the problem and things looks OK.

[2017-11-27 09:00] #443 closed, assigned to nobody

[2017-11-27 10:26] rgaiacs opened #444 "Unbalanced divs"
At the end of the render instructions, we find `</div> </div> </div>`.

# Screenshot

![screenshot from 2017-11-27 10-23-38](https://user-images.githubusercontent.com/1506457/33262161-430bfe84-d35d-11e7-91d8-8a102cc034cf.png)

[2017-11-27 10:28] rgaiacs commented on #442
@abostroem Thanks very much for the report. I will try add it to the `README.md` when I'm back from holidays.

[2017-11-27 15:01] sheraaron opened #445 "Styling Path Issue"
Please delete the text below before submitting your contribution.

---
I am trying to create a workshop page and there is an issue with the path for styling.

Sher!

---

[2017-11-27 16:49] fmichonneau commented on #445
After helping @sheraaron, I identified it comes from: c22a633f4d74f3e9b621b5b1c082373c65e9322e

The paths listed in the header for `index.md` is set such that root is `.`, by removing this from `index` root becomes `..` (as defined in `_config.yml`) and therefore the paths for the JS/CSS are broken. This should be reverted/fixed soon, as all newly created workshop websites won't be styled correctl

[2017-11-27 16:50] fmichonneau opened #446 "update instructions in README"
the instructions in the README say that index.html needs to be edited, however, the file is now called `index.md`. The README needs to updated to reflect this.

[2017-11-27 21:36] rgaiacs commented on #446
494566b should fix this one.

[2017-11-27 21:36] #446 closed, assigned to nobody

[2017-11-27 21:37] rgaiacs commented on #445
424608f, d8aab54 and 1177fd4 should fix this.

[2017-11-27 21:37] #445 closed

[2017-11-28 00:24] rgaiacs commented on #444
This is probably the cause of

![screenshot from 2017-11-27 21-38-13](https://user-images.githubusercontent.com/1506457/33296267-7df056ec-d3d2-11e7-8545-c5071a64dd8e.png)

[2017-11-29 19:37] jbkieffer opened #448 "Contact field on template doesn't populate from email value in index.md"
I cloned the workshop template for an upcoming workshop on November 28 and customized it for the local details: https://github.com/jbkieffer/20171213-or-kulib and https://jbkieffer.github.io/20171213-or-kulib/

However, I can't get the Contact line (under "General Information") to populate from the email field in index.md. I see there have been recent commits standardizing the "email" and "contact

[2017-11-29 19:49] rgaiacs commented on #448
@jbkieffer Thanks for the issue. aec7b74 should fix this.

[2017-11-29 21:14] rgaiacs commented on #444
42c11de fixed this issue.

[2017-11-29 21:14] #444 closed, assigned to nobody

[2017-11-29 21:25] rgaiacs opened #449 "Page build failure"
I keep receiving

on my email. [My fork](https://github.com/rgaiacs/swc-workshop-template/commits/gh-pages) builds without problem. I contacted GitHub support querying for help.

[2017-11-30 19:56] rgaiacs opened #450 "Update video tutorials"
#447 will drop the need for Software Carpentry Installer. The Windows video tutorial introduced at #314 will be out of date so we need to (1) update the video or (2) remove the link to the video.

@sstevens2 do you have time to re-record the video showing who to install Git Bash on Windows? Thanks very much for your help!

[2017-12-01 10:25] rgaiacs commented on #449
Reply from GitHub Support team

[2017-12-01 10:41] rgaiacs commented on #449
0f8afa2 fixed the issue.

[2017-12-01 10:41] #449 closed, assigned to rgaiacs

[2017-12-06 14:11] josh-gree opened #451 "Why not Fork?"
Would be nice if there was some more explicit explanation as to why it is not advisable to fork the repo. The reason, I believe, is due to the inability to fork multiple times if multiple courses need to be run?!

[2017-12-06 16:31] ChristinaLK commented on #451
I think it used to be in the README and am not sure when it disappeared.

[2017-12-06 20:30] #396 closed, assigned to rgaiacs

[2017-12-06 20:32] rgaiacs commented on #451
@josh-gree You are right.

Could you send a pull request to fix it?

[2017-12-08 11:20] #429 closed, assigned to nobody

[2017-12-08 12:25] Peter-Wanden commented on #262
I have had this problem a number of times.

Running git 2.15.1.windows.2 on Windows 10 x64 v1709

Each time the problem was caused by a faulty index. To resolve I ran the following from the project directory:

rm .git/index

git reset

problem solved!

[2017-12-11 13:27] rgaiacs commented on #262
@Peter-Wanden Thanks for the suggestion. @swcarpentry/git-maintainers do you want to record @Peter-Wanden's suggestion somewhere easy to find?

[2017-12-17 19:51] rgaiacs opened #454 "Git and macOS"
As reported by Azalee Bostroem [here](http://lists.software-carpentry.org/pipermail/discuss/2017-December/005657.html):

Our instructions says

Maybe the error is related with https://github.com/timcharper/git_osx_installer/issues/101 (as mentioned in https://github.com/timcharper/git_osx_installer/issues/103).

[2017-12-17 22:48] aragilar commented on #454
I had a student run into this at a workshop last week. At some point previously, the student had installed the xcode command line tools (which contained the git that Apple packages), which worked fine for the workshop.

[2018-01-04 17:45] verdurin opened #456 "Shell reference link broken on syllabus page"
The link in the template for the reference materials for the `Shell` lesson points to:

https://swcarpentry.github.io/shell-novice/reference/

while the actual `Shell` reference page is at:

http://swcarpentry.github.io/shell-novice/reference.html

The latter is out of step with the other reference pages, which is presumably why the incorrect link was created.

[2018-01-05 12:12] rgaiacs commented on #456
@verdurin Thanks for the report. I have https://github.com/swcarpentry/workshop-template/pull/457 as a solution for it but it will might break a few other links.

@ErinBecker can you let me know if my pull request will break links for Data Carpentry lessons?

@weaverbel can you let me know if my pull request will break links for Library Carpentry lessons?

[2018-01-09 16:49] timcharper commented on #454
2.15.1 is released with HFS+ fs. Apple changed the default FS.

[2018-01-09 18:00] rgaiacs commented on #454
Thanks for the info.

To which versions of macOS this applies?

[2018-01-11 03:02] sstevens2 commented on #450
Sorry I'm late to this @rgaiacs but it seems like #447 isn't merged yet either.  I could actually probably re-record the video and edit it in the next couple weeks.

[2018-01-11 13:40] rgaiacs commented on #450
Thanks.

[2018-01-12 22:12] rgaiacs commented on #421
Please have a look at https://github.com/swcarpentry/workshop-template/pull/459.

[2018-01-14 18:16] ErinBecker commented on #456
@rgaiacs - I'm not sure. Maybe @tracykteal could weigh in on the Data Carpentry lesson links?

[2018-01-14 19:09] chendaniely opened #460 "Windows git installer now allows nano or notepad++ as default editor"
Just ran the 2.15.1.2 windows git installer.
It now gives you the ability to pick nano or, if installed, notepad++ as the default editor.

Might be better to do this instead of the swc windows installer?
Or at least update the instructions to have students check the nano option

[2018-01-15 10:49] rgaiacs commented on #460
Hi @chendaniely. Thanks for the issue.

This is being discussed at https://github.com/swcarpentry/workshop-template/pull/447. As per a email that I sent to the Maintainers, see http://lists.software-carpentry.org/pipermail/maintainers/2018-January/000429.html, we are planning to drop the swc windows installer as soon as we have a plan.

Can you help us with the plan? It would be great. :-)

[2018-01-15 10:50] rgaiacs commented on #460
I'm closing this issue to keep the conversation in one place. Any further comment please add to #447.

[2018-01-15 10:50] #460 closed, assigned to nobody

[2018-01-16 15:38] #448 closed, assigned to nobody

[2018-01-16 15:40] r4space commented on #442
For linux systems too, text about installing ruby-dev would also be helful

[2018-01-18 14:53] ChristinaLK commented on #456
It's not consistent, even across SWC lessons.  :(  @rgaiacs, is this because of updates to styles?  If so, maybe I (and/or @ErinBecker ?) can go through lessons and try to make sure everyone's up to date, or if not, there's a reason why?

[2018-01-18 16:31] rgaiacs commented on #456
I think this is related with https://github.com/swcarpentry/website/pull/943. I will apply the same solution.

[2018-01-18 16:38] #456 closed, assigned to nobody

[2018-01-23 09:44] glennmichaelmejias commented on #262
problem solved to me when I'm using the git gui

[2018-02-06 22:52] r-barnes opened #463 "Repo Naming"
The README says:

My account has _many_ repos, so organization is important to me. A name of the form `swc-YYYY-MM-DD-site` would be a much better option for me. Is this permissible?

[2018-02-06 23:14] maneesha commented on #463
I understand the motivation behind your suggestion, but the `YYYY-MM-DD-sitename`  format is also bound to some of our internal systems which use it for identifying workshops and reading your page's metadata so using a different format would break our systems.   Putting `swc` at the *end* of the slug would be OK, such as `YYYY-MM-DD-sitename-swc` although that's probably not useful in terms of ord

[2018-02-07 13:48] wikfeldt opened #464 "forward slash gives 404 error"
i had to remove a forward slash in the `Reference...` link in the Syllabus for the Unix Shell, since otherwise the page was not found

Diff:
[code]

[2018-02-07 13:54] wikfeldt commented on #464
seems to be connected to c3a09cec40c9c5b5a72abce7f186d105481a1c4c, where `.html` endings were removed. However when I duplicated the repository, lines like
`<li><a href="{{site.swc_pages}}/shell-novice/reference">Reference...</a></li>`
became
`<li><a href="{{site.swc_pages}}/shell-novice/reference/">Reference...</a></li>`

i.e. including forward slash at the end (which results in 404 error)

[2018-02-13 11:34] rgaiacs commented on #463
@r-barnes Thanks for the issue.

The use of `YYYY-MM-DD-site` is to be meaningful for visitors. For example, I taught three workshops at the same institution in three different years with different agenda. Using `YYYY-MM-DD-site` make easy for me to remember page is related with each workshop.

Are you sure about it? Last time that I check https://github.com/swcarpentry/amy I think that it didn't

[2018-02-13 17:08] #463 closed, assigned to nobody

[2018-02-15 15:46] marioa opened #465 "Template Reference link in Unix Shell material gives a 404"
For all automatically generated pages for the shell syllabus the `Reference...` reference link gives a 404.  In `_includes/sc/syllabus.html` If you remove the `/` in: `{{site.swc_pages}}/shell-novice/reference/` it works.

[code]

Have fixed in our local repository for https://marioa.github.io/2018-02-19-edinburgh/ but tried a couple of other courses that were doing the shell and they gave 404s. I

[2018-02-15 15:54] marioa opened #466 "The `_default_url` in `workshop-template/setup/swc-installation-test-2.py` gives a 404"
In `swc-installation-test-2.py` the `_default_url` in line 141, viz:

[code]

Points to a page that does not exist. It gives a 404.

[2018-02-15 15:56] marioa commented on #465
This is a duplicate of #464 - you can close.

[2018-02-15 16:10] rgaiacs commented on #466
@marioa Thanks for the report. I don't remember which page it should send the user to. :-(

This is one of the things that we don't know how many people are using and because of that is hard to make a decision to drop or keep it.

[2018-02-15 16:25] rgaiacs commented on #464
I fixed this in c3a09ce.

I don't have enough information to provide you with a good answer.

[code]

and pages where OK.

[code]

I'm closing this issue as resolved. Please follow up with me by [email](mailto:raniere@rgaiacs.com) on your specific case. On your email, please include the output of

[code]

and using another terminal

[code]

[2018-02-15 16:25] #464 closed, assigned to nobody

[2018-02-15 16:32] rgaiacs commented on #465
@marioa Thanks for the issue. Please see my comment at https://github.com/swcarpentry/workshop-template/issues/464#issuecomment-365980837.

[code]

[Your repository](https://github.com/marioa/2018-02-19-edinburgh/) has 1cde5a2 but none of the newer commits. c3a09ce is newer. You can run

[code]

to include c3a09ce on your repository. It might create some conflicts because you already solve the pro

[2018-02-15 16:32] #465 closed, assigned to nobody

[2018-02-18 17:00] marioa commented on #466
Point to this?

* https://github.com/swcarpentry/workshop-template/wiki/Configuration-Problems-and-Solutions

[2018-02-19 10:43] rgaiacs commented on #466
We can. But I don't think that was the page.

[2018-02-21 23:53] Jason-DNetto opened #467 "Windows user has a space in their username, Jupyter notebook crashes. potential workaround"
Just finished running a workshop and ran into a problem you might want to add a workaround for on the wiki page for the repo.

Two windows users in the workshop had spaces in their usernames and their jupyter notebook crashed regardless of how they installed anaconda (install for all users did not solve this)

The workaround i found for the issue was to open their windows command prompt as an admi

[2018-02-22 11:08] rgaiacs commented on #467
Hi @Jason-DNetto, Thanks for the report. I reported this upstream, see https://github.com/jupyter/notebook/issues/3362.

We keep this workaround in https://github.com/swcarpentry/workshop-template/wiki/Configuration-Problems-and-Solutions. Can you edit that page? If you can't someone will edit if for you.

[2018-02-22 22:46] Jason-DNetto commented on #467
I have edited the wiki page.
I was not expecting to have write permissions on that page.

[2018-02-23 10:06] rgaiacs commented on #467
@Jason-DNetto Thanks for the change on the wiki page.

Lets say that permissions on GitHub is funny.

I'm closing this for now since we did all that we could do: (1) problem was identify, (2) workaround was identify, (3) problem was reported upstream and (4) workaround was documented in the wiki.

[2018-02-23 10:06] #467 closed, assigned to nobody

[2018-02-23 10:27] ziyaadparker007 commented on #466
This seems to be working now. https://github.com/swcarpentry/workshop-template/wiki/Configuration-Problems-and-Solutions . This linked helped with the issue it seems.

[2018-02-23 10:30] ziyaadparker007 commented on #454
Version 10.11

[2018-02-24 17:21] snmishra opened #468 "assets/img/swc-icon-blue.svg has incorrect clip path"
Using clippath causes incorrect display on HiDPI displays in newer versions of Firefox. According to Firefox support, using clippath in that manner is incorrect. You can find the fixed SVG icon at https://snmishra.github.io/2018-03-22-nasa/assets/img/swc-icon-blue.svg . Should I send a PR?

[2018-02-24 17:48] fmichonneau commented on #468
PR: https://github.com/swcarpentry/workshop-template/pull/469

[2018-02-24 18:29] fmichonneau commented on #468
Thanks for the report @snmishra

We started to get reports about this issue https://github.com/swcarpentry/lesson-example/issues/171
and I created a script that automatically fixes this issue. I applied it to the images in this repository.

[2018-02-24 21:01] snmishra commented on #468
Thanks. I applied the PR to my workshop.

[2018-02-25 03:55] snmishra commented on #468
Thanks for the speedy resolution.

[2018-02-25 20:12] #468 closed, assigned to nobody

[2018-03-06 20:02] fmichonneau opened #470 "Links not rendered properly when using DC template"
In instructor training, it seems that something is off with the DC template: the links in the schedule are broken. I'll investigate later.

[2018-03-07 19:08] sheraaron opened #471 "Add to Carpentries User Guide"
During a Discussion today I was looking for this. Can we add this to the handbook for quick access?

[2018-03-08 11:07] rgaiacs commented on #471
@sheraaron can you provide links? I don't know where the Carpentries User Guide is.

If you are asking to add a link to this repository into the Carpentries User Guide, this is the wrong place to make the request. You should open the request on the Carpentries User Guide repository or mailing list or Slack channel or ... you got me.

[2018-03-08 15:26] maneesha commented on #471
@sheraaron  One step ahead of you!
http://docs.carpentries.org/topic_folders/hosts_instructors/hosts_instructors_checklist.html#instructor-checklist
and
http://docs.carpentries.org/topic_folders/workshop_administration/workshop_admin_workflow.html

@rgaiacs  We are developing a [Carpentries handbook](http://docs.carpentries.org/) that will be a go-to resource for questions just like this.  It hasn

[2018-03-08 15:26] #471 closed

[2018-03-20 20:44] #470 closed, assigned to fmichonneau

[2018-03-23 14:13] katrinleinweber commented on #466
Was ist maybe `{{ page.root }}/#setup`?

[2018-03-29 15:24] keithmoffat1 commented on #416
We had the same problem at a workshop today.  The instructions for installing anaconda on the SW carpentry website states:
"Open https://www.anaconda.com/download/#windows with your web browser.
Download the Python 3 installer for Windows.
Install Python 3 using all of the defaults for installation except make sure to check Make Anaconda the default Python."
However, there are two tick box options

[2018-03-29 15:31] olexandr-konovalov commented on #416
@keithmoffat1 thanks! This is the file where the instructions are located, in case someone may want to made a PR: https://github.com/swcarpentry/workshop-template/edit/gh-pages/index.md

[2018-04-05 19:47] maneesha opened #478 "Move to Carpentries organization?"
Since this template is being used for SWC, DC, and LC workshops can we move it to the Carpentries organization?

https://github.com/carpentries/

[2018-04-05 21:14] fmichonneau commented on #478
+1

[2018-04-08 20:45] rgaiacs commented on #478
@ErinBecker had mentioned something in the past to me about the migration of the repositories. I think we should migrate all the repositories at once, for example, https://github.com/swcarpentry/styles and https://github.com/swcarpentry/lesson-example should be migrate as well.

[2018-04-11 23:20] JasonJWilliamsNY opened #479 "Workshop setup instructions for SQL are incomplete for DC Ecology"
If I assume correctly this is now the master template for all Carpentries, the DC Ecology SQL lesson uses DB Browser for SQLite (http://sqlitebrowser.org/) so users at this workshop should be instructed to install pre-workshop.

[2018-04-12 09:44] rgaiacs commented on #479
You are correctly.

I'm aware of this and it is the main reason for https://github.com/swcarpentry/workshop-template/pull/459. I asked @fmichonneau to review it but he is busy with the bug barbecue.

[2018-04-23 06:26] anelda opened #480 "DC Intro still SWC words?"
The blurb for DC intro in the workshop template reads like it hasn't been changed from the SWC blurp - https://github.com/swcarpentry/workshop-template/blob/gh-pages/_includes/dc/intro.html

[2018-04-23 06:38] anelda commented on #480
Suggesting PR #481

[2018-04-23 09:51] rgaiacs commented on #480
I asked @tracykteal at the time of the commit (11 Apr 2017) to update the language. At that time Data Carpentry wasn't using the template so she didn't change it.

@anelda Thanks for bring this up.

[2018-04-23 20:51] arokem opened #482 "Link to github import should have `_target="blank"`"
Curiously, #476 doesn't seem to work. What am I missing?

[2018-04-24 13:05] fmichonneau commented on #482
It seems that GitHub doesn't allow this. They strip out the target element in the README file that appears on their website.

[2018-04-24 13:05] #482 closed, assigned to nobody

[2018-04-24 13:40] anenadic opened #483 "EventBrite iframe not showing in Chrome"
Error message: "Refused to display 'https://www.eventbrite.com/notavailable' in a frame because it set 'X-Frame-Options' to 'sameorigin'."

The reason for this is, that Google is sending an "X-Frame-Options: SAMEORIGIN" response header. This option prevents the browser from displaying iFrames that are not hosted on the same domain as the parent page.

Still works in Firefox.

[2018-04-24 21:28] ErinBecker commented on #480
Thanks @anelda and @rgaiacs for bringing up this issue. We have been recommending for Instructors to use the SWC template for all workshops and haven't been keeping the DC template updated. @tracykteal @fmichonneau - could you please update this conversation with information about the plan for officially retiring the DC workshop template?

[2018-04-24 21:32] fmichonneau commented on #480
The DC workshop template is now officially retired. The pull request submitted by @anelda (#481) looks good to me. I'll let @tracykteal merge if she approves the wording.

[2018-04-25 11:15] anenadic commented on #483
Hmm, the iframe started showing up alright now, not sure if my Chrome just went crazy for a while but @rgaiacs saw the error on my machine too so I am not crazy ;-).

[2018-04-25 21:21] ErinBecker commented on #480
Closed with #481

[2018-04-25 21:21] #480 closed, assigned to ErinBecker

[2018-04-25 21:22] ErinBecker commented on #412
Closing this issue based on discussion above.

[2018-04-25 21:22] #412 closed, assigned to maneesha

[2018-04-25 21:23] ErinBecker commented on #413
This has been integrated into the new surveys. All now use a drop down menu to ask about location and only ask demographic questions if the US is selected.

[2018-04-25 21:23] #413 closed, assigned to maneesha

[2018-04-25 21:23] #401 closed, assigned to nobody

[2018-04-27 09:51] gcapes commented on #451
You could link to the FAQ which answers this.
https://swcarpentry.github.io/workshop-template/faq/

[2018-05-01 18:53] JasonJWilliamsNY commented on #479
Also commenting that the setup instructions are not correct for the DC Genomics Workshops either. I don't have time to submit a PR and you should check with the @tracykteal and the maintainers but I think this page has a reasonable list of installs for the Genomics workshop:  https://jasonjwilliamsny.github.io/2018-06-22-cshl/ The schedule for genomics also needs updating, though I can't say mines

[2018-05-02 13:03] katrinleinweber commented on #454
What's the reason for not sending people to https://git-scm.com/download/mac as the 1st place to download Git? I know it redirects to https://sourceforge.net/projects/git-osx-installer/.

[2018-05-02 14:40] rgaiacs commented on #454
I think was to support old versions of OS X. But I'm not a OS X user so I can't confirm.

[2018-05-05 20:14] iglpdc commented on #454
Maybe we should change the default link (for recent macOS) to the link @katrinleinweber mentions, but keep redirecting people with old macs to the link in sourceforge.

[2018-05-06 10:17] katrinleinweber commented on #454
Here's one change suggestion: #485.

[2018-05-22 18:48] diyadas opened #489 "Add workshop title field to jumbotron div"
Since my group is organizing three Carpentry workshops this summer with different curricula - and advertising them simultaneously - there was some confusion with the workshop page not including a "title" field that would allow us to specify content (without requiring someone to scroll to read the syllabus). To avoid altering the venue and messing up the list on the Carpentry website, I created a n

[2018-05-23 08:28] rgaiacs commented on #489
I prefer to have

[code]

instead of

[code]

in `_includes/workshop_ad.html`. **The if-clause might need some change.**

I will leave to @maneesha to decide on this one.

[2018-05-23 18:05] jmjamison opened #490 "Windows Git-Bash"
"Ensure that the student has run the program mysys and not git-cmd - the latter will not open the bash emulator environment."

I've been testing the directions from my Windows 7 (64bit) system.

I'd suggest the students run bash from the Git-Bash desktop icon (works with no trouble)
Otherwise from the Start menu choose (essentially the same thing) Git-Bash.  I didn't see the mysys program.

Maybe

[2018-05-25 13:09] maneesha commented on #489
I'm fine either way for the venue appearing first and content second, or the other way around.
We just need to make sure the `page.venue` variable stays as it is used to build the workshop list on the SWC/DC websites and for other data tracking purposes.

In either case it should include the `if` clause as not everyone will use this field.

I'll leave it to the template maintainers to put in a fix

[2018-05-31 10:25] libcce opened #491 "Workshop sites disappearing"
I've found it frustrating when workshop pages are deleted and disappear. Can we include in the template workflow an option/instructions on how to save your site with Internet Archive http://archive.org/web/?

[2018-06-01 03:57] DamienIrving opened #492 "VM image"
At the bottom of the [index.md](https://github.com/swcarpentry/workshop-template/blob/gh-pages/index.md) file it talks about a VM image that can be downloaded, but the link is dead. Is that VM image still available?

cc @bschroeter

[2018-06-04 22:51] rgaiacs commented on #491
I know how frustrating this is but there is no way for us to enforce the pages to keep live. And with the new GDPR right to erasure/right to be forgotten it will be harder.

Pull request are welcome but I don't think that a lot of people will use it.

[2018-06-07 14:48] sstevens2 commented on #450
Hi @rgaiacs!  I remembered last week that I was supposed to do this..I probably won't get to it until after my thesis defense in Aug.  Maybe we should take the link down for now? or see if anyone else has the time?

[2018-06-07 15:54] rgaiacs commented on #450
Can you send a message to discuss mailing list to see if someone want to volunteer this? I suggest to add a timeline in the email. We have the videos until 25 June or we remove the link at the end of the month.

[2018-06-07 22:43] ErinBecker opened #493 "modularize setup / installation instructions based on workshop type"
This issue is based on feedback from @hlapp.

Currently, the information in the "Setup" section of the workshop website is dependent on whether `dc`, `lc`, or `swc` is selected in the `_config.yml` file (or possibly the `index.md` file?). However, within the group of "SWC" or "DC" workshops, there is a lot of variation in the tools that are covered and therefore in the setup requirements needed fr

[2018-06-08 14:58] rgaiacs commented on #493
Maintain the if-clauses for all the values that you suggested would be a nightmare. I had proposed https://github.com/swcarpentry/workshop-template/pull/459 and I need help from @ErinBecker and @fmichonneau to coordinate the migration.

[2018-06-12 15:57] fmichonneau commented on #478
the repositories have been transferred to the carpentries organization. I'm going to start the process of updating relevant links across our websites.

[2018-06-12 15:57] #478 closed, assigned to nobody

[2018-06-15 19:25] brownsarahm opened #494 "add helper info page for prep?"
in preparation for a workshop this week, I found myself sending the helpers (many of whom do not have formal Carpentries training) a bunch of common content to help prepare, so I added a [page to the workshop webpage](https://brownsarahm.github.io/2018-06-13-afog/helper/) with info and thought it might be useful to others.

if it is, I can clean it up and submit a PR, and more content that others

[2018-06-15 19:29] fmichonneau commented on #494
that seems like a good idea to me!

[2018-06-15 19:30] ErinBecker commented on #494
@karenword @ChristinaLK have been thinking about this with respect to the Instructor Training curriculum and may be able to share their thoughts / discussions on that topic.

[2018-06-18 13:34] ChristinaLK commented on #494
I like the idea of adding a cheatsheet to helpers -- this could also be information that goes in the handbook (?).

If this gets merged, I think we would want to add a note in the instructor training that there's a page on the workshop website for getting your helpers up to speed.

[2018-06-18 14:35] rgaiacs commented on #494
I think this would be added to the handbook.

[2018-06-18 17:15] brownsarahm commented on #494
My thought for this page was that it's more of an all-in-one starting place for helpers, than totally new information. The idea being that the carpentries have most of the information already written somewhere, but helpers may not have been oriented to where to find things, so this page helps do that.  Any general information, tips, that are not already in another place should be in the handbook a

[2018-06-19 19:16] ChristinaLK commented on #494
+1 to @brownsarahm
Most helpers don't know about the handbook -- having a link from their actual workshop website is somewhat more findable.

[2018-06-19 20:22] rgaiacs opened #495 "How to quit Vim instructions need to follow our recommendation"
![screenshot from 2018-06-19 21-18-56](https://user-images.githubusercontent.com/1506457/41622102-7c14cb08-7406-11e8-96db-8b576fd84d90.png)

The way that we describe which keys the user should press does not follow our recommendation, i.e., it uses simple code block instead of the HTML `<key>` tag.

# How to fix this

Replace `:!q` with `<kbd>:</kbd>+<kbd>!</kbd>+<kbd>Q</kbd>+<kbd>Return</kbd>`.

[2018-06-19 20:24] rgaiacs opened #496 "New labels needed"
![screenshot from 2018-06-19 21-24-21](https://user-images.githubusercontent.com/1506457/41622333-274774b2-7407-11e8-9f98-a78cc749acbb.png)

[2018-06-19 20:34] rgaiacs commented on #494
I don't have enough data about the communication between lead instructor or host to helpers so is hard for me to decide if we should add this page or not.

[2018-06-20 14:13] fmichonneau opened #498 "links for syllabus of library carpentry workshops are broken"
@libcce can you please take a look? they are using old versions of the lessons.
Check the _includes/lc/syllabus.html file

[2018-06-21 01:30] NickleDave opened #500 "broken links to customization and FAQ in README.md"
Hi, there's a couple of broken links in the README.md for this repo, specifically: https://swcarpentry.github.io/workshop-template/customization/ and https://swcarpentry.github.io/workshop-template/FAQ/.
I take it these got lost when the main site migrated to http://software-carpentry.org/ ?
Do they still exist somewhere? I searched the swc org page but couldn't find anything except many mentions

[2018-06-21 10:19] fmichonneau opened #501 "Data Carpentry syllabus need to be updated"
to include genomics and social sciences curricula.

[2018-06-21 11:03] fmichonneau commented on #496
new labels are now deployed!

[2018-06-21 11:03] #496 closed, assigned to fmichonneau

[2018-06-21 14:38] brownsarahm commented on #500
These are pages within the repository you're working on.

For example, for a workshop I recently did they render here: https://brownsarahm.github.io/2018-06-13-afog/customization/  and here: https://brownsarahm.github.io/2018-06-13-afog/faq/

However their rendering is also broken, that will take some looking into, but the content is in this repo (and it's copies) in the `_extras` folder.

[2018-06-21 15:04] NickleDave commented on #500
Thank you! Had a feeling they were in the repo somewhere, I see now.

Are people meant to be able to reach these pages from the gh-pages project site that's generated?
I would guess most people are reading the README.md from Github itself.
Maybe it would be easier to just have an internal link to `./_extras/customization.md` in the README?
Sorry if I'm totally failing to understand how it's suppos

[2018-06-25 15:43] tracykteal opened #504 "logo"
I just created a workshop for DC. The page is for DC, but the logo in the top left is SWC. Does something need to change to update the logo?

https://tracykteal.github.io/2018-06-26-BOSC/

Thanks for all the updates!

[2018-06-25 16:16] tracykteal opened #505 "'this is the workshop template' text"
The 'this is the workshop template... ' text isn't easy to find on index.md when editing the file. Could it go right under the YAML?

[2018-06-25 18:18] rgaiacs commented on #504
Documentation need to be fixed.

[2018-06-25 19:45] tracykteal opened #506 "links to surveys"
I don't think the links to the surveys are correct. Maybe they shouldn't have the 'site.' in the URL? @maneesha @fmichonneau could you check?

They're not working for me as is. Not sure if it's a general issue though.

[2018-06-25 19:57] fmichonneau commented on #506
the template expects different links for SWC (swc_{pre|post}_survey) and DC workshops (dc_{pre|post}_survey), but currently, `_config.yml` defines a single variable for pre and post survey (pre_survey and post_survey).

[2018-06-25 20:15] #504 closed, assigned to nobody

[2018-06-26 07:01] tracykteal commented on #504
It is in the documentation. I just skipped a step! So, closing.

[2018-06-26 14:59] fmichonneau opened #507 "remove workshop type from index.md YAML"
given that workshop type is defined in  `_config.yml` we probably don't need to redefine it in `index.md`

[2018-06-26 15:22] rgaiacs commented on #507
As far as I know, this will broke something in AMY because AMY is looking into `index.md`/`index.html`.

[2018-06-30 19:53] katrinleinweber commented on #418
@evamarik, me and a few others used it in the [1st Marburg Library Carpentry workshop](https://evamarik.github.io/2018-06-25-marburg/): https://hackmd.io/uwz3n3GDQjGGPhwUNsS93A?view

IMHO, it worked well and it just looks so much nicer than Etherpads. Also, a potential, subliminal Markdown learning opportunity ;-)

[2018-06-30 21:11] raynamharris commented on #418
Also, much easier to create a markdown archive of the notes taken and keep them in a central or distributed location.

[2018-07-03 15:11] maneesha opened #508 "fix survey links"
The survey links in `_config.yaml` are only for SWC surveys.  This should be fixed so that depending on workshop type, the appropriate survey appears on the page.

Data Carpentry pre:  https://www.surveymonkey.com/r/dcpreworkshopassessment?workshop_id=[workshop_id_value]
Data Carpentry post: https://www.surveymonkey.com/r/dcpostworkshopassessment?workshop_id=[workshop_id_value]

Can someone also v

[2018-07-11 19:08] remram44 commented on #506
This made our workshop site broken, please consider fixing this soon! The survey link section is marked as "DO NOT EDIT SURVEY LINKS" as well.

[2018-07-11 19:10] remram44 commented on #506
It seems that I need to change `swc_pre_survey` to `pre_survey` in `index.md`, please confirm so I can fix my site :wink:

[2018-07-11 19:14] remram44 commented on #508
See also #506

[2018-07-11 19:15] remram44 opened #509 "Fix the CI"
It seems that everyone is ignoring the CI right now, merging in big changes like #499 with no verification. This should be considered a high priority.

Having an up-to-date style on the workshop page is nice, but should be secondary to having those sites functional. As you know, getting your fixes to the sites once they have been forked off is difficult.

[2018-07-12 04:56] #506 closed, assigned to nobody

[2018-07-12 04:58] fmichonneau commented on #506
@remram44 the easiest for you is to rename `pre_survey` and `post_survey` to `swc_pre_survey` and `swc_post_survey` in  `_config.yml`. That should be the only things that need to be updated.

[2018-07-12 04:59] fmichonneau commented on #508
duplicate of #506.

[2018-07-12 04:59] #508 closed, assigned to nobody

[2018-07-12 05:27] fmichonneau opened #511 "add LC survey links"
lc pre: https://www.surveymonkey.com/r/lcpreworkshopsurvey?workshop_id=[workshop_id_value]
lc post:  https://www.surveymonkey.com/r/lcpostworkshopsurvey?workshop_id=[workshop_id_value]

[2018-07-12 08:44] r-lange opened #512 "git bash installation instruction out of date?"
Hi,

I've realised that the installation instructions for git-bash are not in line with the actual installer.
I have updated that on my upcoming workshop page https://curtinic.github.io/2018-07-16-curtin/

I can submit a pull request with updated instructions if you want.

- Rebecca

[2018-07-12 12:14] rgaiacs commented on #512
Hi Rebecca,

Thanks for the issue.

@fmichonneau is working to update the installation instructions since we will retire the Software Carpentry installer.

[2018-07-17 07:44] anenadic commented on #507
Most people creating websites are not even aware that they have to modify _config.yml. Looks like one of the variables is used to define the look and feel of the website (swc, dc, lc) and the other one is used by AMY to determine the workshop type (swc, dc, lc). We also seem to have 'ttt' for instructor training-template which use is not really defined and is currently being investigated if it mea

[2018-07-17 08:15] anenadic opened #513 "Remove variable "title" from _config.yml or not use site.title in certain pages"
Most people creating websites are not aware that they have to modify _config.yml and set this variable. In which case the end website does not look good when one clicks on, e.g., "Code of Conduct" or "Licence" tab. Even if this variable is set - it makes the title of "Code of Conduct", "Licence" and such pages too long. See attached pics.

I do not think this variable is adding much in terms of lo

[2018-07-17 08:52] anenadic commented on #513
If this suggestion is accepted, the same thing needs fixing in training-template too.

[2018-07-17 09:11] rgaiacs commented on #513
@anenadic Thanks for the issue. The problem here is that we are using the same template for lessons and workshops. :-/

It does for lessons.

It is not used by AMY.

[2018-07-17 18:05] marwahaha opened #515 "Update Git for Windows install instructions"
referred from https://github.com/carpentries/styles/issues/331#issuecomment-405648467
Sorry if this isn't the right place!

For the latest windows Git for Windows installer, there's a command asking you for the "default" text editor. It sometimes confuses the learners, but we should add these in the Bash shell Windows instructions on the website. I think we should recommend the "Nano" option.

Tho

[2018-07-17 21:13] fmichonneau commented on #507
AMY gets the info from here: https://github.com/carpentries/styles/blob/gh-pages/_layouts/workshop.html#L7-L19

so it means we could easily move all the variable definitions to _config.yml.

Before implementing this, we need to identify all the places where configuration options are documented to make sure the docs get updated. We'll also need to leave a comment at the top of index.html to let peo

[2018-07-18 08:29] rgaiacs commented on #507
Can we use `_data` folder instead of add more stuff to `_config.yml`? See https://jekyllrb.com/docs/datafiles/ for reference.

[2018-07-19 19:34] maneesha commented on #511
Just talked with @libcce who says he can take care of this.  We should get these fixed asap - otherwise we have pages that are being built without surveys in place.

[2018-07-20 07:52] pellegrino1 commented on #515
Hello , used instructions provided but error when trying to open python from git bash .

![2018-07-20_095053](https://user-images.githubusercontent.com/41466827/42990271-88a2f7f0-8c02-11e8-941e-db48770aa02b.jpg)

problem solved with help of a friend , turned out bash dont read path or something

[2018-07-20 13:49] #511 closed, assigned to libcce, fmichonneau

[2018-07-20 14:14] fmichonneau opened #518 ".travis.yml script appears broken"
see https://travis-ci.com/carpentries/workshop-template/jobs/135588263

[2018-07-31 20:38] jcoliver commented on #479
Same goes for Library Carpentry workshops, which use DB Browser.

[2018-07-31 21:56] jcoliver opened #520 "Link to Windows Installer in setup section does not work"
It looks like site.swc_installer is missing, as the link in the setup section of index.html referring to the Windows Installer ends up being self-referential. Related to (same as?) #343 / #350 ?

[2018-08-03 17:54] jcoliver commented on #512
Even a brief note as placeholder in the installation instructions (i.e. "the steps may be slightly different with more recent versions of Git for Windows") would be great to have in the meantime. It would be nice to provide users some advance notice before they are faced with unexpected prompts.

Also, I think @r-lange 's comment is referring to the Git-bash installer, _not_ the Software Carpentry

[2018-08-06 02:28] r-lange commented on #512
Yes, I was talking about the instructions for git-bash and the actual git-bash installer.
A note in the instructions would be great. I found that for the things that are out of order with the instructions people should use the default anyway. So maybe in the installation instructions we should highlight the parts that **do need changing**.

[2018-08-06 14:15] tracykteal commented on #512
Thanks @r-lange. Yes, it's very important to have these instructions correct. We have retired the Software Carpentry Windows installer, so the Git for Windows is the one we're using. I just put in a PR to remove reference to the SWC installer in the text editor section. https://github.com/carpentries/workshop-template/pull/521

If you could put in a PR for updating the Git for Windows install inst

[2018-08-09 18:59] tracykteal commented on #520
Is this in the text editor section? If so, I have a PR in to remove that reference, as Git for Windows now includes nano, so there's no need for the SWC installer.
https://github.com/carpentries/workshop-template/pull/521

[2018-08-09 20:19] jcoliver commented on #520
Ha! It _used_ to be in the nano section, but since the SWC installer was removed, it looks like the template has been changed. So no additional change appears necessary. w00t.

[2018-08-09 20:19] #520 closed, assigned to nobody

[2018-08-09 21:20] tracykteal commented on #520
Great! Thanks for filing the issue.

[2018-08-09 22:21] tmorrell commented on #515
@marwahaha the nano default has been added to the installation instructions.  @pellegrino1 the best recommendation I've seen is to run python from anaconda prompt, which has the right path.  Alternate is to modify the path as described in https://github.com/carpentries/workshop-template/wiki/Configuration-Problems-and-Solutions

[2018-08-09 22:22] tmorrell commented on #512
The template has been updated with the new installation instructions.  Leave a comment if you see any problems though.

[2018-08-10 03:26] norcalbiostat opened #526 "Incorrect link to SW Carpentry installer in syllabus"
The link goes back to the syllabus page instead of  http://files.software-carpentry.org/SWCarpentryInstaller.exe
(this URL was found via google from a UC Berkeley. Hoping it's correct)

[2018-08-14 10:14] orchid00 opened #528 "Open link in a new tab"
I suggest all link tags open in a new tab

`<a href="URL" target="_blank">`

[2018-08-14 10:36] rgaiacs commented on #528
Can you explain the reasoning for this? Users can open the link in a new tab if the want using CTRL + click.

[2018-08-15 12:52] orchid00 commented on #528
I don't think all users know CTRL + click.
reasoning: trying to make it easier for users

[2018-08-15 13:08] rgaiacs commented on #528
Do you have some data to back you up?

[2018-09-03 06:50] brownsarahm opened #531 "name of openrefine file"
for windows, the filename is openrefine, not google refine

[2018-09-06 23:07] rbavery opened #532 "Schedule and Syllabus do not render on workshop template"
After following these instructions `https://carpentries.github.io/workshop-template/customization/` for setting up this website `https://rbavery.github.io/2018-10-25-odu/` I cycled back to check to see if the underlying issue was with the template and it appears so: http://carpentries.github.io/workshop-template/

The template does not render the example schedule and syllabus. Not sure why. I foll

[2018-09-07 01:22] raynamharris commented on #532
It does need to be "swc" not "sc".

Also, check which branch you pushed to. Sometimes I push to a branch that is not `gh-pages` and then you don't see the updates.

[2018-09-07 03:46] rbavery commented on #532
Thanks for the tip. Double checked and I definitely pushed to `gh-pages`. also it looks like http://carpentries.github.io/workshop-template/ does not render the schedule or syllabus, does this mean that the problem lies with the template? It looks like the template page should render this but it doesn't https://github.com/carpentries/workshop-template/blob/gh-pages/_includes/sc/schedule.html

[2018-09-07 11:28] fmichonneau commented on #532
Hi @rbavery I created a PR on your repo to fix a typo (as pointed out by Rayna).

The syllabus doesn't render on the website because the workshop type is not set, and it needs to be so we know which syllabus/schedule to display (Data carpentry, SWC, or Library Carpentry).

[2018-09-07 11:28] #532 closed, assigned to nobody

[2018-09-10 04:32] rbavery commented on #532
Ah, thanks both of you. At one point I had "sc" as the type, I must not have waited long enough for it to gh-pages to render. Both items now appear.

[2018-09-11 16:24] gwest4 commented on #262
I'm also having this issue.
`Git 2.18.0.windows.1`
`Windows 10 Pro, version 1803, build 17134.228`

Every command I try results in segfault. It only happens when running directly from `C:\Program Files\Git\bin\bash.exe`. Running from `C:\Program Files\Git\git-bash.exe` behaves normally.

I've also tried
* Running as Administrator
* Re-installing Git For Windows
* Installing a different version of

[2018-09-13 00:24] tracykteal commented on #262
Thanks @gwest4. Is this in the context of a Software or Data Carpentry workshop?

[2018-09-13 15:39] gwest4 commented on #262
No, sorry! Just general use. However, this seems to be the only thread I can find that seems to describe my issue.

[2018-09-18 14:01] abruestle commented on #262
@qwest4 I have the same problem, for the same reason... I've tried a few versions, including 2.13.2.windows.1 as mentioned earlier by YuriySam as working. If you find any solutions, please tell me.

[2018-09-18 16:30] danmichaelo opened #535 "Idea: Split setup instructions into one file per lesson"
The setup instructions makes the index.md quite long and cumbersome to work with. What do you think about extracting the setup instructions into one file per lesson? Has this been discussed before? I could make a PR, but thought it'd be a good idea to discuss first. I imagine the setup instructions in index.md could look something like this:

[code]

[2018-09-18 16:53] danmichaelo commented on #408
Should we try moving forward with this? I just created #535, but it seems to be more or less the same idea as discussed here, so I'm closing that issue in favour of this.

I generally agree with the latest proposal by @rgaiacs.

[2018-09-18 16:53] danmichaelo commented on #535
Closing in favour of #408

[2018-09-18 16:53] #535 closed, assigned to nobody

[2018-09-23 14:16] fmichonneau opened #537 "Create jekyll build failure if slug isn't formatted as YYYY-MM-DD-site-name"

[2018-09-23 20:44] rgaiacs commented on #537
@fmichonneau Can you provide more details? What is the error log?

[2018-09-24 15:45] gwest4 commented on #262
@abruestle, I was able to find a solution! git-for-windows/git#1291

[2018-09-24 16:05] tracykteal commented on #262
Thanks for the updates around workshops. Glad you were able to use this thread to help find and communicate about a solution though!

[2018-10-03 20:16] pdoehle opened #538 "Jekyll not picking the correct icon"
When using the workshop template, we set up our website for a Data Carpentry website using "dc" in index.md, but the upper-left-hand corner still has the Software Carpentry icon:

![image](https://user-images.githubusercontent.com/11758603/46434681-ee3ec100-c719-11e8-9931-973b55b08981.png)

My guess is the Jekyll `elsif` statement in `_includes/navbar.html` is not picking the correct icon. Not bei

[2018-10-03 22:49] brownsarahm commented on #538
try changing it in _config.yml

[2018-10-04 00:43] brownsarahm commented on #507
issue #538 might be related to this.

[2018-10-09 17:13] sdruskat opened #540 "Rename the "Contact" link text to "Contact The Carpentries""
The *Contact* link at the bottom of the index page links to `mailto:team@thecarpentries.org`. This is potentially confusing for users who'd like to get in touch with the (local) organizers of the workshop. I'd suggest to change the link text to "Contact The Carpentries".

[2018-10-10 08:45] #540 closed, assigned to nobody

[2018-10-16 15:29] danmichaelo opened #543 "What to do with the SQLite installation instructions for Windows?"
AFAICS from #447, the swc windows installer has been killed off. But the SQLite installation instructions seems to have been left unchanged until the link was changed in #542. The text was not changed however, so it now reads:

"The [Software Carpentry Windows Installer](https://www.sqlite.org/download.html) installs SQLite"

If you follow the link, you get to the right download page, but there's

[2018-10-29 20:39] malvikasharan opened #546 "Mentioning the language in which the course will be taught"
It would be useful to add a 'language of the workshop' to the workshop page. For my next SwC course, I had to specify the language as it is being offered in Argentina in English and I wanted to avoid any confusion: https://malvikasharan.github.io/2018-12-05-quilmes/. I am hoping that with the course materials being translated into different languages, it will become an important feature.

[2018-10-30 05:56] tracykteal commented on #531
Addressed in https://github.com/carpentries/workshop-template/pull/545. Closing here. Thanks @brownsarahm for the issue.

[2018-10-30 05:56] #531 closed, assigned to nobody

[2018-10-30 14:31] raynamharris commented on #546
Wow! That's practically only 1 month away! I was speaking with some maintainers the other day about translating the https://datacarpentry.org/python-ecology-lesson/ lesson, but we haven't started. Have you started translating python materials? We make it a last minute community effort for November to get things translated for you.

[2018-10-30 14:33] raynamharris commented on #546
You can also use this template so that all the text is in Spanish https://carpentries.github.io/workshop-template-es/

[2018-10-30 15:23] malvikasharan commented on #546
Thanks Rayna. We will be offering the course in English, but hoping that the future trainers will be able to offer the course in Spanish in the future. I will share this template with them. However, I was mentioning the confusion it may cause when organizing courses in the different language in the future (specifically if the language is assumed to be different from intended).

[2018-10-31 04:32] falconrr opened #547 "Suggesting new info on What are dataframes?"
I would like to propose the inclusion of new info on Lesson 3 of Data Analysis and Visualization in R for Ecologists. More specifically, on the section 'What are data frames?', I propose to include a contrasting graphic that represents common mistakes for representing what is "not" a dataframe. For instance, data structures with double data types in the same vector (i.e. an integer with a characte

[2018-10-31 04:45] tracykteal commented on #547
Thanks @falconrr for the issue. This would be best on the Data Carpentry R Ecology lesson, so we can keep track of it there. Could you close this issue here and open one on the R lesson repository? https://github.com/datacarpentry/R-ecology-lesson

Thanks so much for your contribution!

[2018-11-01 11:34] yyynnn commented on #262
Another way for VSCode users:
add args "--login", "-i"
https://stackoverflow.com/questions/50326422/vscode-terminal-windows-git-bash-aliases-getting-ignored

[2018-11-01 19:28] falconrr commented on #547
Sure, thanks.

[2018-11-01 19:28] #547 closed, assigned to nobody

[2018-11-05 07:11] lexnederbragt opened #548 ""large-print handouts are available if needed""
In `index.md` it is written "large-print handouts are available if needed". So far I have not been able to find them. On Slack it was suggested to use Chrome for printing with increased size.

We should either make it clear where the large-print handouts are, or how an instructor can create them.

[2018-11-07 15:41] sstevens2 commented on #538
I came across this issue as well when setting up my workshop websites.  I changed it in `_config.yml` and now it doesn't show an icon at all.

[2018-11-07 16:43] fmichonneau commented on #538
@sstevens2 do you have a repo I can look at to try to identify the issue?

[2018-11-08 18:58] sstevens2 commented on #538
@fmichonneau It seems to be fine now.  I think maybe gh-pages was just being especially slow to render changes?  It was weird because it updated my changes to the install sections, which were committed after changing the `_config.yml` to `dc`.  Maybe it was using the cached icon or something?

[2018-11-08 18:59] sstevens2 commented on #538
@fmichonneau
Here is the [repo](https://github.com/UW-Madison-DataScience/2019-01-16-uwmadison-dc)
and [website](https://uw-madison-datascience.github.io/2019-01-16-uwmadison-dc/)

Sorry for the earlier deleted reply. I was looking at an old workshop website that did have the icon working.

[2018-11-08 19:02] sstevens2 commented on #538
@fmichonneau So sorry this was probably me.  I inverted `dc` :embarrassed:

[2018-11-08 19:04] fmichonneau commented on #538
no problem!

[2018-11-08 19:04] #538 closed, assigned to nobody

[2018-11-08 20:54] sstevens2 commented on #501
It also should probably have a spreadsheets section for DC Ecology as well.

[2018-11-08 21:20] sstevens2 opened #551 "DC Install section doesn't include spreadsheets"
While I expect most people have a spreadsheet program installed, we usually like to be explicit about these things.  It is needed in the DC ecology workshop and I think some other DC workshops as well. Below is a copy of the old text and a link to an old workshop website where it was used.

Also git is included in the DC syllabus but it is in any DC workshops?

https://uw-madison-aci.github.io/201

[2018-11-09 17:36] symulation opened #552 "schedule import is broken"
There seems to be a bug in the recent version of the template that is preventing the schedule from showing.  For example, the lines in index.md that currently read:

`{% elsif page.carpentry == "dc" %}`
`  {% include dc/schedule.html %}`

should read something like this

`{% elsif page.carpentry == "dc" %}`
`  {% include _includes/dc/schedule.html %}`

Same for the other carpentries as well.

Addi

[2018-11-09 17:43] symulation commented on #552
I take back the inaccurate comment and remove it from the title.

[2018-11-09 17:45] symulation commented on #552
I take it all back.  I have another problem.  Will require more digging.

[2018-11-09 17:45] #552 closed, assigned to nobody

[2018-11-11 09:16] #416 closed, assigned to nobody

[2018-11-11 09:23] rgaiacs commented on #546
@ocefpaf did work in a version of the workshop template in Portuguese.

[2018-11-11 09:39] rgaiacs opened #554 "site.github.repository_url vs repo_url"
@fmichonneau can you merge https://github.com/carpentries/styles/commit/d32a598f5ee2ff3d6f08c921a7ad35300e7181b2 into this repository? Thanks!

[2018-11-16 00:19] ErinBecker commented on #551
Thanks for this issue @sstevens2. I'm adding @fmichonneau to the thread, as he is managing all of the templates.

[2018-11-16 17:19] fmichonneau commented on #551
The current syllabus for Data Carpentry (and the technical approach) is out of date. We need to scope this out as a project and find a way to include syllabi for all the various DC workshops (ecology, genomics, geospatial, social sciences, ...)

[2018-11-20 11:14] gcapes commented on #512
I just noticed that I don't understand the reasoning for 3, in the Windows Bash installation instructions:

Which programs don't work correctly?

I recommend selecting "Use Git from Git Bash only". This doesn't seem to pose any problems, and would avoid learners accidentally getting into a DOS prompt, using git from the DOS prompt, but none of their Bash commands are recognised.
Related to this -

[2018-11-20 20:29] tthoma24 commented on #518
For the Python 3.2 build, the issue is Cython (see line 467 of https://travis-ci.com/carpentries/workshop-template/jobs/135588259)
#error Cython requires Python 2.6+ or Python 3.3+.

For Python 3.3 and 3.4, it's some kind of issue with the syntax for awk (See line 438 https://travis-ci.com/carpentries/workshop-template/jobs/135588263)

[2018-11-29 18:36] fmichonneau opened #561 "update script to use bbedit"
Following #558 it seems that the script testing for the installation needs to be fixed:

https://github.com/carpentries/workshop-template/blob/d5326b462be2af621db58f1308d36f082a971550/setup/swc-installation-test-2.py#L193

[2018-11-30 13:57] mehimself opened #562 "add variable in workshop template header to not render "this is a template""
there is a big risk for new workshop pages to still render the "this is a template" notice. Could a variable be added in the head of index.md to distinguish between a template and a real workshop webpage?

[2018-11-30 14:02] mehimself commented on #562
#header
[code]
#line 22ish
[code]

[2018-11-30 14:13] rgaiacs commented on #562
I will leave to @maneesha to decide on this.

[2018-12-04 16:13] butterflyology opened #564 "Clarification for Instructor Notes"
I think this statement could be clarified a bit:

`Some High Sierra (10.13.4) machines require the download of Xcode from the App Store. The download, which is available, is 5.25 GB, so this should be done prior to the lesson.`

If the learner needs a program like`git` and does not have it, they do not need to install the complete XCode program. An XCode install contains the required `Command Line

[2018-12-05 10:53] psteinb opened #565 "image width and height"
I am just wondering how to correctly include images in the markdown for episodes. I figured that the usual

[code]
includes the image as such without offering the capability to control the width. Do we have infrastructure in place, so that things as suggested [here](https://dev-notes.eu/2016/01/images-in-kramdown-jekyll/) would work? At the end of the day, I'd rather fit the figure of interest to

[2018-12-05 11:03] rgaiacs commented on #565
@fmichonneau Could you move this issue to https://github.com/carpentries/styles/ ? Thanks.

@psteinb Thanks for the issue. You could use something like

[code]

We are using [Bootstrap](https://getbootstrap.com/docs/3.3/) and any `image` class they provide can be used, see https://getbootstrap.com/docs/3.3/css/#images. We **not** encourage people to use include classes or width or height because i

[2018-12-10 19:10] maneesha commented on #562
This was set up so that when people created their test pages (like as part of instructor training) it would easily differentiate that from an actual workshop website.  Since all pages are public, I don't want someone accidentally finding a sample page and thinking it refers to a real event.

I'm open to any other way of making the test page clearly look like a test page.

[2018-12-10 19:27] maneesha opened #569 "Remove "instructor training" option from Carpentry type"
The [_config.yml](https://github.com/carpentries/workshop-template/blob/gh-pages/_config.yml) file notes the following options:

[code]

Can we remove the "instructor training" as an example of when to use `cp`?
Instructor training has its own [template](https://github.com/carpentries/training-template) and I think this will cause confusion.

[2018-12-10 22:45] fmichonneau commented on #569
that's a good point. The problem is that this text is used by both repositories (the one for regular workshops and for instructor trainings) because both repositories depend on the `styles` repository.

[2018-12-10 23:33] maneesha commented on #569
OK then -- Maybe include a comment in this repo & the instructor training repo to be sure the right template is being used?   We have had people confuse them so I want to clear this up.

[2018-12-11 12:16] #554 closed, assigned to fmichonneau

[2018-12-17 17:07] rgaiacs opened #572 "Togglable tabs for installation instructions"
Use https://getbootstrap.com/docs/3.3/javascript/#tabs to make instructions visible to user OS.

[2018-12-19 09:23] katrinleinweber commented on #572
Could this also be useful for inlcuding domain-specific example datasets within lessons?

[2018-12-19 10:03] rgaiacs commented on #572
Yes.

[2018-12-20 20:45] katrinleinweber commented on #564
Should I add something about this to #485? Please also see the discussion in #454.

[2019-01-11 00:38] brownsarahm opened #575 "Java Prereq for openrefine"
a learner today had to install java and pointed out that java is not a listed prequisite on the setup instructions.  In the (DC-SS) openrefine lesson, it does mention that java is required on that setup page, but that assumes this was followed already, so it's a little confusing

[2019-01-11 00:46] brownsarahm opened #576 "Possible conflict with definition of laptop not a tablet// Microsoft Surface"
We had a learner in a workshop today who could not get openrefine to work on his MS surface, which he insisted was a PC not a tablet.  The host site has loaner laptops ready & available and he used that so we didn't dig in too far to ensure that it wasn't an easily fixable problem.

When he tried to run openrefine it opened and immediately closed the terminal window and the server was not accessib

[2019-01-11 09:42] rgaiacs commented on #576
@brownsarahm Thanks for the issue. Do you know what version of Surface the learner has? https://support.microsoft.com/en-gb/help/2858199/surface-supported-operating-systems has a list of devices and the OS running on it.

I found https://github.com/OpenRefine/OpenRefine/issues/1441 and I don't know if this was the issue. Could you invite the learners to comment on this issue? Or send the email to

[2019-01-11 09:52] rgaiacs commented on #575
This is true. I understand the learner frustration. What OS is the learner using?

I would say that we already do a great job by listing the dependencies that we are going to use in the workshop. Make the list more complete will scare learners and add extra work for us. For example, [Chrome depends](https://packages.debian.org/stretch/chromium) on ALSA, FFmpeg, Cairo and other libraries. And [Fire

[2019-01-11 14:08] brownsarahm commented on #575
the learner was using a microsoft surface pro (which might be testing the line of tablet/laptop a little more than should be as well...)

[2019-01-11 15:00] katrinleinweber commented on #576
Could it have been a [Win10 "Team" edition](https://en.wikipedia.org/wiki/Windows_10_editions#Device-specific_editions)? Unlikely, I think but adding it here for completeness sake. Also: 1 older Surface problem: https://github.com/swcarpentry/sql-novice-survey/issues/124#issuecomment-262844312.

[2019-01-11 17:07] ha0ye commented on #501
I just noticed this myself, in that the `dc/syllabus.html` refers to the outlines and links to SWC lessons. I can put in a PR for this, since I'm already here.

[2019-01-11 17:14] ha0ye commented on #513
I also think it looks a bit awkward when the title isn't used in `workshop_ad.html`, with the result that the largest font at the top of the page is for the name of the venue rather than the name of the workshop event.

[2019-01-11 17:15] ha0ye commented on #513
@rgaiacs I think this should be switchable though, given that `_config.yml` has a `kind` variable to indicate whether it's a workshop or lesson.

[2019-01-23 15:42] SamStudio8 commented on #489
The workshop title on the front page would be nice, I see this has been assigned but not closed, shall I submit a PR? [My implementation rendered](https://samstudio8.github.io/2018-01-23-samstudio8/)

[2019-01-29 14:22] #399 closed, assigned to nobody

[2019-01-29 15:08] fmichonneau commented on #501
fixed with #578

[2019-01-29 15:08] #501 closed, assigned to nobody

[2019-02-04 21:11] ha0ye opened #579 "Code of Conduct link is broken (outdated?)"
Line 134 of `index.md` has:
[code]
which gets turned into https://software-carpentry.org/conduct.html, which is currently a dead link.

Should this get fixed with a hard link to https://docs.carpentries.org/topic_folders/policies/code-of-conduct.html ?

[2019-02-05 09:35] katrinleinweber commented on #579
The [`styles` repo](https://github.com/carpentries/styles/search?q=%22Code+of+Conduct%22&unscoped_q=%22Code+of+Conduct%22) has been updated with new CoC links. I'm not entirely sure whether those will trickle down into this repo, but I hope it provides two useful examples in case the link has to be update here as well.

[2019-02-06 12:17] fmichonneau commented on #562
Thanks for the suggestion @mehimself. This is here to make sure people setting up their workshop website will customize the content appropriately.

[2019-02-06 12:17] #562 closed, assigned to maneesha

[2019-02-06 13:01] #579 closed, assigned to fmichonneau

[2019-02-08 14:02] mdehollander opened #582 "Split latlng in front-matter into latitude and longitude"
Now the latlng field in the front-matter of `index.md` contains latitude and longitude separated by a comma. Would it be possible to use a single field for latitude and another one for longitude? Then it would be easier to integrate with GeoCoordinates from schema.org: https://schema.org/GeoCoordinates

[2019-02-08 16:27] rgaiacs commented on #582
@mdehollander Thanks for the issue. I prefer to have latitude and longitude as separate fields.

@pbanaszkiewicz Do this change will break things in AMY. What is the best way to coordinate this? Can AMY support both formats in next release?

[2019-02-08 16:46] pbanaszkiewicz commented on #582
@rgaiacs @mdehollander in this case changes in AMY are required, but they're not big. AMY would have to support both formats, and validate them. It's possible for v2.6 release (February/March).

[2019-02-08 16:48] mdehollander commented on #582
Great, would be nice to have that implemented.

[2019-02-09 09:39] katrinleinweber commented on #582
In which cases do we really need the geo-coordinates? Can we maybe simplify our template & AMY by constructing the map links with `address` and/or `venue`?

I just tried it with `https://www.google.com/maps/place/{{page.address}}` & `https://www.openstreetmap.org/search/?query={{page.address}}` and both worked fine.

[2019-02-09 18:15] pbanaszkiewicz commented on #582
@katrinleinweber it's easier to find workshop staff candidates in event's proximity when we have the geo coordinates (and we have that feature in AMY).

Google sometimes has problems with localizing venue by name or address.

[2019-02-11 07:34] tthoma24 commented on #561
I made a PR that should do this, #583

[2019-02-11 13:44] fmichonneau opened #584 "Update SQL setup instructions"
following datacarpentry/sql-ecology-lesson#245, we need to require SQLbrowserlite >= 3.11.0

[2019-02-13 21:28] tthoma24 commented on #561
#583 was merged. This can be closed.

[2019-02-14 18:03] #561 closed, assigned to rgaiacs

[2019-02-15 19:12] brownsarahm commented on #576
I just realized I never replied to this. The learner was able to get it to run after a second reboot, so we'll never know what was wrong.

[2019-02-15 19:21] brownsarahm opened #585 "Etherpad url outdated in instructions to create one"
They still work, but I don't know if the forwarding from pad.software-carpentry.org to https://pad.carpentries.org could end.

[2019-02-18 23:27] angela-li opened #587 "Link to README in instructor checklist broken"
If you go to the readthedocs [instructor checklist page](https://docs.carpentries.org/topic_folders/hosts_instructors/hosts_instructors_checklist.html#instructor-checklist), and try to click on the README link in "Detailed instructions are in this repo's README", it doesn't work. [This file](https://github.com/carpentries/handbook/blob/master/topic_folders/hosts_instructors/hosts_instructors_check

[2019-02-19 15:58] #587 closed, assigned to nobody

[2019-02-27 16:33] orbsmiv opened #589 "setup instructions for macOS to include homebrew option?"
Do users think that there's any mileage in introducing a homebrew (https://brew.sh) install option for some of the macOS components? This occurred to me when assisting in a recent Unix class where a user was running macOS 10.14 Mojave and received a rather cryptic message when trying to run the `git` command. (It used to be that a more helpful message concerning the installation of the _Command Li

[2019-02-28 20:15] brownsarahm commented on #589
I think the stronger appeal for Anaconda over the consistency across OSs is that it comes with a large number of scientific computing packages in a single download. People can get up and running through our workshops and continue somewhat deeper after, without having to install each item separately.

If homebrew makes git install easier and handles the _Command Line Tools_ issue it could be worth

[2019-02-28 20:28] pbanaszkiewicz commented on #582
@mdehollander, @rgaiacs, @katrinleinweber  the feature was implemented in AMY, and will be released in the upcoming week or so. I'll follow up here.

[2019-03-01 08:37] katrinleinweber commented on #582
Ah, OK, thanks for explaining :-) That's a useful feature!

How "sometimes" does this happen? Do we know what's causing it?

I recently saw a host trying to [add a `room` variable](https://github.com/vdb-org/2019-06-26-blb-karlsruhe/pull/3/commits), but this [only caused OSM to fail](https://www.openstreetmap.org/search?query=Erbprinzenstra%C3%9Fe+15%2C+76133%2C+Karlsruhe%2C+Stober-Werkstatt+%28EG

[2019-03-09 06:22] pbanaszkiewicz commented on #582
This feature on AMY part is now deployed.

@katrinleinweber: this is just my experience of using Google Maps, sometimes searching by address or POI name doesn't return correct building / place.

[2019-03-10 09:31] rgaiacs commented on #582
Thanks

I had similar problem. If you are in a "small" town or less famous places it happen very often.

[2019-03-12 03:28] Denubis commented on #584
I was going to create a new issue, but since this is here. The setup instructions for sqlite reference the carpentry's installer, but link to sqlite instead.

[2019-03-12 15:21] RolandMacDoland opened #590 "GitHub importer fails"
Dear SwC
We attempted to use the GiHub importer to set up a SwC website we organise.
However, this gives us GitHub 404 error s and the import fails. Do you experience it too ?
Kind regards,

[2019-03-12 16:44] maneesha commented on #590
Thanks for reporting this @UCLGuichard
It looks like GitHub is having some problems:  https://www.githubstatus.com/

Can you try again later and let us know if you still have trouble?

[2019-03-12 16:51] RolandMacDoland commented on #590
Hi @maneesha
Sure, we will do (I am putting @mattgillucl in the loop, who is organising the SwC)

[2019-03-13 13:19] RolandMacDoland commented on #590
Hi @maneesha it looks like it's working. Thanks

[2019-03-13 13:31] maneesha commented on #590
Thanks @UCLGuichard

[2019-03-13 13:31] #590 closed, assigned to nobody

[2019-03-13 20:51] broadwym commented on #584
Seconding that the setup instructions simply link to sqlite. Linking back to this issue: https://github.com/datacarpentry/sql-ecology-lesson/issues/245

[2019-03-14 00:42] Denubis commented on #584
@broadwym I just submitted a [pull request](https://github.com/carpentries/workshop-template/pull/592) to fix this.

I've just put in a conditional so that if the lesson is dc, it instructs people to download the sqlitebrowser.

If the lesson = dc, it renders:

![Screenshot from 2019-03-14 17-40-29](https://user-images.githubusercontent.com/243503/54336499-56f27800-4680-11e9-9cb5-44142c8c751d.png)

[2019-03-16 08:58] #584 closed, assigned to nobody

[2019-03-16 20:27] tobyhodges opened #593 "Inconsistent casing of lesson titles in syllabus template(s)"
The casing of the lesson titles in `_includes/dc/syllabus.html` are inconsistent ("Data **o**rganisation in **s**preadsheets", "Data **C**leaning with OpenRefine", "Data **W**rangling and **P**rocessing for **G**enomics", etc).

I'm very happy to submit a PR to fix this, but which way would like me to take the titles?

1. Title case, e.g. "Data **W**rangling and **P**rocessing for **G**enomics", o

[2019-03-17 15:55] brownsarahm commented on #593
whatever we decide, we should also add this choice to the [style guide](http://carpentries.github.io/lesson-example/06-style-guide/index.html) to the lesson-example so that we have guidance on these matters in the future.

A quick scan of a few pages shows title case used in most places.

We could also consider adding in the css to enforce title case on all `<h#>` tags with `text-transform: capita

[2019-03-18 08:01] fmichonneau commented on #593
We should use title case.

@brownsarahm I'll happily review a PR that enforces this via CSS and to the style guide.

[2019-03-18 08:02] #585 closed, assigned to nobody

[2019-03-18 09:01] tobyhodges commented on #593
Enforcement by CSS sounds like the most robust approach. As long as you're happy with all words being capitalised i.e. *This Is A Title* instead of *This is a Title*.

[2019-03-18 09:09] fmichonneau commented on #593
Ouch! that wouldn't make me very happy. I have some scripts that I could repurpose to go through our lessons and identify titles that need to updated, but I don't think I'll be able to do this for a few weeks.

[2019-03-18 09:10] tobyhodges commented on #593
Ok, for now I will update the titles in `syllabus.md` and similar files and add a note to the style guide. PR coming soon.

[2019-03-18 10:19] #593 closed, assigned to nobody

[2019-03-20 00:50] Denubis opened #596 "In the schedule, items don't repeat after breaks"
Recently a student emailed me with: "I'm just looking at the schedule on your SWC SQL workshop page - https://denubis.github.io/2019-04-17-MacquarieUniversity/. I noticed that there is nothing between the morning break and lunch break" (Which I have subsequently corrected).

A cursory search of open issues don't indicate discussion on "when breaks end and sessions resume" -- is it worth adding in

[2019-04-23 06:36] Denubis commented on #276
So I ran into this in my workshop as well. One thing I thought about was to have a <h3>Lesson data</h3> That at least enjoined learners to go to the right setup pages.

I can create a list of links to setup pages and we can make a todo for instructors to remove ones that don't match -- do we think this is the least worst approach?

[2019-04-30 21:25] pkrafft opened #600 ""SC" and "SWC" acronyms are used inconsistently in documentation"
Point 5 in "Customizing Your Website" in README.md uses the acronyms "dc" (Data Carpentry workshop), "lc" (Library Carpentry), or "sc" (Software Carpentry) for their subdirectories.

However, the _config.yml file indicates:

# Which carpentry is this ("swc", "dc", "lc", or "cp")?
# swc: Software Carpentry
# dc: Data Carpentry
# lc: Library Carpentry
# cp: Carpentries (to use for instructor traning

[2019-05-03 19:51] aewhite100 opened #601 "add anchor links for sections of the workshop page template"
Perhaps we can add anchor links to the various sections in the template? When guiding potential learners to various sections of the workshop site, directions can be complicated (e.g. "Go to this site and scroll down to the syllabus section").

[2019-06-08 14:28] katrinleinweber opened #604 "Use GitHub's new "repository templates" feature & adapt ReadMe"
Just a pointer to this topic's main issue: https://github.com/carpentries/lesson-infrastructure/issues/27 ;-)

[2019-06-08 14:28] katrinleinweber opened #605 "Use GitHub's new "repository templates" feature & adapt ReadMe"
Just a pointer to this topics main issue: https://github.com/carpentries/lesson-infrastructure/issues/27 ;-)

[2019-06-08 14:29] #605 closed, assigned to nobody

[2019-06-08 14:29] katrinleinweber commented on #605
Duplicated due to crappy train wi-fi, sorry!

[2019-06-18 11:56] davidrpugh opened #606 "Changing logos and styling used in the template to our home institution logo color scheme?"
Is there documentation on how to adapt the styling (particularly the logos) for our home institution?

[2019-07-13 16:32] swaldman3 commented on #515
This has been done - suggest closing the issue?

[2019-07-16 13:18] #515 closed, assigned to nobody

[2019-07-18 06:10] Denubis opened #611 "Commits should be rebased for faster rendering"
While running an instructor workshop today, I noticed the quite long import and render times of the page. It may be somewhat improved if we remove the branches and rebase many of the commits into significantly smaller batches.

I'm not sure what the rebase policy is here, but we should probably make the programmatic/cloning side of this sort of thing more accessible. Perhaps rebasing only the univ

[2019-07-24 06:06] humburg opened #612 "Fix figure paths in aio.md"
While trying to use the *All in one page* feature I noticed that all the images were missing. The reason seems to be that `aio.md` is located at the top-level whereas the episodes are in their own sub-directory, which results in incorrect relative paths.

For the figures that could be fixed by replacing

[code]

with something like

[code]

Are there other situations where episodes might employ re

[2019-07-24 06:15] fmichonneau commented on #612
hi @humburg, this _should_ already be fixed in https://github.com/carpentries/styles however, this file used to not be included among the ones that get automatically updated when the template repository would get pulled into the lesson and needed to be copied over manually. Which lesson repository are you looking at?

_transferring issue to the styles repository_

[2019-10-07 15:57] geyslein opened #623 "workshop-template-de"
I translated the workshop template into German. I'm happy to share. Could you create a repo for this purpose?

[2019-10-09 01:01] ErinBecker commented on #623
Hi @geyslein - Thanks for translating the template into German. I'm tagging in @dpshelio who has been highly active in The Carpentries translation efforts and has developed a system for facilitating multi-language translations using our lesson template. David, would you please let @geyslein  know where to start?

Many thanks to both,
Erin

[2019-10-11 13:19] fmichonneau commented on #507
implemented as part of #608

[2019-10-11 13:19] #507 closed, assigned to nobody

[2019-10-11 13:22] fmichonneau commented on #601
thanks for the suggestion. All the sections are already tagged with an anchor (see screenshot).

![Screenshot from 2019-10-11 15-21-38](https://user-images.githubusercontent.com/5502922/66654627-f4278600-ec3a-11e9-8777-1e0f4affb04d.png)

[2019-10-11 13:22] #601 closed, assigned to nobody

[2019-10-11 13:23] fmichonneau commented on #604
see discussion in issue linked above.

[2019-10-11 13:23] #604 closed, assigned to nobody

[2019-10-11 13:25] fmichonneau commented on #276
I think this was partially implemented as part of #608 (at least for DC workshops). We also have carpentries/maintainers-RFCs#4 to discuss a similar approach for SWC and LC workshops. Closing in favor of having discussions there.

[2019-10-11 13:25] #276 closed, assigned to nobody

[2019-10-11 13:31] #596 closed, assigned to nobody

[2019-10-11 13:31] fmichonneau commented on #596
thanks for the suggestion @Denubis

[2019-10-11 13:47] #582 closed, assigned to nobody

[2019-10-11 14:05] #489 closed, assigned to rgaiacs

[2019-10-11 14:06] fmichonneau commented on #489
this seems like a good idea. I implemented an optional solution using the already defined (but rarely used) `site.title`.

[2019-10-11 14:20] #513 closed, assigned to nobody

[2019-10-11 14:20] fmichonneau commented on #513
thanks for the report @anenadic, it's a good idea. I fixed this in the template repo and will bring it here soon.

[2019-10-11 14:22] fmichonneau commented on #572
this was implemented in #573

[2019-10-11 14:22] #572 closed, assigned to nobody

[2019-10-11 14:22] fmichonneau commented on #518
this has been fixed.

[2019-10-11 14:22] #518 closed, assigned to nobody

[2019-10-11 14:29] #569 closed, assigned to nobody

[2019-10-11 14:31] #512 closed, assigned to fmichonneau

[2019-10-11 14:32] fmichonneau commented on #512
closing because the installation instructions have been updated.
@gcapes you raise some good points. Could they be discussed in the Git lesson repository as people with more info about this are more likely to chime in.

[2019-10-11 14:33] fmichonneau commented on #551
with #608 the installation instructions are provided by the lessons themselves for Data Carpentry workshops which include instructions on how to install libreoffice.

[2019-10-11 14:33] #551 closed, assigned to fmichonneau

[2019-10-14 19:38] kristi-sara opened #629 "genomics showing up in dc-spatial block"
despite config.yml being setup for dc-geospatial, block says dc-genomics.
After chasing chickens, realized workshop template itself was incorrect under:

_includes/dc/setup.html

line 30 block says:
 "<p>The setup instructions for the Data Carpentry **Genomics** workshops can be found at <a href="https://datacarpentry.org/geospatial-workshop/setup.html">the workshop overview site</a>.</p>

By swit

[2019-10-14 23:18] #629 closed, assigned to nobody

[2019-10-14 23:19] ErinBecker commented on #629
Thanks so much for reporting the error @kristi-sara! It should be fixed now. Best of luck with your workshop.

[2019-10-31 07:17] marklcrowe opened #631 "Incorrect link to survey"
Hi, I've just noticed what appears to be a bug in the new survey links. Line 52 in _includes/dc/schedule.html refers to "site.dc_survey". The other survey references suggest the correct text should be "site.post_survey".

[2019-10-31 08:39] #631 closed, assigned to nobody

[2019-10-31 08:39] fmichonneau commented on #631
Thank you for reporting this!

[2019-11-10 11:47] fmichonneau opened #633 "fix how contact email addresses are added to workshop metadata"
see carpentries/amy#1568

[2019-11-11 18:00] konrad opened #634 "macOS - default Shell is zsh"
The installation text for Bash under macOS says: "The default shell in all versions of macOS is Bash, so no need to install anything." Since macOS Catalina [this is not the case anymore](
https://www.theverge.com/2019/6/4/18651872/apple-macos-catalina-zsh-bash-shell-replacement-features). Later there is an way mentioned to solve this but the statement is wrong.

[2019-11-12 14:21] ewallace opened #635 "Collaborative document is hard to find on index.html"
Every time we organize a workshop in [Edinburgh](https://edcarp.github.io/), users have trouble finding the collaborative document link, which is in ordinary-size text at the bottom of the schedule.

Could the workshop template have

1. a **second** link to the collaborative document at the top of the page.
2. the existing link to "collaborative document" have a bigger and more descriptive title.

[2019-11-13 10:07] ousodaniel opened #636 "index.md missing quote marks"
---

the `layout` key value should be inside quotations, otherwise `workshop-check` gives a parsing error, in `index.md`

---

[2019-11-18 15:57] fmichonneau opened #637 "make workshop_check has false positive error"
the `carpentry` variable has been removed from the index file but the test hasn't been updated.

[2019-12-03 17:12] #637 closed, assigned to nobody

[2019-12-06 15:35] arockenberger opened #641 "Workshop Title not shown on Website"
Hei!

We have trouble with the workshop-template when we are setting up the website for the workshop. We have followed the instructions and edited the _config.yml as well as the index.md file according to the instructions with our specifications, but we cannot get the website to show the title of the workshop. Here is an example: (https://uio-carpentry.github.io/2020-01-31-R/)
Here is the link to

[2019-12-06 16:25] fmichonneau commented on #641
Thanks for getting in touch! I followed up on the issue of the website repo. I'm closing here and will re-open if there is indeed a bug.

[2019-12-06 16:25] #641 closed, assigned to nobody

[2019-12-12 21:50] fmichonneau commented on #636
Hi @ousodaniel, I can't reproduce this. Do you have a repository set up that gave you this parsing error?

I'm going to close the issue, but if you can provide with more details that would allow us to reproduce this problem, we can re-open. Thanks!

[2019-12-12 21:50] #636 closed, assigned to nobody

[2019-12-12 22:01] fmichonneau commented on #635
@ewallace Thanks for bringing this up! I agree with you, I created a PR (#643) with a proposed solution, please let me know what you think!

[2019-12-12 22:03] fmichonneau commented on #634
thanks for this @konrad! Does #632 address this?

[2019-12-12 22:13] ewallace commented on #635
Looks great! Thank you @fmichonneau.

[2019-12-12 22:13] fmichonneau commented on #633
Currently, the email addresses provided are merged into a single string in the website metadata see https://github.com/carpentries/workshop-template/blob/gh-pages/_layouts/workshop.html#L22

2 possible implementations:
- separate the email addresses with a `,` assuming that AMY can parse that
- subset the email addresses to only include the first one in the meta data

[2019-12-12 22:17] fmichonneau commented on #509
the CI is working now :heavy_check_mark:

[2019-12-12 22:17] #509 closed, assigned to nobody

[2019-12-12 22:21] fmichonneau commented on #611
Thanks @Denubis, all the branches have been deleted. We typically don't rebase our repos to keep the history intact and give appropriate credits to contributors. Using the GitHub "template" feature makes it also somwhat easier now. We could also look into using this repository as a Jekyll remote theme for setting up workshops.

[2019-12-12 22:23] fmichonneau commented on #576
I'm going to close this until we can get more information.

[2019-12-12 22:23] #576 closed, assigned to nobody

[2019-12-12 22:31] fmichonneau commented on #575
I think this needs to be addressed. Looking into this, I discovered that the OpenRefine GitHub Wiki has pretty clear and detailed instructions about [installing OpenRefine](https://github.com/OpenRefine/OpenRefine/wiki/Installation-Instructions) and [installing Java](https://github.com/OpenRefine/OpenRefine/wiki/Setup-JAVA). We could point to these instructions.

Would someone be willing to write

[2019-12-12 22:34] fmichonneau commented on #564
I think this has been addressed in #574

[2019-12-12 22:34] #564 closed, assigned to nobody

[2019-12-12 22:35] fmichonneau commented on #543
The installation instructions for SQLite don't refer to the SWC installer anymore. Thanks!

[2019-12-12 22:35] #543 closed, assigned to nobody

[2019-12-12 22:36] fmichonneau commented on #408
the installation instructions have been revamped.

[2019-12-12 22:36] #408 closed, assigned to nobody

[2019-12-12 22:42] fmichonneau commented on #528
While I agree it might make things easier for users to have the main page for the website kept open in the background as they click on setup instructions, the etherpad, etc... it's usually not good practice to force new windows being open on users. There are also some potential issues with using `target="_blank"` (see https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a#attr-target). So I d

[2019-12-12 22:42] #528 closed, assigned to nobody

[2019-12-12 22:43] fmichonneau commented on #526
the installer has been deprecated.

[2019-12-12 22:43] #526 closed, assigned to nobody

[2019-12-12 22:46] fmichonneau commented on #479
the setup instructions for SWC seem up to date, for DC and LC they should be listed in the lessons directly.

[2019-12-12 22:46] #479 closed, assigned to fmichonneau

[2019-12-12 22:50] fmichonneau commented on #418
The template supports the use of etherpad, hackmd, google docs.
This conversation can continue elsewhere though and it's always interesting to hear from people who test other tools for collaborative note-taking in workshops.

[2019-12-12 22:50] #418 closed, assigned to nobody

[2019-12-12 22:55] #505 closed, assigned to nobody

[2019-12-12 23:04] fmichonneau commented on #500
I think these links are now working.

[2019-12-12 23:04] #500 closed, assigned to nobody

[2019-12-12 23:06] fmichonneau commented on #364
closing as stale.

[2019-12-12 23:06] #364 closed, assigned to nobody

[2019-12-12 23:08] fmichonneau commented on #495
fixed with #544

[2019-12-12 23:08] #495 closed, assigned to nobody

[2019-12-12 23:09] fmichonneau commented on #400
closing as stale

[2019-12-12 23:09] #400 closed, assigned to nobody

[2019-12-12 23:10] fmichonneau commented on #398
closing as stale

[2019-12-12 23:10] #398 closed, assigned to nobody

[2019-12-12 23:11] fmichonneau commented on #382
I don't think many people use Yahoo event now. closing.

[2019-12-12 23:11] #382 closed, assigned to nobody

[2019-12-12 23:13] fmichonneau commented on #338
We're thinking about translations and using a different approach.

[2019-12-12 23:13] #338 closed, assigned to k8hertweck

[2019-12-12 23:14] fmichonneau commented on #498
links are now working.

[2019-12-12 23:14] #498 closed, assigned to nobody

[2019-12-12 23:14] fmichonneau commented on #493
this has been implemented.

[2019-12-12 23:14] #493 closed, assigned to nobody

[2019-12-12 23:15] fmichonneau commented on #394
closing as stale

[2019-12-12 23:15] #394 closed, assigned to nobody

[2019-12-12 23:16] fmichonneau commented on #395
closing as stale

[2019-12-12 23:16] #395 closed, assigned to nobody

[2019-12-12 23:17] fmichonneau commented on #421
partially implemented.

[2019-12-12 23:17] #421 closed, assigned to nobody

[2019-12-12 23:17] fmichonneau commented on #492
closing as stale

[2019-12-12 23:17] #492 closed, assigned to nobody

[2019-12-13 00:11] Denubis commented on #611
Let me know if you want me to make a credits-file-exporter. Mapping credits from git status into a specific file should be doable. (Or if you want me to explore any of the other features you mentioned above).

[2019-12-13 05:31] konrad commented on #634
Yes, thanks, @fmichonneau. Sorry for missing this previous issue regarding that topic.

[2019-12-13 05:31] #634 closed, assigned to nobody

[2019-12-13 17:35] #635 closed, assigned to nobody

[2019-12-13 17:39] fmichonneau commented on #483
no new report of this since then, so closing this issue.

[2019-12-13 17:39] #483 closed, assigned to nobody

[2019-12-13 17:45] #451 closed, assigned to nobody

[2019-12-13 21:06] fmichonneau commented on #283
I don't think we mention or distribute the installation test script.

[2019-12-13 21:06] #283 closed, assigned to nobody

[2019-12-13 21:07] fmichonneau commented on #390
Now that nano is distributed by Git Bash, I think we can close this.

[2019-12-13 21:07] #390 closed, assigned to nobody

[2019-12-13 21:11] fmichonneau commented on #136
closing as stale.

[2019-12-13 21:11] #136 closed, assigned to nobody

[2019-12-13 21:12] fmichonneau commented on #466
closing as stale

[2019-12-13 21:12] #466 closed, assigned to nobody

[2019-12-13 21:22] #494 closed, assigned to nobody

[2019-12-13 21:23] fmichonneau commented on #494
Thanks for the suggestion @brownsarahm. I (still) think it's a good idea so I created a page using the information you had provided. It's available at `<url for workshop>/helpers/index.html`

[2019-12-13 21:38] fmichonneau commented on #490
this report seems outdated. Closing.

[2019-12-13 21:38] #490 closed, assigned to nobody

[2019-12-13 21:41] fmichonneau commented on #450
@sstevens2 would you be willing/able to re-record these videos?

[2019-12-13 21:42] fmichonneau commented on #491
we're going to revisit how the workshop websites are set up in the near future and could revisit this, but for the time being I don't think there is much we can do on the template side of things.

[2019-12-13 21:42] #491 closed, assigned to nobody

[2019-12-13 21:43] fmichonneau commented on #454
I think this is now obsolete.

[2019-12-13 21:43] #454 closed, assigned to nobody

[2019-12-13 21:45] fmichonneau commented on #442
we're updating the installation instructions in carpentries/lesson-example#276 closing here.

[2019-12-13 21:45] #442 closed, assigned to nobody

[2019-12-13 21:46] #423 closed, assigned to nobody

[2019-12-13 21:48] fmichonneau commented on #415
I totally agree with this.

We revamped the configuration to only have less information to provide and we're planning to work on a more interactive interface to fill in the information needed soon.

[2019-12-13 21:48] #415 closed, assigned to nobody

[2019-12-13 21:57] brownsarahm commented on #575
the openrefine installation instructions have been pushed to individual lesson repos, do we want this java prereq in the workshop template or should this issue be replicated on the various openrefine lessons?

[2019-12-13 22:09] fmichonneau commented on #537
I don't think this is actually possible because I don't think the slug isn't available from Jekyll. We could attempt to parse `.git/config` to get the name of the repository but that's still imperfect.

[2019-12-13 22:09] #537 closed, assigned to nobody

[2019-12-18 18:20] ilessing opened #644 "Jekyll build error GemNotFound on fresh clone of workshop-template"
when I clone this repository and issue the `make serve` command I get the following error:

#### Environment:
Mac OS 10.15.2 Catalina
[code]

If I remove the Gemfile `rm Gemfile` the `make serve` succeeds.

[2019-12-18 19:20] ErinBecker commented on #644
Thanks @ilessing for taking the time to document your issue (and solution)! I'll assign this issue to @fmichonneau.

[2019-12-18 19:32] fmichonneau commented on #644
Hi @ilessing
Thanks for the report!
I just brought the latest changes to our general styles (#645) which among other fixes has a revamped Makefile that uses `bundle exec jekyll serve` to generate the website locally and should address the error you saw.

[2019-12-18 19:32] #644 closed, assigned to fmichonneau

[2019-12-19 11:44] LHurst-UoB opened #646 "Duplication of setup instructions and sync issues"
I'm concerned about the duplication of information between the setup instructions in the workshop template (_includes/swc/setup.html for SWC) and the workshops (e.g. shell-novice/setup.html).

As seen in #632, collectively we're failing to keep the setup instructions in both places in sync resulting in the pair not being cohesive and, sometimes, one or other incorrect despite fixes incorporated in

[2019-12-19 15:12] LHurst-UoB commented on #646
I've noted that DC links to the lessons' setup pages, instead of duplicating the instructions in the workshop template, in _includes/dc/setup.html.

My inclination is to submit a PR to change _includes/swc/setup.html to do the same, deduplicating the information, unless anyone has strong feelings for not doing so?

[2019-12-19 18:31] brownsarahm commented on #646
Thanks for the issue, this is a known problem and there's an [open RFC](https://github.com/carpentries/maintainer-RFCs/issues/4) about changing the instructions for SWC & LC to mirror the _recently changed_ format of the DC workshops.  The conversation there seems to gotten a little off track talking about schedules instead of setup instructions.  This is a good reminder to revisit that and possib

[2019-12-19 22:19] sstevens2 commented on #450
I don't think I have the time to commit to this right now @fmichonneau.  Wish I could, it was pretty fun the first time.

[2019-12-19 22:30] fmichonneau commented on #450
ok, thanks for letting me know. We'll put a call out to the community!

[2019-12-20 11:36] LHurst-UoB commented on #646
Hi,

I'm not sure how this is related - the RFC seems to be about improving the modularity of the workshop template (something we've already been working on internally and I've add a long comment about that work to the RFC) but this issue is specifically that swc's setup.html duplicates the lessons setup instructions in contrast to dc's setup.html that links to them.

I don't see this as an issue

[2019-12-20 15:22] brownsarahm commented on #646
Hi Laurence,

The proposal to make it modular is when the DC lessons switched from instructions in the workshop template repo to links. So, if that RFC is approved, then the workshop template will be swtiched to links for SWC and LC.

[2019-12-20 15:27] fmichonneau commented on #450
@joaorodrigues agreed to do some recordings (on Windows)

[2019-12-22 19:02] LHurst-UoB commented on #646
Hi brownsarahm,

I can’t see any mention of updating the setup instructions in the RFC?  If that’s the intention perhaps it should be explicitly mentioned otherwise it will get overlooked or ignored by others (such as me!) who presume that as it’s not mentioned it’s outside the scope of it?

Laurence

[2019-12-23 17:34] brownsarahm commented on #646
You are correct, it's not mentioned explicitly in the new RFC. The details of how the DC changes were implemented is linked to via the [previous RFC](https://github.com/carpentries/maintainer-RFCs/issues/3) and the [PR](https://github.com/carpentries/workshop-template/pull/608). Those mention and show that the setup instructions for DC would be moved to individual repos and because of the referenc

[2019-12-28 03:54] mikerenfro commented on #450
Just checked out the Bash and Git video for macOS, and it looks like the Git package downloaded from sourceforge never took effect (should have been version 2.6.4, ended up with 2.5.4 installed from XCode).

I'll see if I can knock together a video using either or both methods. May also need to show Catalina with a zsh default shell versus Mojave or earlier with a bash default shell.

[2020-01-14 11:16] desireetreichler opened #648 "Syllabus may lead to wrong lesson"
In the end of the syllabus section of the workshop page a link to the lesson page is provided for each part of the course (e.g., unix, python, R...). Where there are several lessons for the same course part (for example, python), this link may lead to the *wrong* reference page (for example, for python it by default leads to https://swcarpentry.github.io/python-novice-inflammation/reference/, but

[2020-01-21 14:56] fmichonneau commented on #648
@desireetreichler Thanks for bringing this up!

We're having a discussion about ways to improve this here https://github.com/carpentries/maintainer-RFCs/issues/4 if you'd like to contribute ideas.

[2020-01-24 07:48] lexnederbragt opened #649 "Configurations Problems and Solutions wiki outdated on Python part"
https://github.com/carpentries/workshop-template/wiki/Configuration-Problems-and-Solutions#python still mentions IPython notebook and Canopy.

[2020-01-24 14:53] fmichonneau opened #650 "Use consistent file extensions"
For the template, we mostly use HTML within the files because we need to provide the correct classes for Bootstrap formatting. Some files have a `.md` extension which makes things confusing because it suggests that the content of the file can be written in Markdown.

[2020-02-05 20:43] LunaSare opened #652 "warnings rendering as errors from rmd files"
Hello! I am using the workshop-template to develop a lesson on how to use a couple R packages. To show how functions works, I am using rmarkdown.
It is working great, except that warnings from functions are rendered as errors in the website, here https://lunasare.github.io/ssb2020_workshop/02-get-induced/index.html, rmd code here https://github.com/LunaSare/ssb2020_workshop/blob/gh-pages/_episodes

[2020-02-07 21:55] karenword opened #653 "zsh for macOS"
This contribution submitted for checkout via email:

"As part of helping at a recent Carpentries workshop at University of Toronto Scarborough, I noticed that Bash was replaced with zsh as the default shell in 2019 for Apple users (according to this report).

Would it be worthwhile to indicate this change on the Library Carpentry UNIX Shell lesson? (https://librarycarpentry.org/lc-shell/setup.html

[2020-03-17 14:27] fmichonneau opened #655 "clarify comments and instructions about distinction between venue and address"
venue: main location, name of university/campus
address: name of building, physical address room.

[2020-04-14 08:45] martinosorb opened #656 "Use of the "template" feature"
I noticed that this repository was made into a github template repo. As such, it can be cloned in one click by the "Use this template" button. Perhaps the instructions in the readme can be greatly simplified? They still tell us to clone the repo with the github cloner. Is there any advantage in doing so over the template button?

[2020-04-14 15:21] brownsarahm commented on #656
Thanks for pointing that out. It might have been added for trial use before making it the official recommendation, but that appears to have been several months ago. I don't think there's an advantage to the cloner, but there is an advantage to the template button (as @fmichonneau mentioned in #611).

I think a PR to make update the instructions would be helpful.  Worst case, it prompts us to do a

[2020-04-14 15:43] martinosorb commented on #656
I'll make a PR when I have the time then. Thanks.

[2020-04-20 21:12] brownsarahm commented on #656
this was closed by #658

[2020-04-20 21:12] #656 closed, assigned to nobody

[2020-04-21 19:12] fmichonneau commented on #633
fixed with https://github.com/carpentries/workshop-template/commit/0594d9a406690dd1fc67ed33c4b4042d8c6848b3

[2020-04-21 19:12] #633 closed, assigned to nobody

[2020-04-22 16:08] fmichonneau opened #659 "Update instructions for brining latest updates to repository"
Because using the GitHub template feature doesn't bring the full history of the repository [these instructions](https://carpentries.github.io/workshop-template/customization/index.html#updating-the-repository) need to be updated to explain how to allow unrelated histories and fix merge conflicts.... or we switch to using remote theme for workshops.

[2020-05-22 15:45] munkm opened #660 "install instructions no longer rendered by default"
The git install instructions used to be rendered in the default workshop template (at https://carpentries.github.io/workshop-template/#git ).

The git-novice lesson references this page for setup with git so we don't maintain git install directions in the git lesson directly. As brought up in swcarpentry/git-novice#735, the git installation instructions are no longer on that page. I assume it's fr

[2020-05-22 16:34] brownsarahm commented on #660
I think relying on the rendered version of the template repo is not ideal, so it might be best to move the setup instructions to the git lesson repo, and then have this repo switch to linking. That's the pattern already used for DC and is proposed for LC & SWC in [this maintainer RFC](https://github.com/carpentries/maintainer-RFCs/issues/4).

Since that RFC is not agreed on as the path forward yet

[2020-05-22 17:18] maxim-belkin commented on #660
In [Install Python](https://swcarpentry.github.io/python-novice-inflammation/setup/index.html#install-python) section of the Python Novice Inflammation lesson we point readers to https://carpentries.github.io/workshop-template/#python page for instructions on how to install Python. We can, of course, duplicate that part but this will inevitably lead to diverging instructions down the road.

I sugg

[2020-05-22 17:25] sstevens2 commented on #660
Ideally, it would be nice if the instructions lived in the individual lessons and we had an automated way to pull them from the lessons into the workshop template, so they don't diverge.  Not sure how/if that is possible though.

I agree the duplication is not great but I think it is long term better to have them in the individual lesson repos instead of pointing folks to the workshop template.  I

[2020-05-22 17:29] brownsarahm commented on #660
The risk of diverging instructions already exists with the datacarpentry setups for R and python being pushed to individual lessons, since we link out there?

For mainenance reasons, a centralized copy makes sense, but the trick is to figure out where that centralized copy lives.

Maybe the centralized copy goes styles/ carpentries theme as an include and the `setup.md` in each lesson can either u

[2020-05-22 17:46] ErinBecker commented on #660
Good discussion all. Yes there is a risk of diverging install instructions if the instructions live in the individual lessons, but that's actually fine, from my perspective. Different lessons teaching the same technology may still have different prefered setup. Just a couple of examples:

- R lessons focusing on tidyverse vs base R
- Python lessons using different visualization libraries
- Git les

[2020-05-22 18:43] brownsarahm commented on #660
Erin's additional information pushes me more to the side of separate instructions living in each lesson repo.

Maybe supported with some sort of dedicated communication channel that connects all maintainers of lessons of the same "flavor" across curricula & lesson programs to share when an update related to changes in the tool to help support all staying up to date & minimize replicated human effo

[2020-05-22 18:50] munkm commented on #660
Ok, so some of this seems like larger infrastructural stuff that needs to be implemented. Is what @maxim-belkin proposed where all setup instructions are shown in the 'cp' template a good interim solution? Right now we're linking to the raw html setup document in git-novice, and I think it's fairly unwelcoming to novices to expect them to read through raw html to do their setup this way.

I also w

[2020-05-22 19:07] munkm commented on #660
I've modified the title now since the install instructions include other lessons as well, and not just git

[2020-05-22 21:13] ErinBecker commented on #660
Note:

We're reverting the default from "cp" back to "swc" for the moment. That should serve as an immediate bandaid. I'm going to be working on a [Google Doc](https://docs.google.com/document/d/1JhW0bmWs6vOzTZK6WfQvTB4FWPxqPqrewkxy9enVqMk/edit#) to outline a longer term solution.  I'm just getting it started, but please feel free to jump on at any point. I'll be working on this actively over the

[2020-05-23 17:02] kekoziar commented on #660
I agree with @munkm that "it's fairly unwelcoming to novices to expect them to read through raw html to do their setup this way" and think it's easier on new learners to have the install directions live on the workshop page.

@maxim-belkin has made suggestions before on automating and prepopulating the schedule and other parts of the workshop page based on flavors (I think that's the term used). C

[2020-05-29 14:00] rkm opened #663 "improve caching and file permissions in `make docker-serve`"
~~Hi! Is it worth revisiting #340 considering we now have a Docker lesson in [incubation](https://github.com/carpentries-incubator/docker-introduction)? Running the webpage locally can still be a bit of a pain! I'd like to contribute a Dockerfile / docker-compose script / documentation as part of my instructor training checkout process.~~

Edit: renamed issue after discussion below

[2020-06-02 11:34] rkm commented on #663
Ah, I noticed that there is already a `docker-serve` make target for this!

It seems to run `bundle install ...` each time though, which can still take around 30s on successive calls even after `.docker-vendor` is populated (on my machine at least).

I've started working on a small improvement (https://github.com/carpentries/workshop-template/compare/gh-pages...rkm:gh-pages) which has the followin

[2020-06-02 14:20] zkamvar commented on #663
Hi @rkm,

Thank you for this! In my experience with the Jekyll Docker container, it can be a bit finnicky with the host permissions.

I had previously set up a docker container for maintaining lessons at https://github.com/carpentries/lesson-docker/#docker-container-for-lesson-maintenance that will work for the workshop-template and has a couple of advantages:

1. The versions of jekyll and ruby a

[2020-06-02 16:39] rkm commented on #663
Thanks! I'll take a look at that although the docker image seems a little heavy at ~1.4GB.

I was only hoping to contribute a small usability fix to the current workflow in this repo, so apologies if this has raised more questions than it has answered! FWIW I believe I have fixed the permissions issues on my branch, so the only remaining issue I see is that of the jekyll/ruby version pinning (whic

[2020-06-03 15:57] sstevens2 opened #668 "Add section on install for video conferencing software for online workshops"
I think it would be nice to have a section that is only for online workshops that gives additional install and setup directions for the video conferencing software. Example from my recent pre-workshop email for a make mini-workshop below.

Might want to make it flexible to the different possible videoconferencing software tools.

[2020-06-15 21:13] Talishask opened #669 "Checkout Contribution - Online Template"
I'm a member of The Carpentries staff and I'm submitting this issue on behalf of another member of the community. In most cases I won't be able to follow up or provide more details other that what I'm providing below.

----

I would love to contribute to the template workshop. I suggest having another generic version of the workshop template for online or remote workshops since they have been comm

[2020-06-15 22:36] brownsarahm commented on #669
Thanks @Talishask. Can you point the member of the community to this issue? This is a great contribution and if the community member has time to translate this idea into a pull request it would be welcomed.

We have made some recent updates to the template to make it more online-event-friendly and more ideas are definitely welcome. We have an open issue on adding instructions: #668. That's a great

[2020-06-16 21:16] lachlandeer opened #671 "typo - online instruction location"
In the template text for online workshop location there is a typo:

[code]

Need to correct 'infromation' with 'information'

[2020-06-17 05:06] #671 closed, assigned to nobody

[2020-06-17 21:46] Talishask commented on #669
Thanks @brownsarahm! I've followed up with the community member and shared this issue via email.

[2020-06-24 16:56] ErinBecker commented on #668
Thanks @sstevens2 for this issue. I've discussed with the Curriculum Team (myself, @zkamvar, and @fmichonneau) and with @sheraaronhurt as the Workshop Admin Team Lead and we agree that it's a good idea to include Zoom installation instructions as the default, with the option to replace those instructions with another video conferencing platform. The Curriculum Team will be working on a PR to imple

[2020-06-24 16:58] sstevens2 commented on #668
I'm happy to review if needed!

[2020-07-07 14:45] sstevens2 commented on #450
After making some videos for Geospatial DC I was motivated to look at the analytics on the old videos.  I still get about 900 views a month on these videos with most being Windows gitbash/swc installer(sooo old), then mac git, and then windows python.
I'm re-motivated to get new videos up and take the old ones down.  Is there current edits going on, @mikerenfro, @JoaoRodrigues, @fmichonneau ?  How

[2020-07-07 21:10] JoaoRodrigues commented on #450
Hi @sstevens2 , I haven't actually done anything... life + covid happened.. Thanks for the reminder though, I wouldn't mind doing the windows videos for all those three if you want to handle the Mac OS / Linux counterparts?

[2020-07-07 21:19] mikerenfro commented on #450
I hadn't done anything beyond set up a couple macOS VMs in December and do a couple of test recordings. I'm currently making a new workshop repository to click through, and hopefully can get the macOS videos done shortly.

[2020-07-07 21:35] sstevens2 commented on #450
Sounds like between the two of you you have both macOS and Windows mostly covered.  Let me know if you'd like help editing or with voice over or something.

If nothing else, let me know when you get the new ones up and I'll bring down the old ones.

[2020-07-08 01:42] ErinBecker commented on #450
Pinging in @maxim-belkin here as I seem to remember seeing a recent thread where he recommended linking setup videos directly in the setup instructions on the workshop template. I might be remembering incorrectly, but just in case, wanted to loop him into the conversation. 🙂

[2020-07-08 09:31] maxim-belkin commented on #450
Um... I proposed to embed youtube videos instead of linking to them in #682 (https://deploy-preview-682--zen-ride-08ffd1.netlify.app). I might've mentioned this idea somewhere else as it has been floating in my head for some time... but I don't recall where at the moment.

[2020-07-08 16:30] ErinBecker commented on #450
Ah, thanks for clarifying @maxim-belkin!

[2020-07-08 19:23] mikerenfro commented on #450
I've made and uploaded macOS videos for:

- [Git installation (Mavericks and later)](https://vps.mike.renf.ro/macOS-Git-Install.mov),
- [opening Terminal and checking the default shell in Mojave](https://vps.mike.renf.ro/macOS-Mojave-Shell-Check.mov),
- [opening Terminal and checking the default shell in Catalina](https://vps.mike.renf.ro/macOS-Catalina-Shell-Check.mov),
- [installing Anaconda Pyt

[2020-07-08 19:50] sstevens2 commented on #450
I can go ahead and do the voice over.  Hopefully my accent is understandable for most folks.   Now I'm all worried...lol

[2020-07-10 09:19] fmichonneau commented on #450
Regarding embedding I was concerned about the tracking cookies that YouTube installs when embedding videos. However, I've looked a little more into it and there is a "[privacy-enhanced mode](https://support.google.com/youtube/answer/171780?hl=en)" that could be enabled. So if we end up embedding the videos, let's make sure we use these features.

[2020-07-12 06:27] #668 closed, assigned to nobody

[2020-07-14 22:07] mikerenfro commented on #450
@sstevens2 one more video uploaded, and the last is uploading now. Hopefully that'll be enough material to use, speed up, or trim as needed.

[2020-07-15 13:14] sstevens2 commented on #450
Thanks for the reminder @mikerenfro!  I'll work on voicing these over on Monday.

[2020-07-21 14:18] fmichonneau commented on #660
I believe this issue has now been addressed with the recent changes to how the installation instructions are organized in the repository. Feel free to re-open if needed.

[2020-07-21 14:18] #660 closed, assigned to nobody

[2020-07-24 08:44] anenadic opened #684 "SWC syllabus episodes out of sync with material and not using site.curriculum variable"
A couple of issues with the SWC syllabus:
- it is not using the site.curriculum variable to distinguish between Python inflammation and gapminder variants
- Python gapminder curriculum does not even exist in the syllabus page as an option
- Lesson module name and individual episode names are out of date/sync with the actual lesson (possibly the case with DC and LC syllabus too)
- Inconsistent styl

[2020-07-24 08:52] anenadic commented on #684
As an aside, in 2 recent workshop websites I have set up - I have simply baked the links to lessons into the schedule and have completely scrapped the syllabus section to reduce the page size:

- https://softwaresaved.github.io/2020-10-13-ssi-online/
- https://softwaresaved.github.io/2020-11-10-ssi-online/

But I understand that having a separate syllabus section is beneficial as long as lesson ti

[2020-07-24 15:17] fmichonneau commented on #684
Thanks for bringing this up @anenadic. We'll be discussing this with the Curriculum Team next week and we'll get back to you.

[2020-07-24 16:07] zkamvar commented on #684
For more context, this is due to the fact that these are baked into `_includes/swc/syllabus.html` and are present regardless of language:
https://github.com/carpentries/workshop-template/blob/87da500ec595c879b09e497f9d921c886e52f208/_includes/swc/syllabus.html#L15-L24

@anenadic, when you say 'reduce the size of the workshop page' are you referring to the physical length of the page on a computer

[2020-07-27 13:37] anenadic commented on #684
I mean the size on the computer screen - the page is already very verbose with loads of content on it and my fear is that loads of info does not get read or noticed by the workshop participants because of it. From my experience, installation instructions regularly get overlooked :-(.

[2020-07-28 10:35] fmichonneau opened #685 "Check whether Git for Windows installation instructions need to be updated"
there is a new release of Git for Windows: https://github.com/git-for-windows/git/releases/tag/v2.28.0.windows.1

The installation instructions need to be checked to ensure that they are consistent with the installation process of this new version.

[2020-08-05 12:44] tautme commented on #685
Thanks,

I will try and put in a pull request, but I am a novice in git.

instruction 2.8:
'Ensure that "Enable file system caching" and "Enable Git Credential Manager" are selected and click on "Next".'

change to BOLD

'Ensure that "Git Credential Manager Core" is selected and click on "Next".'

[2020-08-08 06:57] fmichonneau opened #687 "Update Git for windows installation instructions"
The dialog boxes during the installation process for Git 2.28.0 for windows have changed compared to what is listed in the installation instructions here. The installation instructions need to be updated to reflect these changes.

[2020-08-08 07:14] fmichonneau commented on #687
More specifically, we have received a report that `nano` isn't listed any more in the editor options in the drop-down menu. Instead, it seems that the Git installer favors GUI editors (Atom, Visual Studio, etc...).

We need to figure out:
1. is it possible to still specify `nano` as an option for the editor?
2. if not:
   2.1. which GUI editor should we recommend?
   2.2. how does this choice impa

[2020-08-08 21:47] kekoziar commented on #687
I just uninstalled then reinstalled git-bash.  Nano is still listed, but it is above the default (vim), so it might be easy to miss.

[2020-08-08 21:53] kekoziar commented on #687
Also, I followed the instructions listed, while accepting the defaults on the new screens. It installed and seems to work okay.   I thought I was also taking screenshots during the installation, but something went awry.  I'll redo it when I get a chance.

[2020-08-11 10:11] fmichonneau commented on #687
Thanks for checking @kekoziar! I'm relieved that nano is still an option :+1:

[2020-08-19 00:48] chendaniely commented on #687
~Somewhere on the swc internet I mentioned you need to "scroll up" to see Nano, can't find it any more :(~ Sorry I thought I fixed it when I fixed this: https://github.com/svigneau/2020-06-09-uofdelaware-online/pull/2

But There is now a new screen between the existing steps

[code]

it looks like this:

![image](https://user-images.githubusercontent.com/5782147/90579526-4e1aa580-e194-11ea-9320-2f

[2020-08-27 09:09] marioa opened #690 "Easy accessibility fix in template"
I run a web page generated from the template through an accessibility checker (the UK is introducing accessibility legislation), mainly https://achecker.ca/ it reported 3 problems all coming from the same line in the file _includes/navbar.html  in line 99 you have:
[code]
if you change this to:
[code]
it fixes the problem, i.e. added a `title` attribute. The accessibility checker suggests other wa

[2020-08-28 17:11] #690 closed, assigned to ErinBecker

[2020-08-28 17:12] ErinBecker commented on #690
Thanks for the issue @marioa! I've made this change. Please do let us know if you find any other accessibility issues.

[2020-09-02 18:55] caredg opened #693 "Search window in workshop-template shows "undefined" site"
Not sure if this is supposed to be like that, but the google_search() window in the workshop-template nav bar does not seem to get the site correctly.  It shows "undefined".  This does not happen with the lessons search box, which seems to perform the search within the correct site.  I looked at a few workshop sites and they all seem to have this in common.

[2020-09-09 18:02] AllenDowney opened #694 "Missing info in instructions"
In the README, the instructions for creating the repository do not say whether the checkbutton "Include all branches" should be selected.

(This might be something new on GitHub.)

[2020-09-09 18:30] AllenDowney opened #695 "Unclear instruction in customization.md"
In the following paragraph:

"You should edit the sections titled Schedule and Syllabus so that they show what you’re actually planning to teach and when. These files are located in the appropriate workshop folder (dc, lc or swc) inside the _includes folder."

It is not clear whether we should be editing these sections in index.md or the contents of the files in the _includes folder.

[2020-09-10 14:58] brownsarahm commented on #694
Thanks @AllenDowney ! I added a PR that answers this (leave it unchecked)

[2020-09-10 15:58] AllenDowney commented on #694
Thanks!

On Thu, Sep 10, 2020, at 10:58 AM, Sarah Brown wrote:

[2020-09-15 05:49] natbutter opened #697 "Typo in Creating a Repository section"
Extra t in https, in part6 part of the "Creating a Repository" section...

6. Your new website will be rendered at **htttps**://your_username.github.io/YYYY-MM-DD-site. For example, if your username is gvwilson, the website's URL will be https://gvwilson.github.io/2016-12-01-miskatonic.

[2020-09-15 13:12] #697 closed, assigned to nobody

[2020-09-15 13:12] fmichonneau commented on #697
Thanks for spotting this!

[2020-09-15 13:48] #694 closed, assigned to nobody

[2020-09-15 14:29] #695 closed, assigned to nobody

[2020-09-16 14:01] #693 closed, assigned to nobody

[2020-09-16 14:03] fmichonneau commented on #693
Thank you for spotting this!

[2020-09-18 14:32] rosselton opened #699 "Tip for installing Jupyter Notebook for users who have not used Anaconda"
I was unable to install Anaconda correctly on my laptop running Windows 10 (Enterprise) and ended up doing a direct download and installation of Python 3.7 from the Python website. I also installed Jupyter Notebook using pip. Might it be worthwhile adding a note about using pip for those who find themselves in the same position?

[code]
Maybe something like 'Alternatively, for those who already ha

[2020-09-18 16:08] brownsarahm commented on #699
Thanks for that tip!  To keep the installation instructions as simple as possible (they're already long), the best place for this is the configuration troubleshooting wiki: https://github.com/carpentries/workshop-template/wiki/Configuration-Problems-and-Solutions

Also, all python workshops use the install instructions hosted in this repo (Data carpentry workshops have their instructions hosted se

[2020-09-18 16:17] brownsarahm commented on #669
I made a PR about the breakout rooms to the online workshop recommendations and I think we've updated the template for online workshops, so that we can close this issue now.

Feel free to comment if you disagree and we can continue discussion.

[2020-09-18 16:17] #669 closed, assigned to nobody

[2020-09-28 22:19] lachlandeer opened #700 "workshop template for DC-Economics"
At present there is not a preconfigured workshop template for the Economics lesson for Data Carpentry.

As a workaround i rewrote the content for part of the social science workshop so that I could render the site in this repo

https://github.com/lachlandeer/2020-10-26-american-online-economics

I propose taking the reworked content from here and adding it as its own "if-else" options so that from

[2020-09-29 03:24] lachlandeer opened #701 "schedule and syllabus for DC social science"
Currently there is no schedule or syllabus for the python flavor of the data carpentry social science workshop.

Would be good to add one so that instructors dont have to manually pull one together

[2020-09-29 15:09] fmichonneau commented on #701
Hi @lachlandeer there isn't one at the moment because this lesson is still in alpha. Lessons/curricula get added to the workshop template when they reach beta or are fully released.

[2020-09-29 15:12] fmichonneau commented on #700
As with #701, the economics curriculum is still in early stages of development and therefore not yet part of the workshop template.

[2020-09-30 08:22] rosselton commented on #699
Thanks Sarah! I've added this to the wiki.

[2020-09-30 08:22] #699 closed, assigned to nobody

[2020-09-30 18:59] lachlandeer commented on #700
noted!

[2020-10-02 02:48] biotemon opened #702 "Problems setting up a workshop page"
Hello Carpentries Team,

I am working on a workshop webpage but I am lost trying to fix issues. This is the link to the page: https://biotemon.github.io/2020-10-23-unilibrebaq/

1.  I would like to fix the Syllabus section. Could you please explain to me how to fix the Syllabus section?

2. There is a duplication of the "Install the videoconferencing client". How can I fix this?

3. I have seen in

[2020-10-03 08:01] fmichonneau commented on #702
hi @biotemon
I left some comments in your commits to point out the things that need to be fixed for points 1 and 2.
For point 3, there are several ways of doing it and it depends on what exactly you are trying to achieve. May I suggest you look for "image in bootstrap jumbotron" in your search engine to see if you find a solution that works for you?

[2020-10-03 08:01] #702 closed, assigned to nobody

[2020-10-06 14:13] mikerenfro commented on #589
At least in macOS 10.14 (the only version I can easily get a fresh installation of), running `git` with nothing installed creates a large dialog box reading "The 'git' command requires the command line developer tools. Would you like to install the tools now?" with a additional paragraph of "Choose Install to continue. Choose Get Xcode to install Xcode and the command line developer tools from the

[2020-10-06 22:02] liqq1024 commented on #685
I have installed the Git Bash version 2.28.0 on Windows. Comparing with the current installation instructions [https://carpentries.github.io/workshop-template/#shell](url), the installation instruction2.2 should be updated.

For the new version, the default editor is VIM, and in the drop-down menu, NANO does not exist anymore. Instead, the Git installer recommends some  GUI editors. So if users st

[2020-10-07 18:45] zkamvar commented on #685
@liqq1024, you are correct that the instructions should be updated, but the NANO editor is still available, **it's the menu item that sits just above the vim editor** (you'll notice that the screenshot of your window shows the scroll bar is not centered between the two arrows). It's one of those frustrating dark patterns that Git for Windows has adopted and generally poor design. I really don't un

[2020-10-07 19:20] zhiruiluo commented on #685
Thank you, you are right, I reinstalled the Git bash, and notice the nano option that has been hidden. In the case of misleading of the last screenshot, I upload the new screenshot here.
![nano](https://user-images.githubusercontent.com/50068224/95377640-18df2980-08a0-11eb-90ba-f300cc1fc630.png)